Repository shaneholloman/worktrunk: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock, no-dbg, no-manual-ansi

cargo-lock:
  name: cargo-lock
  description: Ensure Cargo.lock is in sync with Cargo.toml
  language: system
  entry: cargo check --locked
  pass_filenames: false

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

no-manual-ansi:
  name: no-manual-ansi
  description: Use anstyle/osc8/strip-ansi-escapes instead of manual ANSI codes
  language: pygrep
  entry: \\x1b\[

Refactor Twitter thread structure with omnibus demo
  docs/demos/CLAUDE.md
  docs/demos/build
  docs/demos/tapes/wt-devserver.tape
  docs/static/demos/twitter/thread.md
Due: none

Update demo user display name to wt
  docs/demos/shared/lib.py
Due: none

Add omnibus demo to docs and fix shell-init race condition (#309)
  .config/lychee.toml
  README.md
  docs/content/worktrunk.md
  docs/demos/CLAUDE.md
  docs/demos/build
  docs/demos/shared/lib.py
  src/output/handlers.rs
Due: no-dbg, no-manual-ansi

Replace --force flag with --yes throughout codebase
  .claude/skills/release/SKILL.md
  .github/workflows/ci.yaml
  CLAUDE.md
  docs/demos/shared/lib.py
  tests/integration_tests/approval_save.rs
  tests/integration_tests/approval_ui.rs
  tests/integration_tests/configure_shell.rs
  tests/integration_tests/merge.rs
  tests/integration_tests/post_start_commands.rs
  tests/integration_tests/shell_wrapper.rs
  tests/integration_tests/switch.rs
  tests/snapshots/integration__integration_tests__approval_ui__yes_bypasses_tty_check.snap
  tests/snapshots/integration__integration_tests__approval_ui__yes_does_not_save_approvals_first_run.snap
  tests/snapshots/integration__integration_tests__approval_ui__yes_does_not_save_approvals_second_run.snap
  tests/snapshots/integration__integration_tests__switch__switch_no_hooks_with_yes.snap
Due: no-dbg

Release v0.8.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock

Extract remote branch filtering to Repository method
  src/commands/list/collect.rs
  src/git/repository/mod.rs
  src/llm.rs
Due: no-dbg, no-manual-ansi

Add MIT and Apache-2.0 license files (#329)
  LICENSE
Due: none

fix: use --root-dir for lychee instead of version pin (#341)
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: none

fix(demos): fix split command timing in omnibus demo (#360)
  docs/demos/CLAUDE.md
  docs/demos/tapes/wt-zellij-omnibus.tape
Due: none

fix: show hook path when shell integration inactive (#385)
  src/commands/merge.rs
  src/commands/worktree.rs
  src/main.rs
  src/output/global.rs
  src/output/handlers.rs
  src/output/mod.rs
  tests/snapshots/integration__integration_tests__merge__merge_post_merge_command_failure.snap
  tests/snapshots/integration__integration_tests__merge__merge_post_merge_command_named.snap
  tests/snapshots/integration__integration_tests__merge__merge_post_merge_command_success.snap
  tests/snapshots/integration__integration_tests__merge__merge_post_merge_runs_with_nothing_to_merge.snap
  tests/snapshots/integration__integration_tests__merge__readme_example_complex.snap
  tests/snapshots/integration__integration_tests__merge__readme_example_hooks_post_create.snap
  tests/snapshots/integration__integration_tests__post_start_commands__both_create_and_start.snap
  tests/snapshots/integration__integration_tests__post_start_commands__execute_with_post_start.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_complex_shell.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_create_with_command.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_invalid_command.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_log_captures_output.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_multiline_with_newlines.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_multiple_background.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_separate_logs.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_single_background.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_and_project_post_start.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_start_executes.snap
Due: no-dbg, no-manual-ansi

Clarify SIGTTOU issue in nextest config and docs
  .config/nextest.toml
  CLAUDE.md
  tests/common/mod.rs
Due: no-dbg

Consolidate parsing and utility functions into shared modules (#389)
  src/commands/command_executor.rs
  src/commands/configure_shell.rs
  src/commands/list/ci_status.rs
  src/commands/list/collect.rs
  src/commands/list/layout.rs
  src/commands/select.rs
  src/git/diff.rs
  src/git/mod.rs
  src/git/repository/mod.rs
  src/git/url.rs
  src/shell.rs
Due: no-dbg, no-manual-ansi

refactor: multi-dimensional simplifications (hooks, caching, sorting) (#404)
  .claude/rules/caching-strategy.md
  src/commands/hooks.rs
  src/commands/list/collect.rs
  src/git/repository/mod.rs
Due: no-dbg, no-manual-ansi

Fix git worktree unlock hint to use path instead of branch (#412)
  src/commands/repository_ext.rs
  src/git/error.rs
  tests/snapshots/integration__integration_tests__remove__remove_locked_current_worktree.snap
  tests/snapshots/integration__integration_tests__remove__remove_locked_detached_multi.snap
  tests/snapshots/integration__integration_tests__remove__remove_locked_detached_worktree.snap
  tests/snapshots/integration__integration_tests__remove__remove_locked_worktree.snap
  tests/snapshots/integration__integration_tests__remove__remove_locked_worktree_no_reason.snap
Due: no-dbg, no-manual-ansi

Add URL to statusline output
  src/commands/statusline.rs
Due: no-dbg, no-manual-ansi

Update merge help text to use generic terminology
  docs/content/merge.md
  src/cli.rs
  tests/snapshots/integration__integration_tests__help__help_md_merge.snap
  tests/snapshots/integration__integration_tests__help__help_merge_long.snap
  tests/snapshots/integration__integration_tests__help__help_page_merge.snap
Due: no-dbg

Release v0.9.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock

fix(ci): fix claude-ci-fix workflow parameter and permissions (#457)
  .github/workflows/claude-ci-fix.yaml
Due: none

docs: emphasize .worktreeinclude in copy-ignored section (#479)
  .claude-plugin/skills/worktrunk/reference/tips-patterns.md
  docs/content/tips-patterns.md
Due: none

Add benchmark for GH #461: branches at different history depths (#488)
  benches/CLAUDE.md
  benches/list.rs
Due: no-dbg, no-manual-ansi

fix(test): normalize PTY blank lines in shell install tests (#499)
  tests/integration_tests/configure_shell.rs
  tests/snapshots/integration__integration_tests__configure_shell__pty_tests__install_preview_declined.snap
  tests/snapshots/integration__integration_tests__configure_shell__pty_tests__install_preview_with_gutter.snap
Due: no-dbg

Refactor HookType to use strum's EnumIter derive
  README.md
  src/commands/hook_commands.rs
  src/commands/project_config.rs
  src/git/mod.rs
Due: no-dbg, no-manual-ansi

Refactor: simplify TaskContext and introduce BranchRef type (#523)
  .claude/rules/caching-strategy.md
  src/commands/config.rs
  src/commands/list/ci_status.rs
  src/commands/list/collect.rs
  src/commands/list/collect_progressive_impl.rs
  src/commands/list/model.rs
  src/commands/statusline.rs
  src/commands/worktree.rs
  src/git/mod.rs
  src/git/parse.rs
  src/git/repository/mod.rs
  src/git/repository/tests.rs
  src/git/test.rs
Due: no-dbg, no-manual-ansi

Refactor link and code styling for improved UX
  docs/sass/custom.scss
  docs/templates/_variables.html
Due: none

Improve wt-switch demo with better hooks and Claude instruction (#529)
  docs/demos/build
  docs/demos/tapes/wt-switch.tape
Due: none

Simplify detect_default_branch documentation
  src/git/repository/mod.rs
Due: no-dbg, no-manual-ansi

feat(select): add --branches and --remotes flags (#538)
  .claude-plugin/skills/worktrunk/reference/select.md
  docs/content/select.md
  src/cli/mod.rs
  src/commands/select.rs
  src/main.rs
  tests/integration_tests/select.rs
Due: no-dbg, no-manual-ansi

docs: add tmux pattern for agent handoffs (#501)
  .claude-plugin/skills/worktrunk/SKILL.md
  .claude-plugin/skills/worktrunk/reference/tips-patterns.md
  docs/content/tips-patterns.md
Due: none

docs: add performance benchmarks to copy-ignored documentation (#560)
  .claude-plugin/skills/worktrunk/reference/step.md
  docs/content/step.md
  src/cli/step.rs
Due: no-dbg, no-manual-ansi

docs: clarify --force vs -D flags in wt remove (#565)
  .claude-plugin/skills/worktrunk/reference/remove.md
  docs/content/remove.md
  src/cli/mod.rs
  tests/snapshots/integration__integration_tests__help__help_remove_long.snap
Due: no-dbg, no-manual-ansi

Add ∅ symbol for orphan branches in main↕ column (#571)
  src/commands/list/collect.rs
  src/commands/list/collect_progressive_impl.rs
  src/commands/list/layout.rs
  src/commands/list/model.rs
  src/git/repository/diff.rs
  tests/snapshots/integration__integration_tests__list__list_handles_orphan_branch.snap
Due: no-dbg, no-manual-ansi

Update CHANGELOG for parallelization improvements
  CHANGELOG.md
Due: none

Release v0.13.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock

docs: document installer PATH modification behavior (#599)
  dist-workspace.toml
Due: none

fix: `wt step copy-ignored` fails in bare repository setups (#600)
  src/commands/step_commands.rs
  tests/integration_tests/step_copy_ignored.rs
  tests/snapshots/integration__integration_tests__step_copy_ignored__copy_ignored_bare_repo.snap
  tests/snapshots/integration__integration_tests__step_copy_ignored__copy_ignored_no_default_branch_worktree.snap
Due: no-dbg, no-manual-ansi

ci(benchmarks): run all benchmarks instead of just completion (#605)
  .github/workflows/ci.yaml
Due: none

refactor: inline user config docs into CLI help (#618)
  .claude-plugin/skills/worktrunk/reference/config.md
  dev/config.example.toml
  docs/content/config.md
  src/cli/mod.rs
  tests/integration_tests/readme_sync.rs
  tests/snapshots/integration__integration_tests__help__help_config_create.snap
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
Due: no-dbg, no-manual-ansi

fix(docs): prevent code block layout jump on page load (#622)
  docs/static/code-copy.js
  docs/templates/base.html
Due: none

feat: add visual hierarchy to help headers (#623)
  .claude-plugin/skills/worktrunk/reference/config.md
  .claude-plugin/skills/worktrunk/reference/list.md
  docs/content/config.md
  docs/content/list.md
  src/cli/config.rs
  src/cli/mod.rs
  src/md_help.rs
  tests/snapshots/integration__integration_tests__help__help_config_create.snap
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
  tests/snapshots/integration__integration_tests__help__help_config_show.snap
  tests/snapshots/integration__integration_tests__help__help_config_state.snap
  tests/snapshots/integration__integration_tests__help__help_config_state_ci_status.snap
  tests/snapshots/integration__integration_tests__help__help_config_state_default_branch.snap
  tests/snapshots/integration__integration_tests__help__help_config_state_logs.snap
  tests/snapshots/integration__integration_tests__help__help_config_state_marker.snap
  tests/snapshots/integration__integration_tests__help__help_config_state_previous_branch.snap
  tests/snapshots/integration__integration_tests__help__help_hook_approvals.snap
  tests/snapshots/integration__integration_tests__help__help_list_long.snap
  tests/snapshots/integration__integration_tests__help__help_list_narrow_80.snap
  tests/snapshots/integration__integration_tests__help__help_merge_long.snap
  tests/snapshots/integration__integration_tests__help__help_remove_long.snap
  tests/snapshots/integration__integration_tests__help__help_step_long.snap
  tests/snapshots/integration__integration_tests__help__help_switch_long.snap
Due: no-dbg, no-manual-ansi

Path conditions:
  cargo-lock: any of: (Cargo\.toml|Cargo\.lock)$
  no-dbg: any of: \.rs$
  no-manual-ansi: any of: \.rs$, but not: ^(tests/|.*_test\.rs$|src/styling/(line|mod|format)\.rs$|src/output/global\.rs$|src/cli\.rs$)
