Repository shaneholloman/worktrunk: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '.*\.snap$'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  # pre-commit autoupdate reverts to mutable v1 tag; update manually
  - repo: https://github.com/crate-ci/typos
    rev: v1.41.0
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]
  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.22.0
    hooks:
      # Check links using .config/lychee.toml exclusions
      # Uses lychee-system (requires `cargo install lychee`) to avoid /bin/bash dependency on Windows
      - id: lychee-system
        types: [markdown]
        args:
          - --config=.config/lychee.toml
  - repo: local
    hooks:
      - id: cargo-lock
        name: cargo-lock
        description: Ensure Cargo.lock is in sync with Cargo.toml
        language: system
        entry: cargo check --locked
        pass_filenames: false
        files: (Cargo\.toml|Cargo\.lock)$
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
      - id: no-manual-ansi
        name: no-manual-ansi
        description: Use anstyle/osc8/strip-ansi-escapes instead of manual ANSI codes
        language: pygrep
        types: ["rust"]
        entry: '\\x1b\['
        # format.rs strips ANSI codes injected by wrap_ansi crate
        # select.rs tests verify ANSI dimming behavior
        exclude: '^(tests/|.*_test\.rs$|src/styling/(mod|format)\.rs$|src/commands/select/)'
      - id: no-std-canonicalize-in-tests
        name: no-std-canonicalize-in-tests
        description: Use dunce::canonicalize in tests to avoid Windows \\?\ prefix issues
        language: pygrep
        entry: '\.canonicalize\(\)'
        files: '^tests/'
      - id: no-direct-cmd-output
        name: no-direct-cmd-output
        description: Use shell_exec::Cmd instead of cmd.output() for consistent logging
        language: pygrep
        types: ["rust"]
        entry: '\.output\(\)'
        # shell_exec.rs: defines Cmd which legitimately calls .output()
        # select.rs: skim API's selected.output() is not Command::output()
        # tests/benches: test utilities run commands directly
        # src/config/{test,expansion,mod}.rs: TestRepo test fixtures use git init directly
        # src/config/user/tests.rs: TestRepo test fixtures use git init directly
        # src/styling/mod.rs: terminal width detection probes should be silent/quick
        exclude: '^(src/shell_exec\.rs|src/commands/select/|src/config/(test|expansion|mod)\.rs|src/config/user/tests\.rs|src/styling/mod\.rs|tests/|benches/)'

ci:
  # pre-commit.ci doesn't have Rust toolchain, so skip Rust-specific hooks.
  # Network access also isn't supported, so skip lychee-system.
  skip: [fmt, clippy, lychee-system, cargo-lock]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

test(approvals): fix project_id mismatch in clear-approvals --global test (#2297)
  tests/integration_tests/approvals.rs
Due: no-dbg, no-std-canonicalize-in-tests

feat(alias): route --key=value via template refs, add -- escape, drop --var (#2287)
  docs/content/extending.md
  skills/worktrunk/reference/extending.md
  src/commands/alias.rs
  src/commands/mod.rs
  src/config/expansion.rs
  src/config/mod.rs
  src/main.rs
  tests/integration_tests/approval_ui.rs
  tests/integration_tests/step_alias.rs
  tests/snapshots/integration__integration_tests__step_alias__step_alias_binds_referenced_var.snap
  tests/snapshots/integration__integration_tests__step_alias__step_alias_binds_space_separated_var.snap
  tests/snapshots/integration__integration_tests__step_alias__step_alias_double_dash_escape.snap
  tests/snapshots/integration__integration_tests__step_alias__step_alias_multi_step_binds_across_pipeline.snap
  tests/snapshots/integration__integration_tests__step_alias__step_alias_unreferenced_key_forwards_to_args.snap
  tests/snapshots/integration__integration_tests__step_alias__step_alias_user_var_overshadows_builtin.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(hook): inject `target` symmetrically on switch/create/start (#2295)
  docs/content/hook.md
  skills/worktrunk/reference/hook.md
  src/cli/mod.rs
  src/commands/handle_switch.rs
  src/commands/worktree/switch.rs
  src/config/expansion.rs
  tests/integration_tests/post_start_commands.rs
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_target_variable.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_switch_target_variable_existing.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

feat(config): add wt config alias show and dry-run subcommands (#2291)
  docs/content/config.md
  docs/content/extending.md
  skills/worktrunk/reference/config.md
  skills/worktrunk/reference/extending.md
  src/cli/config.rs
  src/cli/mod.rs
  src/commands/alias.rs
  src/commands/config/alias.rs
  src/commands/config/mod.rs
  src/commands/config/snapshots/wt__commands__config__alias__tests__format_entry_dry_run_pipeline.snap
  src/commands/config/snapshots/wt__commands__config__alias__tests__format_entry_show_pipeline.snap
  src/commands/config/snapshots/wt__commands__config__alias__tests__format_entry_show_single.snap
  src/commands/hooks.rs
  src/commands/mod.rs
  src/completion.rs
  src/main.rs
  tests/integration_tests/completion.rs
  tests/integration_tests/output_system_guard.rs
  tests/integration_tests/step_alias.rs
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
  tests/snapshots/integration__integration_tests__help__help_config_short.snap
  tests/snapshots/integration__integration_tests__step_alias__config_alias_dry_run.snap
  tests/snapshots/integration__integration_tests__step_alias__config_alias_dry_run_positional_args.snap
  tests/snapshots/integration__integration_tests__step_alias__config_alias_dry_run_vars_across_steps.snap
  tests/snapshots/integration__integration_tests__step_alias__config_alias_show_pipeline.snap
  tests/snapshots/integration__integration_tests__step_alias__config_alias_show_single.snap
  tests/snapshots/integration__integration_tests__step_alias__config_alias_show_unknown_no_suggestions.snap
  tests/snapshots/integration__integration_tests__step_alias__config_alias_show_unknown_suggests.snap
  tests/snapshots/integration__integration_tests__step_alias__config_alias_show_user_and_project.snap
  tests/snapshots/integration__integration_tests__step_alias__project_alias.snap
  tests/snapshots/integration__integration_tests__step_alias__retired_dry_run_flag.snap
  tests/snapshots/integration__integration_tests__step_alias__step_alias_binds_referenced_var.snap
  tests/snapshots/integration__integration_tests__step_alias__step_alias_binds_space_separated_var.snap
  tests/snapshots/integration__integration_tests__step_alias__user_alias.snap
  tests/snapshots/integration__integration_tests__step_alias__user_and_project_append.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs(skill): expand worktrunk description with lexical triggers (#2301)
  docs/static/.well-known/agent-skills/index.json
  skills/worktrunk/SKILL.md
Due: none

feat(hook): expose pr_number and pr_url to PR/MR worktree hooks (#2300)
  docs/content/hook.md
  skills/worktrunk/reference/hook.md
  src/cli/mod.rs
  src/commands/handle_switch.rs
  src/commands/picker/mod.rs
  src/commands/worktree/switch.rs
  src/commands/worktree/types.rs
  src/config/expansion.rs
  tests/integration_tests/shell_wrapper.rs
  tests/integration_tests/switch.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(commands): share InvalidSubcommand error builder across typo sites (#2308)
  src/commands/alias.rs
  src/commands/config/alias.rs
  src/commands/custom.rs
  src/commands/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(switch): resolve symbolic target (-, @, ^) before pre-switch hooks (#2310)
  src/commands/handle_switch.rs
  tests/integration_tests/user_hooks.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs(extending): refine alias recipes and template prose (#2317)
  docs/content/extending.md
  skills/worktrunk/reference/extending.md
Due: none

fix(docs): exclude alternate pages from sitemap and add trailing slashes to nav (#2320)
  docs/config.toml
  docs/templates/sitemap.xml
Due: none

fix(docs): style tables nested in `<details>` blocks (#2325)
  docs/sass/custom.scss
Due: none

docs(hook): consolidate copy-ignored recipe and trim redundant examples (#2323)
  docs/content/hook.md
  docs/content/tips-patterns.md
  skills/worktrunk/reference/hook.md
  skills/worktrunk/reference/tips-patterns.md
  src/cli/mod.rs
  src/help.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

perf(alias): O(1) upstream lookup in template context (#2337)
  src/commands/command_executor.rs
  src/git/repository/branch.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

perf(git): use upstream_single() for single-branch lookups (#2338)
  src/commands/worktree/switch.rs
  src/git/repository/branch.rs
  src/git/repository/integration.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

bench: invalidate wt caches per iteration in remove/TTFO benches (#2341)
  benches/CLAUDE.md
  benches/remove.rs
  benches/time_to_first_output.rs
  tests/helpers/wt-perf/src/lib.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests

docs(hook): restructure recipes list and callout for copy-ignored (#2349)
  docs/content/hook.md
  skills/worktrunk/reference/hook.md
  src/cli/mod.rs
  src/help.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

perf(alias): batch rev-parse calls in alias dispatch (#2352)
  src/git/repository/config.rs
  src/git/repository/working_tree.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

perf(repo): skip submodule rev-parse probe via core.worktree in bulk config (#2350)
  src/git/repository/mod.rs
  src/git/repository/tests.rs
  src/git/repository/worktrees.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(llm): handle CRLF line endings in parse_diff_sections (#2356)
  src/llm.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(step): gate copy-ignored self-lower on WORKTRUNK_FOREGROUND=-1 (#2358)
  docs/content/step.md
  skills/worktrunk/reference/step.md
  src/cli/step.rs
  src/commands/process.rs
  src/commands/step_commands.rs
  src/priority.rs
  tests/integration_tests/user_hooks.rs
  tests/snapshots/integration__integration_tests__user_hooks__background_hook_env_var_visible.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(list): qualify remote refs so same-named local branch can't shadow them (#2365)
  src/commands/list/collect/tasks.rs
  src/git/mod.rs
  tests/integration_tests/list.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(repo): return struct from prewarm_info and fold HEAD SHA into the batch (#2367)
  src/commands/command_executor.rs
  src/git/repository/config.rs
  src/git/repository/mod.rs
  src/git/repository/working_tree.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor(repo): filter Branch::remotes() over the shared remote-branch inventory (#2371)
  src/git/repository/branch.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

perf(repo): cache list_worktrees on RepoCache (#2375)
  src/git/repository/mod.rs
  src/git/repository/worktrees.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

test(pty): raise prompt-marker timeout to 30s for parallel-load headroom (#2376)
  tests/common/pty.rs
Due: no-dbg, no-std-canonicalize-in-tests

perf(repo): resolve is_remote_tracking_branch via cached inventory (#2377)
  src/git/repository/remotes.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor(git): store full refs in BranchRef, not short name + is_remote (#2378)
  src/commands/list/ci_status/mod.rs
  src/commands/list/collect/tasks.rs
  src/git/mod.rs
  src/git/repository/diff.rs
  src/git/repository/integration.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

docs(changelog): rewrite 0.44.0 post-create bullet to match #1571 plan (#2395)
  CHANGELOG.md
Due: none

docs(site): add llms.txt + .md companions (#2404)
  docs/static/claude-code.md
  docs/static/config.md
  docs/static/extending.md
  docs/static/faq.md
  docs/static/hook.md
  docs/static/list.md
  docs/static/llm-commits.md
  docs/static/llms.txt
  docs/static/merge.md
  docs/static/remove.md
  docs/static/step.md
  docs/static/switch.md
  docs/static/tips-patterns.md
  docs/static/worktrunk.md
  tests/integration_tests/readme_sync.rs
Due: no-dbg, no-std-canonicalize-in-tests

docs(tend): lead bug-triage asks with `wt -vv` diagnostic (#2415)
  .claude/skills/running-tend/SKILL.md
Due: none

refactor(docs): fix blank-line cmd-stream corruption; share AUTO-GENERATED marker constants (#2417)
  docs/CLAUDE.md
  docs/content/hook.md
  docs/content/step.md
  docs/templates/shortcodes/terminal.html
  src/docs.rs
  tests/integration_tests/readme_sync.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(docs): unify AUTO-GENERATED marker form; share constants across crate boundary (#2418)
  docs/content/claude-code.md
  docs/content/llm-commits.md
  docs/content/tips-patterns.md
  docs/content/worktrunk.md
  src/docs.rs
  src/help.rs
  tests/integration_tests/readme_sync.rs
  tests/integration_tests/user_hooks.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

feat(remove): add TTY progress spinner to --foreground (#2420)
  .claude/skills/writing-user-outputs/SKILL.md
  benches/cow_copy.rs
  src/commands/step_commands.rs
  src/copy.rs
  src/lib.rs
  src/output/handlers.rs
  src/progress.rs
  src/remove_dir.rs
  tests/common/mod.rs
  tests/snapshots/integration__integration_tests__remove__pre_remove_hook_executes.snap
  tests/snapshots/integration__integration_tests__remove__pre_remove_hook_runs_for_detached_head.snap
  tests/snapshots/integration__integration_tests__remove__pre_remove_hook_skipped_with_no_hooks.snap
  tests/snapshots/integration__integration_tests__remove__pre_remove_hook_template_variables.snap
  tests/snapshots/integration__integration_tests__remove__remove_default_branch_force_delete.snap
  tests/snapshots/integration__integration_tests__remove__remove_detached_worktree_by_relative_path.snap
  tests/snapshots/integration__integration_tests__remove__remove_foreground.snap
  tests/snapshots/integration__integration_tests__remove__remove_foreground_detached_head.snap
  tests/snapshots/integration__integration_tests__remove__remove_foreground_no_delete_branch.snap
  tests/snapshots/integration__integration_tests__remove__remove_foreground_no_delete_branch_unmerged.snap
  tests/snapshots/integration__integration_tests__remove__remove_foreground_unmerged.snap
  tests/snapshots/integration__integration_tests__remove__remove_main_vs_linked__from_linked_succeeds.snap
  tests/snapshots/integration__integration_tests__remove__remove_path_mismatch_warning_foreground.snap
  tests/snapshots/integration__integration_tests__step_prune__prune_removes_integrated_detached.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(docs): drop mirrored help-page close; align convert_console_blocks_in_docs error channel (#2422)
  docs/CLAUDE.md
  docs/content/config.md
  docs/content/hook.md
  docs/content/list.md
  docs/content/merge.md
  docs/content/remove.md
  docs/content/step.md
  docs/content/switch.md
  src/docs.rs
  src/help.rs
  tests/integration_tests/readme_sync.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

chore: bump MSRV from 1.93 to 1.94 (#2423)
  Cargo.toml
  tests/helpers/wt-perf/Cargo.toml
Due: cargo-lock, no-std-canonicalize-in-tests

docs: document conda-forge / pixi installation (#2425)
  README.md
  docs/content/worktrunk.md
  skills/worktrunk/reference/worktrunk.md
Due: none

refactor(tests): align two sync helpers with error channel; share docs page-list (#2427)
  tests/integration_tests/readme_sync.rs
Due: no-dbg, no-std-canonicalize-in-tests

Release v0.45.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/static/.well-known/agent-skills/index.json
  skills/worktrunk/SKILL.md
Due: cargo-lock

chore: use full name on LICENSE copyright lines (#2435)
  LICENSE
Due: none

fix(deprecate): warn on `--claude-code` flag and `wt hook post-create` alias (#2436)
  src/cli/hook.rs
  src/main.rs
  tests/integration_tests/statusline.rs
  tests/integration_tests/user_hooks.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output
