Repository shaneholloman/worktrunk: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '.*\.snap$'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  # pre-commit autoupdate reverts to mutable v1 tag; update manually
  - repo: https://github.com/crate-ci/typos
    rev: v1.41.0
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]
  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.22.0
    hooks:
      # Check links using .config/lychee.toml exclusions
      # Uses lychee-system (requires `cargo install lychee`) to avoid /bin/bash dependency on Windows
      - id: lychee-system
        types: [markdown]
        args:
          - --config=.config/lychee.toml
  - repo: local
    hooks:
      - id: cargo-lock
        name: cargo-lock
        description: Ensure Cargo.lock is in sync with Cargo.toml
        language: system
        entry: cargo check --locked
        pass_filenames: false
        files: (Cargo\.toml|Cargo\.lock)$
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
      - id: no-manual-ansi
        name: no-manual-ansi
        description: Use anstyle/osc8/strip-ansi-escapes instead of manual ANSI codes
        language: pygrep
        types: ["rust"]
        entry: '\\x1b\['
        # format.rs strips ANSI codes injected by wrap_ansi crate
        # select.rs tests verify ANSI dimming behavior
        exclude: '^(tests/|.*_test\.rs$|src/styling/(mod|format)\.rs$|src/commands/select/)'
      - id: no-std-canonicalize-in-tests
        name: no-std-canonicalize-in-tests
        description: Use dunce::canonicalize in tests to avoid Windows \\?\ prefix issues
        language: pygrep
        entry: '\.canonicalize\(\)'
        files: '^tests/'
      - id: no-direct-cmd-output
        name: no-direct-cmd-output
        description: Use shell_exec::Cmd instead of cmd.output() for consistent logging
        language: pygrep
        types: ["rust"]
        entry: '\.output\(\)'
        # shell_exec.rs: defines Cmd which legitimately calls .output()
        # select.rs: skim API's selected.output() is not Command::output()
        # tests/benches: test utilities run commands directly
        # src/config/{test,expansion,mod}.rs: TestRepo test fixtures use git init directly
        # src/config/user/tests.rs: TestRepo test fixtures use git init directly
        # src/styling/mod.rs: terminal width detection probes should be silent/quick
        exclude: '^(src/shell_exec\.rs|src/commands/select/|src/config/(test|expansion|mod)\.rs|src/config/user/tests\.rs|src/styling/mod\.rs|tests/|benches/)'

ci:
  # pre-commit.ci doesn't have Rust toolchain, so skip Rust-specific hooks.
  # Network access also isn't supported, so skip lychee-system.
  skip: [fmt, clippy, lychee-system, cargo-lock]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

docs: add guidelines to prevent panics in fallible code (#1110)
  .claude/skills/pr-review/SKILL.md
  CLAUDE.md
  src/commands/list/collect/execution.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

test: regression test for clone-bare repo list (#945) (#1112)
  tests/integration_tests/bare_repository.rs
Due: no-dbg, no-std-canonicalize-in-tests

feat(remove): instant worktree removal via move-then-delete (#773)
  src/commands/process.rs
  src/output/global.rs
  src/output/handlers.rs
  tests/integration_tests/remove.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs: update stale documentation and fix version snapshot filter (#1113)
  .claude/skills/pr-review/SKILL.md
  CLAUDE.md
  dev/config.example.toml
  docs/content/config.md
  docs/content/step.md
  docs/demos/CLAUDE.md
  skills/worktrunk/SKILL.md
  skills/worktrunk/reference/config.md
  skills/worktrunk/reference/step.md
  src/cli/config.rs
  src/cli/mod.rs
  tests/common/mod.rs
  tests/integration_tests/help.rs
  tests/snapshots/integration__integration_tests__help__help_config_create.snap
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
  tests/snapshots/integration__integration_tests__help__help_config_state_logs.snap
  tests/snapshots/integration__integration_tests__help__help_step_long.snap
  tests/snapshots/integration__integration_tests__help__version.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs: promote PR/MR support out of experimental (#1114)
  docs/content/switch.md
  skills/worktrunk/reference/switch.md
  src/cli/mod.rs
  tests/snapshots/integration__integration_tests__help__help_switch_long.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

chore: consolidate Claude CI setup into composite action (#1273)
  .github/actions/claude-setup/action.yaml
  .github/workflows/claude-ci-fix.yaml
  .github/workflows/claude-issue-triage.yaml
  .github/workflows/claude-mention.yaml
  .github/workflows/claude-nightly-cleaner.yaml
  .github/workflows/claude-nightly-review-reviewers.yaml
  .github/workflows/claude-renovate.yaml
  .github/workflows/claude-review.yaml
Due: none

fix: use platform-aware config dir for nushell vendor autoload path (#1294)
  src/shell/paths.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

ci: remove dist binary caching from release workflow (#1299)
  .github/workflows/release.yaml
Due: none

fix: strip remote prefix when switching to remote branch from picker (#1266)
  src/commands/worktree/switch.rs
  src/git/repository/remotes.rs
  tests/integration_tests/switch.rs
  tests/snapshots/integration__integration_tests__switch__switch_remote_prefix_slash_branch.snap
  tests/snapshots/integration__integration_tests__switch__switch_remote_prefix_stripped.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(skill): add multi-line suggestion range minimization guidance (#1311)
  .claude/skills/review-pr/SKILL.md
Due: none

docs: use .localhost subdomains instead of .lvh.me for Caddy routing (#1343)
  docs/content/hook.md
  docs/content/tips-patterns.md
  skills/worktrunk/reference/hook.md
  skills/worktrunk/reference/tips-patterns.md
  src/cli/mod.rs
  tests/integration_tests/doc_templates.rs
  tests/integration_tests/shell_wrapper.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(skill): require non-empty dismiss message in review-pr (#1372)
  .claude/skills/review-pr/SKILL.md
Due: none

fix(step): warn when alias shadows a built-in step command (#1389)
  src/commands/alias.rs
  tests/integration_tests/step_alias.rs
  tests/snapshots/integration__integration_tests__step_alias__step_alias_shadows_builtin_plural.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Increase drain timeout from 30s to 120s to fix flaky CI (#1390)
  src/commands/list/collect/mod.rs
  src/commands/list/collect/results.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(running-in-ci): add fork-PR check before pushing commits (#1412)
  .claude/skills/running-in-ci/SKILL.md
Due: none

fix: add --no-session-persistence to Claude commit generation (#1454)
  Taskfile.yaml
  docs/content/config.md
  docs/content/llm-commits.md
  skills/worktrunk/reference/config.md
  skills/worktrunk/reference/llm-commits.md
  src/cli/mod.rs
  src/config/user/sections.rs
  src/output/commit_generation.rs
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(test): update stale doc comment about border character (#1466)
  tests/integration_tests/switch_picker.rs
Due: no-dbg, no-std-canonicalize-in-tests

docs: add manual commit message recipes (#1469)
  docs/content/tips-patterns.md
  skills/worktrunk/reference/tips-patterns.md
Due: none

fix(skill): prevent triage from duplicating co-loaded skill guidance (#1485)
  .claude/skills/triage-issue/SKILL.md
Due: none

docs(list): document placeholder symbols in help text (#1496)
  docs/content/list.md
  skills/worktrunk/reference/list.md
  src/cli/mod.rs
  tests/snapshots/integration__integration_tests__help__help_list_long.snap
  tests/snapshots/integration__integration_tests__help__help_list_narrow_80.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs(switch): document why only switch needs pre-flight template validation (#1504)
  src/commands/handle_switch.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

docs(step): add promote subdoc, improve swap description (#1505)
  docs/content/step.md
  skills/worktrunk/reference/step.md
  src/cli/mod.rs
  src/cli/step.rs
  src/commands/step_commands.rs
  tests/snapshots/integration__integration_tests__help__help_step_long.snap
  tests/snapshots/integration__integration_tests__help__help_step_promote.snap
  tests/snapshots/integration__integration_tests__help__help_step_short.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs(list): rewrite LLM summaries section (#1506)
  docs/content/list.md
  skills/worktrunk/reference/list.md
  src/cli/mod.rs
  tests/snapshots/integration__integration_tests__help__help_list_long.snap
  tests/snapshots/integration__integration_tests__help__help_list_narrow_80.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

feat(docs): style experimental markers as badge pills (#1499)
  dev/config.example.toml
  docs/content/config.md
  docs/content/faq.md
  docs/content/list.md
  docs/content/llm-commits.md
  docs/content/step.md
  docs/sass/custom.scss
  docs/templates/shortcodes/experimental.html
  skills/worktrunk/reference/config.md
  skills/worktrunk/reference/faq.md
  skills/worktrunk/reference/list.md
  skills/worktrunk/reference/llm-commits.md
  src/cli/config.rs
  src/cli/mod.rs
  src/help.rs
  src/md_help.rs
  tests/integration_tests/readme_sync.rs
  tests/snapshots/integration__integration_tests__help__help_config_create.snap
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
  tests/snapshots/integration__integration_tests__help__help_list_long.snap
  tests/snapshots/integration__integration_tests__help__help_list_narrow_80.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs: fix stale function name in docs CLAUDE.md (#1516)
  docs/CLAUDE.md
Due: none

docs(switch): trim upstream tracking, add missing hooks, combine PR/MR sections (#1521)
  README.md
  docs/content/switch.md
  docs/content/worktrunk.md
  skills/worktrunk/reference/switch.md
  skills/worktrunk/reference/worktrunk.md
  src/cli/mod.rs
  tests/snapshots/integration__integration_tests__help__help_switch_long.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(skills): extract inline workflow prompts into skill files (#1535)
  .claude/skills/fix-ci/SKILL.md
  .claude/skills/nightly-cleaner/SKILL.md
  .claude/skills/review-reviewers/SKILL.md
  .claude/skills/running-in-ci/SKILL.md
  .github/workflows/claude-ci-fix.yaml
  .github/workflows/claude-hourly-review-reviewers.yaml
  .github/workflows/claude-nightly-cleaner.yaml
Due: none

fix(review-pr): prevent duplicate approvals and self-approval attempts (#1532)
  .claude/skills/review-pr/SKILL.md
Due: none

docs(skills): require regression tests for nightly bug fixes (#1588)
  .claude/skills/nightly-cleaner/SKILL.md
Due: none

docs: add pnpm post-create example for copy-ignored (#1581)
  docs/content/hook.md
  skills/worktrunk/reference/hook.md
  src/cli/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(ci): deprioritize polling waste in review-reviewers (#1614)
  .claude/skills/review-reviewers/SKILL.md
Due: none

fix(skills): document single review comment fetch endpoint (#1636)
  .claude/skills/running-in-ci/SKILL.md
Due: none

fix(skills): prevent premature thread resolution on self-authored PRs (#1585)
  .claude/skills/review-pr/SKILL.md
Due: none

feat: support path-based switch for detached worktrees (#1680)
  docs/content/remove.md
  skills/worktrunk/reference/remove.md
  src/cli/mod.rs
  src/commands/picker/mod.rs
  src/commands/worktree/switch.rs
  tests/integration_tests/switch.rs
  tests/snapshots/integration__integration_tests__help__help_remove_long.snap
  tests/snapshots/integration__integration_tests__help__help_remove_short.snap
  tests/snapshots/integration__integration_tests__switch__switch_detached_worktree_by_path.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix: suppress spurious mismatch warning for detached worktree switches (#1686)
  tests/integration_tests/switch.rs
Due: no-dbg, no-std-canonicalize-in-tests

refactor: extract spawn_background_removal helper (#1701)
  src/output/handlers.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

chore(ci): weekly renovation 2026-03-22 (#1657)
  .github/actions/claude-setup/action.yaml
  .github/workflows/ci.yaml
Due: none

refactor: extract append_aliases helper, add e2e alias test (#1731)
  src/commands/alias.rs
  src/completion.rs
  src/config/commands.rs
  src/config/mod.rs
  src/config/user/accessors.rs
  src/config/user/sections.rs
  tests/integration_tests/step_alias.rs
  tests/snapshots/integration__integration_tests__step_alias__alias_append_executes_both.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output
