Repository shaneholloman/worktrunk: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '.*\.snap$'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  # pre-commit autoupdate reverts to mutable v1 tag; update manually
  - repo: https://github.com/crate-ci/typos
    rev: v1.41.0
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]
  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.22.0
    hooks:
      # Check links using .config/lychee.toml exclusions
      # Uses lychee-system (requires `cargo install lychee`) to avoid /bin/bash dependency on Windows
      - id: lychee-system
        types: [markdown]
        args:
          - --config=.config/lychee.toml
  - repo: local
    hooks:
      - id: cargo-lock
        name: cargo-lock
        description: Ensure Cargo.lock is in sync with Cargo.toml
        language: system
        entry: cargo check --locked
        pass_filenames: false
        files: (Cargo\.toml|Cargo\.lock)$
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
      - id: no-manual-ansi
        name: no-manual-ansi
        description: Use anstyle/osc8/strip-ansi-escapes instead of manual ANSI codes
        language: pygrep
        types: ["rust"]
        entry: '\\x1b\['
        # format.rs strips ANSI codes injected by wrap_ansi crate
        # select.rs tests verify ANSI dimming behavior
        exclude: '^(tests/|.*_test\.rs$|src/styling/(mod|format)\.rs$|src/commands/select/)'
      - id: no-std-canonicalize-in-tests
        name: no-std-canonicalize-in-tests
        description: Use dunce::canonicalize in tests to avoid Windows \\?\ prefix issues
        language: pygrep
        entry: '\.canonicalize\(\)'
        files: '^tests/'
      - id: no-direct-cmd-output
        name: no-direct-cmd-output
        description: Use shell_exec::Cmd instead of cmd.output() for consistent logging
        language: pygrep
        types: ["rust"]
        entry: '\.output\(\)'
        # shell_exec.rs: defines Cmd which legitimately calls .output()
        # select.rs: skim API's selected.output() is not Command::output()
        # tests/benches: test utilities run commands directly
        # src/config/{test,expansion,mod}.rs: TestRepo test fixtures use git init directly
        # src/config/user/tests.rs: TestRepo test fixtures use git init directly
        # src/styling/mod.rs: terminal width detection probes should be silent/quick
        exclude: '^(src/shell_exec\.rs|src/commands/select/|src/config/(test|expansion|mod)\.rs|src/config/user/tests\.rs|src/styling/mod\.rs|tests/|benches/)'

ci:
  # pre-commit.ci doesn't have Rust toolchain, so skip Rust-specific hooks.
  # Network access also isn't supported, so skip lychee-system.
  skip: [fmt, clippy, lychee-system, cargo-lock]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

docs(step push): drop redundant (e.g., main) example (#3110)
  src/cli/step.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(completion): surface unborn worktree branches (#3097)
  src/git/repository/branches.rs
  tests/integration_tests/completion.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(config state): honor [forge].platform in ci-status JSON (#3120)
  src/commands/config/state.rs
  src/commands/list/json_output.rs
  src/commands/statusline.rs
  src/git/repository/remotes.rs
  tests/integration_tests/config_state.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

feat(completions): ship dynamic registration for package installs (#3105)
  src/cli/config.rs
  src/commands/init.rs
  src/shell/snapshots/worktrunk__shell__tests__init_zsh.snap
  templates/zsh.zsh
  tests/integration_tests/completion.rs
  tests/snapshots/integration__integration_tests__init__init_zsh.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(plugin): rework /wt-switch-create cross-repo handling around reachability (#3118)
  docs/content/claude-code.md
  skills/worktrunk/reference/claude-code.md
  skills/wt-switch-create/SKILL.md
  skills/wt-switch-create/rationale.md
Due: none

chore: update tend workflows (0.1.4 → 0.1.6) (#3122)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs(shell): fix stale FALSE NEGATIVE comment for path-prefixed detection (#3132)
  src/shell/detection.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

feat(list): custom template columns and cached PR numbers in the picker (#3073)
  dev/config.example.toml
  docs/content/config.md
  docs/content/list.md
  docs/content/switch.md
  skills/worktrunk/reference/config.md
  skills/worktrunk/reference/list.md
  skills/worktrunk/reference/switch.md
  src/cli/mod.rs
  src/commands/list/CLAUDE.md
  src/commands/list/ci_status/cache.rs
  src/commands/list/ci_status/mod.rs
  src/commands/list/collect/mod.rs
  src/commands/list/columns.rs
  src/commands/list/custom_columns.rs
  src/commands/list/json_output.rs
  src/commands/list/layout.rs
  src/commands/list/mod.rs
  src/commands/list/model/item.rs
  src/commands/list/render.rs
  src/commands/picker/mod.rs
  src/commands/picker/preview_orchestrator.rs
  src/commands/statusline.rs
  src/config/expansion.rs
  src/config/mod.rs
  src/config/user/mod.rs
  src/config/user/sections.rs
  src/config/user/tests.rs
  src/git/repository/config.rs
  tests/integration_tests/list_config.rs
  tests/integration_tests/switch_picker_dry_run.rs
  tests/snapshots/integration__integration_tests__help__help_config_create.snap
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
  tests/snapshots/integration__integration_tests__help__help_list_long.snap
  tests/snapshots/integration__integration_tests__help__help_list_narrow_80.snap
  tests/snapshots/integration__integration_tests__help__help_switch_long.snap
  tests/snapshots/integration__integration_tests__list_config__list_custom_column_empty_everywhere_dropped.snap
  tests/snapshots/integration__integration_tests__list_config__list_custom_column_invalid_template.snap
  tests/snapshots/integration__integration_tests__list_config__list_custom_columns.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs(skill): frame hook approvals as user consent, stop advocating --yes (#3146)
  .gitignore
  docs/static/.well-known/agent-skills/index.json
  skills/worktrunk/SKILL.md
Due: none

perf(copy): skip redundant chmod after reflink on macOS (#3149)
  src/copy.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor(list): extract WorktreePresence for the worktree gutter arm (#3154)
  src/commands/list/model/item.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

test: isolate bash PTY tests from the host ~/.bashrc (#3173)
  tests/integration_tests/shell_wrapper.rs
Due: no-dbg, no-std-canonicalize-in-tests

ci(tend-review): pin actions/checkout back to v6 for fork-PR review (#3176)
  .github/workflows/tend-review.yaml
Due: none

fix: use `builtin cd` in fish shell integration (#3160)
  src/shell/mod.rs
  src/shell/snapshots/worktrunk__shell__tests__init_fish.snap
  templates/fish.fish
  tests/snapshots/integration__integration_tests__init__init_fish.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

feat(commit): surface a "still waiting" spinner for slow message generation (#3178)
  CHANGELOG.md
  src/llm.rs
  src/progress.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

docs(list): align stale compute_status_symbols comments with refresh_status_symbols (#3175)
  src/commands/list/collect/execution.rs
  src/commands/list/collect/mod.rs
  src/commands/list/collect/results.rs
  src/commands/list/collect/types.rs
  src/commands/list/json_output.rs
  src/commands/list/model/item.rs
  src/commands/list/model/status_symbols.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

Segment subprocess.log into per-command blocks joined to trace.log (#3182)
  src/llm.rs
  src/log_files.rs
  src/logging.rs
  src/shell_exec.rs
  src/trace/emit.rs
  src/trace/parse.rs
  tests/integration_tests/diagnostic.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(progress): unit-test the spinner render step, drop the fixed-sleep test (#3185)
  src/progress.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(switch): show a "couldn't load" pane when a --prs preview fetch fails (#3189)
  src/commands/picker/preview_orchestrator.rs
  src/commands/picker/prs.rs
  tests/integration_tests/switch.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(step): drop copy-ignored strip_prefix `.expect()` for the sibling fallback (#3201)
  src/commands/step/copy_ignored.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

feat(switch): scale picker list height to the terminal (#3205)
  src/commands/picker/mod.rs
  src/commands/picker/preview.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

feat(switch): run the interactive picker on Windows (#3217)
  Cargo.toml
  benches/picker_preview.rs
  docs/content/faq.md
  skills/worktrunk/reference/faq.md
  src/commands/config/state.rs
  src/commands/list/ci_status/github.rs
  src/commands/list/ci_status/mod.rs
  src/commands/list/collect/mod.rs
  src/commands/list/layout.rs
  src/commands/list/render.rs
  src/commands/mod.rs
  src/commands/picker/items.rs
  src/commands/picker/mod.rs
  src/commands/picker/preview.rs
  src/commands/picker/prs.rs
  src/commands/worktree/mod.rs
  src/commands/worktree/switch.rs
  src/main.rs
  src/summary.rs
  tests/integration_tests/switch_picker.rs
Due: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

feat(switch): rank picker matches by the distinct worktree path (#3208)
  src/commands/picker/mod.rs
  src/commands/picker/progressive_handler.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

chore: update tend workflows (0.1.6 → 0.1.7) (#3200)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

feat(switch): restyle the pr preview pane — flush description, cyan field labels (#3195)
  src/commands/picker/items.rs
  src/commands/picker/pr_pane.rs
  src/commands/picker/prs.rs
  src/md_help.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(switch): repaint the picker preview after the alt-r sticky reposition (#3225)
  src/commands/picker/mod.rs
  tests/integration_tests/switch_picker.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

test(switch): decline the picker approval with CR for Windows (#3230)
  CLAUDE.md
  src/commands/CLAUDE.md
  tests/integration_tests/switch_picker.rs
Due: no-dbg, no-std-canonicalize-in-tests

test(switch): deflake comments-tab preview wait by re-issuing the tab key (#3238)
  tests/integration_tests/switch_picker.rs
Due: no-dbg, no-std-canonicalize-in-tests

docs(CLAUDE): design proposals are review-only, not merged (#3212)
  CLAUDE.md
Due: none

fix(shell): resolve binary in fish package completions to avoid wrapper recursion (#3241)
  src/commands/configure_shell.rs
  src/commands/init.rs
  tests/integration_tests/completion.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(shell): guard fish lazy-load wrapper against completion-mode recursion (#3250)
  src/shell/mod.rs
  templates/fish_wrapper.fish
  tests/snapshots/integration__integration_tests__config_show__config_show_fish_with_completions.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_fish_without_completions.snap
  tests/snapshots/integration__integration_tests__configure_shell__configure_shell_fish_dry_run.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs(tend): fix stale alias docs anchor (/step → /extending) (#3249)
  .claude/skills/running-tend/SKILL.md
Due: none

test(picker): de-flake both Windows switch-picker PTY tests (#3242)
  tests/integration_tests/switch_picker.rs
Due: no-dbg, no-std-canonicalize-in-tests

refactor(picker): unify worktree and PR rows into one PickerRow (#3259)
  src/commands/list/render.rs
  src/commands/picker/items.rs
  src/commands/picker/mod.rs
  src/commands/picker/pr_pane.rs
  src/commands/picker/preview.rs
  src/commands/picker/preview_orchestrator.rs
  src/commands/picker/progressive_handler.rs
  src/commands/picker/prs.rs
  src/commands/picker/snapshots/wt__commands__picker__items__tests__loading_placeholder_branch_diff.snap
  src/commands/picker/snapshots/wt__commands__picker__items__tests__loading_placeholder_log.snap
  src/commands/picker/snapshots/wt__commands__picker__items__tests__loading_placeholder_summary.snap
  src/commands/picker/snapshots/wt__commands__picker__items__tests__loading_placeholder_upstream_diff.snap
  src/commands/picker/snapshots/wt__commands__picker__items__tests__loading_placeholder_working_tree.snap
  tests/integration_tests/switch.rs
  tests/integration_tests/switch_picker.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

feat(switch): rework the alt-x picker removal — morph in place, decline current worktree, identity cursor (#3262)
  docs/content/switch.md
  skills/worktrunk/reference/switch.md
  src/cli/mod.rs
  src/commands/list/collect/mod.rs
  src/commands/list/layout.rs
  src/commands/picker/items.rs
  src/commands/picker/mod.rs
  src/commands/picker/progressive_handler.rs
  src/commands/picker/prs.rs
  src/output/handlers.rs
  tests/integration_tests/switch_picker.rs
  tests/snapshots/integration__integration_tests__help__help_switch_long.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Release v0.62.0 (#3263)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock

test(picker): de-flake preview-auto-refresh by filtering to the PR row (#3264)
  tests/integration_tests/switch_picker.rs
Due: no-dbg, no-std-canonicalize-in-tests

perf(list): dedup merge-tree spawns shared by the two integration probes (#3289)
  src/git/repository/integration.rs
  src/git/repository/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output
