Repository shaneholloman/worktrunk: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '.*\.snap$'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  # pre-commit autoupdate reverts to mutable v1 tag; update manually
  - repo: https://github.com/crate-ci/typos
    rev: v1.41.0
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]
  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.22.0
    hooks:
      # Check links using .config/lychee.toml exclusions
      # Uses lychee-system (requires `cargo install lychee`) to avoid /bin/bash dependency on Windows
      - id: lychee-system
        types: [markdown]
        args:
          - --config=.config/lychee.toml
  - repo: local
    hooks:
      - id: cargo-lock
        name: cargo-lock
        description: Ensure Cargo.lock is in sync with Cargo.toml
        language: system
        entry: cargo check --locked
        pass_filenames: false
        files: (Cargo\.toml|Cargo\.lock)$
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
      - id: no-manual-ansi
        name: no-manual-ansi
        description: Use anstyle/osc8/strip-ansi-escapes instead of manual ANSI codes
        language: pygrep
        types: ["rust"]
        entry: '\\x1b\['
        # format.rs strips ANSI codes injected by wrap_ansi crate
        # select.rs tests verify ANSI dimming behavior
        exclude: '^(tests/|.*_test\.rs$|src/styling/(mod|format)\.rs$|src/commands/select/)'
      - id: no-std-canonicalize-in-tests
        name: no-std-canonicalize-in-tests
        description: Use dunce::canonicalize in tests to avoid Windows \\?\ prefix issues
        language: pygrep
        entry: '\.canonicalize\(\)'
        files: '^tests/'
      - id: no-direct-cmd-output
        name: no-direct-cmd-output
        description: Use shell_exec::Cmd instead of cmd.output() for consistent logging
        language: pygrep
        types: ["rust"]
        entry: '\.output\(\)'
        # shell_exec.rs: defines Cmd which legitimately calls .output()
        # select.rs: skim API's selected.output() is not Command::output()
        # tests/benches: test utilities run commands directly
        # src/config/{test,expansion,mod}.rs: TestRepo test fixtures use git init directly
        # src/config/user/tests.rs: TestRepo test fixtures use git init directly
        # src/styling/mod.rs: terminal width detection probes should be silent/quick
        exclude: '^(src/shell_exec\.rs|src/commands/select/|src/config/(test|expansion|mod)\.rs|src/config/user/tests\.rs|src/styling/mod\.rs|tests/|benches/)'

ci:
  # pre-commit.ci doesn't have Rust toolchain, so skip Rust-specific hooks.
  # Network access also isn't supported, so skip lychee-system.
  skip: [fmt, clippy, lychee-system, cargo-lock]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

docs(test): correct switch_picker comments about skim's on-screen counters (#2733)
  tests/integration_tests/switch_picker.rs
Due: no-dbg, no-std-canonicalize-in-tests

fix(styling): pick collision-free template-syntax placeholders in bash highlighter (#2722)
  src/styling/format.rs
Due: no-dbg, no-direct-cmd-output

docs: remove unverified cmux recipes from tips-patterns (#2797)
  docs/content/tips-patterns.md
  skills/worktrunk/reference/tips-patterns.md
Due: none

feat(plugin): self-contained Gemini CLI extension in plugins/gemini/ (#2803)
  CLAUDE.md
  plugins/gemini/gemini-extension.json
  plugins/gemini/hooks/hooks.json
  plugins/gemini/hooks/wt.sh
  plugins/gemini/skills
  tests/integration_tests/config_show.rs
Due: no-dbg, no-std-canonicalize-in-tests

refactor(prune): bundle try_remove's loop-invariant args into RemovalContext (#2811)
  src/commands/step/prune.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(remove): force-kill a wedged fsmonitor daemon on worktree removal (#2813)
  CHANGELOG.md
  docs/content/faq.md
  skills/worktrunk/reference/faq.md
  skills/worktrunk/reference/troubleshooting.md
  src/commands/process.rs
  src/git/mod.rs
  src/git/remove.rs
  src/output/handlers.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

docs(claude): cross-ref PTY coverage and compress list-features rubric (#2820)
  src/commands/list/CLAUDE.md
  tests/CLAUDE.md
Due: no-std-canonicalize-in-tests

chore: update tend workflows (0.0.24 → 0.0.25) (#2828)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

test: delete tautological spacing_test, drop orphan completion comment (#2829)
  src/commands/list/mod.rs
  src/commands/list/spacing_test.rs
  tests/integration_tests/completion.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

ci(affected): don't fail Windows job on empty test selection (#2839)
  .github/workflows/ci.yaml
Due: none

chore(clawpatch): add threat-model specs for review surfaces (#2859)
  .config/clawpatch/features/feat_custom_approvals_storage.json
  .config/clawpatch/features/feat_custom_hook_logs.json
  .config/clawpatch/features/feat_custom_network_boundary.json
  .config/clawpatch/features/feat_custom_performance.json
  .config/clawpatch/features/feat_custom_prune.json
  .config/clawpatch/features/feat_custom_shell_integration.json
  .config/clawpatch/features/feat_custom_signal_handling.json
  .config/clawpatch/features/feat_custom_switch_resolve.json
  .config/clawpatch/features/feat_custom_template_expansion.json
Due: none

refactor(config): fold require_user_config_path into require_config_path (#2872)
  src/commands/config/create.rs
  src/commands/config/mod.rs
  src/commands/config/show.rs
  src/commands/config/state.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(output): correct user-output consistency defects (#2867)
  src/commands/command_approval.rs
  src/commands/config/show.rs
  src/commands/relocate.rs
  src/diagnostic.rs
  src/git/error.rs
  src/output/shell_integration.rs
  tests/integration_tests/configure_shell.rs
  tests/snapshots/integration__integration_tests__approval_pty__approval_prompt_permission_error.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_full_command_not_found.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_full_gitea_remote.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_full_not_configured.snap
  tests/snapshots/integration__integration_tests__step_relocate__relocate_mixed_success_and_skip.snap
  tests/snapshots/integration__integration_tests__step_relocate__relocate_same_target_no_panic.snap
  tests/snapshots/integration__integration_tests__switch__switch_mr_create_conflict.snap
  tests/snapshots/integration__integration_tests__switch__switch_pr_azure_create_conflict.snap
  tests/snapshots/integration__integration_tests__switch__switch_pr_azure_forge_platform.snap
  tests/snapshots/integration__integration_tests__switch__switch_pr_create_conflict.snap
  tests/snapshots/integration__integration_tests__switch__switch_pr_gitea_create_conflict.snap
  tests/snapshots/integration__integration_tests__switch__switch_pr_gitea_forge_platform.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

chore(ci): weekly renovation 2026-05-24 (#2889)
  .github/actions/test-setup/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/nightly.yaml
Due: none

fix: data-safety fixes across the worktree merge/remove/prune lifecycle (#2870)
  src/commands/picker/mod.rs
  src/commands/repository_ext.rs
  src/commands/step/prune.rs
  src/commands/worktree/finish.rs
  src/commands/worktree/types.rs
  src/main.rs
  src/output/handlers.rs
  src/output/mod.rs
  tests/integration_tests/merge.rs
  tests/integration_tests/remove.rs
  tests/integration_tests/step_prune.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(log): route -vv log pipeline to trace.log instead of stderr (#2892)
  .typos.toml
  docs/content/config.md
  docs/content/faq.md
  skills/worktrunk/reference/config.md
  skills/worktrunk/reference/faq.md
  src/cli/config.rs
  src/diagnostic.rs
  src/log_files.rs
  src/main.rs
  src/shell_exec.rs
  src/trace/emit.rs
  tests/integration_tests/diagnostic.rs
  tests/snapshots/integration__integration_tests__help__help_config_state_logs.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(prune): enrich (approval required) hint with templates and per-worktree commands (#2910)
  src/commands/step/prune.rs
  tests/integration_tests/step_prune.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

feat(statusline): locale-aware clock format for rate-limit segment (#2911)
  src/commands/statusline.rs
  tests/integration_tests/statusline.rs
  tests/snapshots/integration__integration_tests__statusline__rate_limit_5h_24h_locale.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(clippy): fold nested if into match guard (#2930)
  src/commands/config/show.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

ci: add lockfile pre-merge hook to catch a stale Cargo.lock (#2933)
  .config/wt.toml
  .github/workflows/ci.yaml
Due: none

chore: drop stale labels and field-name typos (#2938)
  src/trace/parse.rs
  tests/integration_tests/column_alignment_verification.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Release v0.55.0 (#2942)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock

docs(skills): fast-forward release branch to main before cutting a release (#2966)
  .claude/skills/release/SKILL.md
Due: none

docs(switch): give PR links equal billing with pr:N (#2970)
  .config/lychee.toml
  docs/content/switch.md
  skills/worktrunk/reference/switch.md
  src/cli/mod.rs
  tests/snapshots/integration__integration_tests__help__help_switch_long.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(shell): install nushell wrapper to vendor-autoload dir (#2878) (#2992)
  docs/content/faq.md
  skills/worktrunk/reference/faq.md
  skills/worktrunk/reference/shell-integration.md
  src/cli/config.rs
  src/commands/configure_shell.rs
  src/output/shell_integration.rs
  src/shell/detection.rs
  src/shell/mod.rs
  src/shell/paths.rs
  src/shell/snapshots/worktrunk__shell__tests__config_line_nu.snap
  src/shell/snapshots/worktrunk__shell__tests__config_line_nu_custom.snap
  tests/common/mod.rs
  tests/integration_tests/config_show.rs
  tests/integration_tests/configure_shell.rs
  tests/snapshots/integration__integration_tests__config_show__config_show_nushell_outdated_wrapper.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(diagnostic): escape control bytes in subprocess preview so diagnostic.md uploads as a gist (#2991)
  src/diagnostic.rs
  src/logging.rs
  src/shell_exec.rs
  src/utils.rs
  tests/integration_tests/diagnostic.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

shell_exec: preflight direct spawn failures (#3015)
  src/shell_exec.rs
Due: no-dbg, no-manual-ansi

skills(running-tend): don't ship fixes you can't verify (#2921)
  .claude/skills/running-tend/SKILL.md
Due: none

fix(state): don't repopulate default-branch cache on state get (#3024)
  src/commands/config/state.rs
  src/git/repository/config.rs
  tests/integration_tests/config_state.rs
  tests/snapshots/integration__integration_tests__config_state__state_get_with_ci_entries.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor: strip ANSI via ansi_strip() directly, dropping local helpers (#3035)
  src/commands/list/collect/mod.rs
  src/diagnostic.rs
  src/help.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

docs(CLAUDE): codecov posts check runs on PR heads, not commit statuses (#3039)
  CLAUDE.md
Due: none

refactor(commands): move switch/remove orchestration out of main.rs (#3049)
  src/commands/hooks.rs
  src/commands/merge.rs
  src/commands/mod.rs
  src/commands/remove.rs
  src/commands/repository_ext.rs
  src/commands/worktree/mod.rs
  src/commands/worktree/switch.rs
  src/main.rs
  tests/integration_tests/output_system_guard.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(config): merge deprecation detection into migration (#3055)
  CLAUDE.md
  src/config/deprecation.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

docs: fix stale marker config key and bare-repo test comment (#3066)
  plugins/worktrunk/CLAUDE.md
  tests/integration_tests/bare_repository.rs
Due: no-dbg, no-std-canonicalize-in-tests

chore(ci): add cargo-affected input rules for snapshots and doc sync (#3086)
  Cargo.toml
Due: cargo-lock

refactor(config): skip disk write when commit-generation command unchanged (#3084)
  src/config/user/mutation.rs
  src/config/user/tests.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

docs(cli): drop redundant --format value parenthetical where clap lists them (#3112)
  docs/content/config.md
  docs/content/step.md
  skills/worktrunk/reference/config.md
  skills/worktrunk/reference/step.md
  src/cli/config.rs
  src/cli/list.rs
  src/cli/step.rs
  tests/snapshots/integration__integration_tests__help__help_config_show.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output
