Repository shaneholloman/worktrunk: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

cargo-lock:
  name: cargo-lock
  description: Ensure Cargo.lock is in sync with Cargo.toml
  language: system
  entry: cargo check --locked
  pass_filenames: false

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

no-manual-ansi:
  name: no-manual-ansi
  description: Use anstyle/osc8/strip-ansi-escapes instead of manual ANSI codes
  language: pygrep
  entry: \\x1b\[

no-std-canonicalize-in-tests:
  name: no-std-canonicalize-in-tests
  description: Use dunce::canonicalize in tests to avoid Windows \\?\ prefix issues
  language: pygrep
  entry: \.canonicalize\(\)

no-direct-cmd-output:
  name: no-direct-cmd-output
  description: Use shell_exec::run() instead of cmd.output() for consistent logging
  language: pygrep
  entry: \.output\(\)

Revert "feat: add visual hierarchy to help headers (#623)"
  .claude-plugin/skills/worktrunk/reference/config.md
  .claude-plugin/skills/worktrunk/reference/list.md
  docs/content/config.md
  docs/content/list.md
  src/cli/config.rs
  src/cli/mod.rs
  src/md_help.rs
  tests/snapshots/integration__integration_tests__help__help_config_create.snap
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
  tests/snapshots/integration__integration_tests__help__help_config_show.snap
  tests/snapshots/integration__integration_tests__help__help_config_state.snap
  tests/snapshots/integration__integration_tests__help__help_config_state_ci_status.snap
  tests/snapshots/integration__integration_tests__help__help_config_state_default_branch.snap
  tests/snapshots/integration__integration_tests__help__help_config_state_logs.snap
  tests/snapshots/integration__integration_tests__help__help_config_state_marker.snap
  tests/snapshots/integration__integration_tests__help__help_config_state_previous_branch.snap
  tests/snapshots/integration__integration_tests__help__help_hook_approvals.snap
  tests/snapshots/integration__integration_tests__help__help_list_long.snap
  tests/snapshots/integration__integration_tests__help__help_list_narrow_80.snap
  tests/snapshots/integration__integration_tests__help__help_merge_long.snap
  tests/snapshots/integration__integration_tests__help__help_remove_long.snap
  tests/snapshots/integration__integration_tests__help__help_step_long.snap
  tests/snapshots/integration__integration_tests__help__help_switch_long.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(config): improve hint messages for wt config create (#628)
  src/commands/config.rs
  tests/integration_tests/config_init.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(process): remove redundant sh -c wrapping in spawn_detached (#653)
  src/commands/process.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

ci: upload Claude Code session logs as artifacts (#666)
  .github/workflows/claude-ci-fix.yaml
  .github/workflows/claude-mention.yaml
Due: none

refactor(tests): consolidate PTY normalization using insta filters (#669)
  tests/common/mod.rs
  tests/integration_tests/approval_pty.rs
  tests/integration_tests/shell_wrapper.rs
  tests/snapshots/integration__integration_tests__approval_pty__approval_prompt_accept.snap
  tests/snapshots/integration__integration_tests__approval_pty__approval_prompt_decline.snap
  tests/snapshots/integration__integration_tests__approval_pty__approval_prompt_mixed_approved_unapproved_accept.snap
  tests/snapshots/integration__integration_tests__approval_pty__approval_prompt_mixed_approved_unapproved_decline.snap
  tests/snapshots/integration__integration_tests__approval_pty__approval_prompt_multiple_commands.snap
  tests/snapshots/integration__integration_tests__approval_pty__approval_prompt_named_commands.snap
  tests/snapshots/integration__integration_tests__approval_pty__approval_prompt_permission_error.snap
  tests/snapshots/integration__integration_tests__approval_pty__approval_prompt_remove_decline.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__tests__bash_shell_integration_hint_suppressed.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__tests__fish_multiline_command_execution.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__tests__fish_wrapper_handles_empty_chunks.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__tests__fish_wrapper_preserves_progress_messages.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__tests__merge_with_mixed_stdout_stderr_bash.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__tests__merge_with_mixed_stdout_stderr_zsh.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__tests__merge_with_pre_merge_success_bash.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__tests__merge_with_pre_merge_success_zsh.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__tests__readme_example_hooks_post_create.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__tests__readme_example_hooks_pre_merge.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__tests__readme_example_remove.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__tests__readme_example_simple_switch.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__tests__readme_example_switch_back.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__tests__switch_create.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__tests__switch_with_execute.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__tests__switch_with_execute_through_wrapper.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__tests__switch_with_hooks_zsh.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__tests__switch_with_post_start_command_no_directive_leak.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__tests__wrapper_preserves_progress_messages.snap
Due: no-dbg, no-std-canonicalize-in-tests

feat: add --force hint when removing dirty worktrees (#671)
  src/commands/merge.rs
  src/commands/repository_ext.rs
  src/git/error.rs
  src/git/repository/working_tree.rs
  tests/integration_tests/git_error_display.rs
  tests/integration_tests/snapshots/integration__integration_tests__git_error_display__uncommitted_changes_with_force_hint.snap
  tests/snapshots/integration__integration_tests__remove__remove_by_name_dirty_target.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(tests): unify PTY execution into common/pty module (#675)
  tests/common/mod.rs
  tests/common/pty.rs
  tests/integration_tests/approval_pty.rs
  tests/integration_tests/configure_shell.rs
  tests/integration_tests/shell_integration_prompt.rs
  tests/integration_tests/shell_wrapper.rs
  tests/snapshots/integration__integration_tests__shell_integration_prompt__pty_tests__prompt_accept.snap
  tests/snapshots/integration__integration_tests__shell_integration_prompt__pty_tests__prompt_decline.snap
  tests/snapshots/integration__integration_tests__shell_integration_prompt__pty_tests__prompt_preview_decline.snap
Due: no-dbg, no-std-canonicalize-in-tests

docs: add Caddy subdomain routing pattern (#676)
  .claude-plugin/skills/worktrunk/reference/tips-patterns.md
  docs/content/tips-patterns.md
Due: none

feat: -h never opens pager, --help uses pager (git convention) (#651)
  src/commands/config.rs
  src/commands/hook_commands.rs
  src/help.rs
  src/help_pager.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

Simplify Windows support FAQ
  .claude-plugin/skills/worktrunk/reference/faq.md
  docs/content/faq.md
Due: none

Refine docs (#684)
  .claude/rules/cli-output-formatting.md
Due: none

Move per-worktree methods to WorkingTree (#686)
  src/commands/commit.rs
  src/commands/step_commands.rs
  src/git/repository/diff.rs
  src/git/repository/working_tree.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(powershell): use WORKTRUNK_BIN for test isolation + more Windows tests (#674)
  src/snapshots/worktrunk__shell__tests__init_powershell.snap
  templates/powershell.ps1
  tests/common/mod.rs
  tests/common/pty.rs
  tests/integration_tests/shell_wrapper.rs
Due: no-dbg, no-std-canonicalize-in-tests

fix: escape angle brackets in verbose template output (#719)
  src/config/expansion.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix: preserve TOML insertion order for user config hooks (#741)
  Cargo.lock
  Cargo.toml
  src/config/user.rs
  tests/integration_tests/user_hooks.rs
  tests/snapshots/integration__integration_tests__user_hooks__user_hooks_preserve_order.snap
Due: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Release v0.15.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock

Release v0.16.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock

refactor: use path-slash crate and Path::file_name() for cross-platform paths (#750)
  Cargo.lock
  Cargo.toml
  src/commands/command_approval.rs
  tests/common/mod.rs
  tests/integration_tests/approval_pty.rs
  tests/integration_tests/approval_ui.rs
  tests/integration_tests/hook_show.rs
  tests/integration_tests/merge.rs
  tests/integration_tests/remove.rs
Due: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

chore(tests): update snapshots to insta modern format (#771)
  tests/snapshots/integration__integration_tests__ci_status__gitlab_ci_rate_limit.snap
  tests/snapshots/integration__integration_tests__ci_status__gitlab_mr_view_failure.snap
  tests/snapshots/integration__integration_tests__ci_status__url_based_pushremote.snap
  tests/snapshots/integration__integration_tests__hook_show__hook_show_filter_post_merge.snap
  tests/snapshots/integration__integration_tests__hook_show__hook_show_filter_post_remove.snap
  tests/snapshots/integration__integration_tests__hook_show__hook_show_filter_pre_remove.snap
  tests/snapshots/integration__integration_tests__list__list_with_c_flag.snap
  tests/snapshots/integration__integration_tests__remove__remove_pruned_worktree_directory_missing.snap
  tests/snapshots/integration__integration_tests__remove__remove_pruned_worktree_keep_branch.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__unix_tests__command_failure.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__unix_tests__merge.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__unix_tests__merge_with_mixed_stdout_stderr_bash.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__unix_tests__merge_with_mixed_stdout_stderr_zsh.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__unix_tests__merge_with_pre_merge_failure_bash.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__unix_tests__merge_with_pre_merge_failure_zsh.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__unix_tests__merge_with_pre_merge_success_bash.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__unix_tests__merge_with_pre_merge_success_zsh.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__unix_tests__readme_example_hooks_pre_merge.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__unix_tests__readme_example_remove.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__unix_tests__readme_example_switch_back.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__unix_tests__remove.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__unix_tests__source_flag_error_passthrough.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__unix_tests__step_for_each.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_remove_executes.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_remove_no_verify.snap
Due: no-std-canonicalize-in-tests

docs: clarify uncovered code on test failure in CLAUDE.md
  CLAUDE.md
Due: none

refactor: remove output::print/stdout/blank/flush wrappers (#796)
  src/commands/command_approval.rs
  src/commands/commit.rs
  src/commands/config/create.rs
  src/commands/config/hints.rs
  src/commands/config/state.rs
  src/commands/configure_shell.rs
  src/commands/for_each.rs
  src/commands/hook_commands.rs
  src/commands/hooks.rs
  src/commands/list/collect/mod.rs
  src/commands/list/mod.rs
  src/commands/merge.rs
  src/commands/mod.rs
  src/commands/repository_ext.rs
  src/commands/statusline.rs
  src/commands/step_commands.rs
  src/commands/worktree/push.rs
  src/commands/worktree/switch.rs
  src/diagnostic.rs
  src/help.rs
  src/llm.rs
  src/main.rs
  src/output/global.rs
  src/output/handlers.rs
  src/output/mod.rs
  src/output/shell_integration.rs
  src/styling/mod.rs
  tests/integration_tests/output_system_guard.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix: improve BranchAlreadyExists hint wording (#797)
  src/git/error.rs
  tests/integration_tests/snapshots/integration__integration_tests__git_error_display__branch_already_exists.snap
  tests/snapshots/integration__integration_tests__security__branch_name_with_cd_directive_not_executed.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__unix_tests__command_failure.snap
  tests/snapshots/integration__integration_tests__switch__switch_create_existing_error.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Release v0.18.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock

Improve config validation warnings with cross-config suggestions (#804)
  src/commands/config/mod.rs
  src/commands/config/show.rs
  src/config/deprecation.rs
  src/config/mod.rs
  src/config/project.rs
  src/config/user.rs
  tests/integration_tests/config_show.rs
  tests/snapshots/integration__integration_tests__config_show__config_show_suggests_project_config_for_ci.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_suggests_user_config_for_commit_generation.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix: improve --create conflict error for pr:/mr: syntax (#807)
  src/commands/worktree/switch.rs
  src/git/error.rs
  src/git/remote_ref.rs
  tests/integration_tests/switch.rs
  tests/snapshots/integration__integration_tests__switch__switch_mr_create_conflict.snap
  tests/snapshots/integration__integration_tests__switch__switch_pr_create_conflict.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor: fix diagnostic log location docs and remove wrapper function (#812)
  src/diagnostic.rs
  src/git/repository/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

ci: instruct Claude to read file context for line comments (#821)
  .github/workflows/claude-mention.yaml
Due: none

style: improve RefBaseConflict hint message formatting
  src/git/error.rs
  tests/snapshots/integration__integration_tests__switch__switch_mr_base_conflict.snap
  tests/snapshots/integration__integration_tests__switch__switch_pr_base_conflict.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor: simplify save_to using toml_edit::ser::to_document (#825)
  Cargo.lock
  Cargo.toml
  src/commands/process.rs
  src/config/user.rs
  tests/integration_tests/bare_repository.rs
  tests/integration_tests/config_state.rs
  tests/snapshots/integration__integration_tests__merge__merge_squash_with_working_tree_creates_backup.snap
  tests/snapshots/integration__integration_tests__merge__merge_with_untracked_files.snap
  tests/snapshots/integration__integration_tests__merge__step_commit_with_both_flags.snap
  tests/snapshots/integration__integration_tests__merge__step_commit_with_no_verify_flag.snap
  tests/snapshots/integration__integration_tests__merge__step_commit_with_stage_tracked_flag.snap
  tests/snapshots/integration__integration_tests__merge__step_squash_with_both_flags.snap
  tests/snapshots/integration__integration_tests__merge__step_squash_with_no_verify_flag.snap
  tests/snapshots/integration__integration_tests__merge__step_squash_with_stage_tracked_flag.snap
Due: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor: unify overridable config into shared OverridableConfig struct (#829)
  src/commands/list/mod.rs
  src/commands/select/pager.rs
  src/config/mod.rs
  src/config/user.rs
  tests/integration_tests/select_config.rs
  tests/integration_tests/shell_integration_prompt.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix: use bright-black instead of bold in hint messages (#836)
  CLAUDE.md
  src/config/deprecation.rs
  tests/snapshots/integration__integration_tests__config_show__config_show_displays_deprecation_details.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_displays_project_commit_generation_deprecations.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_suggests_user_config_for_commit_generation.snap
  tests/snapshots/integration__integration_tests__config_show__deprecated_commit_generation_project_level_shows_warning.snap
  tests/snapshots/integration__integration_tests__config_show__deprecated_commit_generation_section_shows_warning.snap
  tests/snapshots/integration__integration_tests__config_show__deprecated_template_variables_show_warning.snap
  tests/snapshots/integration__integration_tests__config_show__deprecated_template_variables_verbose_shows_content.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

feat: add per-project hooks with append semantics (#842)
  .claude-plugin/skills/worktrunk/reference/config.md
  .claude-plugin/skills/worktrunk/reference/hook.md
  Cargo.lock
  Cargo.toml
  dev/config.example.toml
  docs/content/config.md
  docs/content/hook.md
  src/cli/mod.rs
  src/commands/commit.rs
  src/commands/config/show.rs
  src/commands/hook_commands.rs
  src/commands/list/ci_status/mod.rs
  src/commands/list/json_output.rs
  src/commands/list/mod.rs
  src/commands/merge.rs
  src/commands/select/pager.rs
  src/commands/step_commands.rs
  src/commands/worktree/hooks.rs
  src/completion.rs
  src/config/commands.rs
  src/config/deprecation.rs
  src/config/hooks.rs
  src/config/mod.rs
  src/config/project.rs
  src/config/user.rs
  tests/integration_tests/select_config.rs
  tests/snapshots/integration__integration_tests__help__help_config_create.snap
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
Due: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor: simplify deprecation migration file logic (#841)
  src/config/deprecation.rs
  src/config/user.rs
  tests/integration_tests/config_show.rs
  tests/snapshots/integration__integration_tests__config_show__config_show_always_regenerates_migration_file.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_displays_deprecation_details.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_displays_project_commit_generation_deprecations.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_suggests_user_config_for_commit_generation.snap
  tests/snapshots/integration__integration_tests__config_show__deprecated_commit_generation_project_level_shows_warning.snap
  tests/snapshots/integration__integration_tests__config_show__deprecated_commit_generation_section_shows_warning.snap
  tests/snapshots/integration__integration_tests__config_show__deprecated_template_variables_show_warning.snap
  tests/snapshots/integration__integration_tests__config_show__deprecated_template_variables_verbose_shows_content.snap
  tests/snapshots/integration__integration_tests__config_show__wt_list_skips_migration_file_after_first_write.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Release v0.19.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock

Add font fallback definitions to prevent layout shift
  docs/templates/_variables.html
Due: none

fix(tests): strip OSC 8 hyperlinks in select test output normalization (#873)
  src/help.rs
  src/styling/hyperlink.rs
  src/styling/mod.rs
  tests/integration_tests/select.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

chore(ci): pin runner versions and add weekly renovation workflow (#878)
  .github/workflows/ci.yaml
  .github/workflows/claude-ci-fix.yaml
  .github/workflows/claude-mention.yaml
  .github/workflows/claude-renovate.yaml
  .github/workflows/nightly-benchmark.yaml
  .github/workflows/publish-docs.yaml
  .github/workflows/release.yaml
Due: none

refactor(config): eliminate Settings types, add accessor methods to Config types (#896)
  src/commands/context.rs
  src/commands/merge.rs
  src/commands/step_commands.rs
  src/config/mod.rs
  src/config/user/accessors.rs
  src/config/user/mod.rs
  src/config/user/resolved.rs
  src/config/user/sections.rs
  src/config/user/tests.rs
  src/main.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

Path conditions:
  cargo-lock: any of: (Cargo\.toml|Cargo\.lock)$
  no-dbg: any of: \.rs$
  no-manual-ansi: any of: \.rs$, but not: ^(tests/|.*_test\.rs$|src/styling/(line|mod|format)\.rs$|src/output/global\.rs$|src/cli\.rs$)
  no-std-canonicalize-in-tests: any of: ^tests/
  no-direct-cmd-output: any of: \.rs$, but not: ^(src/shell_exec\.rs|src/commands/select\.rs|tests/|benches/)
