Repository shaneholloman/worktrunk: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '.*\.snap$'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  # pre-commit autoupdate reverts to mutable v1 tag; update manually
  - repo: https://github.com/crate-ci/typos
    rev: v1.41.0
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]
  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.22.0
    hooks:
      # Check links using .config/lychee.toml exclusions
      # Uses lychee-system (requires `cargo install lychee`) to avoid /bin/bash dependency on Windows
      - id: lychee-system
        types: [markdown]
        args:
          - --config=.config/lychee.toml
  - repo: local
    hooks:
      - id: cargo-lock
        name: cargo-lock
        description: Ensure Cargo.lock is in sync with Cargo.toml
        language: system
        entry: cargo check --locked
        pass_filenames: false
        files: (Cargo\.toml|Cargo\.lock)$
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
      - id: no-manual-ansi
        name: no-manual-ansi
        description: Use anstyle/osc8/strip-ansi-escapes instead of manual ANSI codes
        language: pygrep
        types: ["rust"]
        entry: '\\x1b\['
        # format.rs strips ANSI codes injected by wrap_ansi crate
        # select.rs tests verify ANSI dimming behavior
        exclude: '^(tests/|.*_test\.rs$|src/styling/(mod|format)\.rs$|src/commands/select/)'
      - id: no-std-canonicalize-in-tests
        name: no-std-canonicalize-in-tests
        description: Use dunce::canonicalize in tests to avoid Windows \\?\ prefix issues
        language: pygrep
        entry: '\.canonicalize\(\)'
        files: '^tests/'
      - id: no-direct-cmd-output
        name: no-direct-cmd-output
        description: Use shell_exec::Cmd instead of cmd.output() for consistent logging
        language: pygrep
        types: ["rust"]
        entry: '\.output\(\)'
        # shell_exec.rs: defines Cmd which legitimately calls .output()
        # select.rs: skim API's selected.output() is not Command::output()
        # tests/benches: test utilities run commands directly
        # src/config/{test,expansion,mod}.rs: TestRepo test fixtures use git init directly
        # src/config/user/tests.rs: TestRepo test fixtures use git init directly
        # src/styling/mod.rs: terminal width detection probes should be silent/quick
        exclude: '^(src/shell_exec\.rs|src/commands/select/|src/config/(test|expansion|mod)\.rs|src/config/user/tests\.rs|src/styling/mod\.rs|tests/|benches/)'

ci:
  # pre-commit.ci doesn't have Rust toolchain, so skip Rust-specific hooks.
  # Network access also isn't supported, so skip lychee-system.
  skip: [fmt, clippy, lychee-system, cargo-lock]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

refactor(picker): consolidate spawn_precompute ordering onto PreviewOrchestrator (#2594)
  src/commands/picker/mod.rs
  src/commands/picker/preview_orchestrator.rs
  src/commands/picker/progressive_handler.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor(hooks): extract announcement formatting into hook_announcement module (#2599)
  src/commands/alias.rs
  src/commands/hook_announcement.rs
  src/commands/hooks.rs
  src/commands/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor(step): split step_commands.rs into per-operation modules (#2601)
  src/commands/merge.rs
  src/commands/mod.rs
  src/commands/step/commit.rs
  src/commands/step/copy_ignored.rs
  src/commands/step/diff.rs
  src/commands/step/mod.rs
  src/commands/step/promote.rs
  src/commands/step/prune.rs
  src/commands/step/rebase.rs
  src/commands/step/relocate.rs
  src/commands/step/shared.rs
  src/commands/step/squash.rs
  src/commands/step_commands.rs
  src/progress.rs
  tests/integration_tests/output_system_guard.rs
  tests/integration_tests/step_copy_ignored.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(process): add HookLog::Shared for branch-agnostic logs (#2595)
  CLAUDE.md
  src/commands/process.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

test(switch): cover GitLab fork remote lookup across ssh/https (#2596)
  src/commands/worktree/switch.rs
  tests/integration_tests/default_branch.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(wt-perf): move timeline tests to lib + exclude bin from test compile (#2604)
  tests/helpers/wt-perf/Cargo.toml
  tests/helpers/wt-perf/src/lib.rs
  tests/helpers/wt-perf/src/main.rs
Due: cargo-lock, no-dbg, no-std-canonicalize-in-tests

refactor(config): rename path-traversal filters to dirname/basename (#2605)
  docs/content/hook.md
  skills/worktrunk/reference/hook.md
  src/cli/mod.rs
  src/config/expansion.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

chore(list): drop obsolete TODOs about always-present JSON fields (#2606)
  src/commands/list/model/item.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

perf(list): skip redundant MergeTreeConflicts on dirty worktrees (#2602)
  src/commands/list/collect/execution.rs
  src/commands/list/collect/tasks.rs
  src/commands/list/model/state.rs
  src/commands/list/model/status_symbols.rs
  tests/snapshots/integration__integration_tests__list__list_warns_when_commit_details_batch_fails.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(switch): consolidate handle_switch into worktree/switch (#2597)
  src/commands/handle_switch.rs
  src/commands/mod.rs
  src/commands/picker/mod.rs
  src/commands/worktree/mod.rs
  src/commands/worktree/switch.rs
  src/git/error.rs
  src/main.rs
  tests/integration_tests/output_system_guard.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs(skill): document parallel sub-Agent worktree pattern (#2600)
  docs/static/.well-known/agent-skills/index.json
  skills/worktrunk/SKILL.md
Due: none

test(config): exercise WouldCreate arm in fish legacy migration test (#2607)
  tests/integration_tests/configure_shell.rs
  tests/snapshots/integration__integration_tests__configure_shell__config_show_fish_legacy_with_functions_dir.snap
Due: no-dbg, no-std-canonicalize-in-tests

refactor(step): extract internal helpers in promote/prune (#2609)
  src/commands/step/promote.rs
  src/commands/step/prune.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

revert: drop wt-perf test layout workaround from #2604 (#2610)
  tests/helpers/wt-perf/Cargo.toml
  tests/helpers/wt-perf/src/lib.rs
  tests/helpers/wt-perf/src/main.rs
Due: cargo-lock, no-dbg, no-std-canonicalize-in-tests

refactor(config): consolidate per-shell rendering in config show (#2608)
  src/commands/config/show.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

feat(hints): track shown count and escalate shell-integration hint at 5+ (#2603)
  src/cli/config.rs
  src/commands/worktree/switch.rs
  src/git/repository/config.rs
  src/output/handlers.rs
  src/output/shell_integration.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

test(config): cover .exe alias hints in config show (#2612)
  tests/integration_tests/config_show.rs
  tests/snapshots/integration__integration_tests__config_show__config_show_bash_matched_exe_emits_alias_hint.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_unmatched_candidate_exe_emits_extra_hint.snap
Due: no-dbg, no-std-canonicalize-in-tests

refactor(error): split short Display from styled Diagnostic (#2611)
  CLAUDE.md
  src/commands/command_executor.rs
  src/commands/config/show.rs
  src/commands/for_each.rs
  src/commands/hooks.rs
  src/commands/list/collect/mod.rs
  src/commands/list/collect/tasks.rs
  src/commands/relocate.rs
  src/commands/run_pipeline.rs
  src/commands/step/rebase.rs
  src/commands/worktree/push.rs
  src/config/expansion.rs
  src/git/error.rs
  src/git/mod.rs
  src/git/repository/mod.rs
  src/llm.rs
  src/main.rs
  src/output/handlers.rs
  tests/integration_tests/git_error_display.rs
  tests/integration_tests/snapshots/integration__integration_tests__git_error_display__remote_only_branch.snap
  tests/snapshots/integration__integration_tests__remove__remove_remote_only_branch.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

ci(affected): restore prior coverage DB before collecting (#2614)
  .github/workflows/ci.yaml
Due: none

test(progress): inject TTY check so non-TTY assertion works under PTY sandboxes (#2616)
  src/progress.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

Release v0.48.0 (#2618)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/static/.well-known/agent-skills/index.json
  skills/worktrunk/SKILL.md
Due: cargo-lock

fix(prune): say "removing branch" not "removing worktree" for branch-only candidates (#2619)
  src/commands/step/prune.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

skills(running-tend): clarify non-required jobs are not auto-transient (#2620)
  .claude/skills/running-tend/SKILL.md
Due: none

ci(affected): emit and upload cargo-affected report.json artifact (#2621)
  .github/workflows/ci.yaml
Due: none

docs(skills): tighten CLAUDE.md skills list, sharpen writing-user-outputs description (#2629)
  .claude/skills/writing-user-outputs/SKILL.md
  CLAUDE.md
Due: none

fix(picker): stash collect warnings until skim releases the terminal (#2627)
  src/commands/list/collect/mod.rs
  src/commands/picker/mod.rs
  src/commands/picker/progressive_handler.rs
  tests/integration_tests/switch_picker_dry_run.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

ci(nightly): add nix flake check job (#2630)
  .github/workflows/nightly.yaml
  flake.nix
Due: none

fix(git): tolerate non-git paths in WorkingTree::is_linked (#2625)
  src/git/repository/config.rs
  tests/integration_tests/default_branch.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

skills(running-tend): two new triage rules from PR #2633 feedback (#2639)
  .claude/skills/running-tend/SKILL.md
Due: none

perf(picker): stage preview pre-compute and unify rayon pool (#2662)
  src/commands/list/collect/mod.rs
  src/commands/picker/mod.rs
  src/commands/picker/preview_cache.rs
  src/commands/picker/preview_orchestrator.rs
  src/commands/picker/progressive_handler.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

style(output): bold paths in warning messages (#2677)
  src/commands/config/show.rs
  src/commands/configure_shell.rs
  src/config/user/mod.rs
  tests/common/mod.rs
  tests/integration_tests/configure_shell.rs
  tests/snapshots/integration__integration_tests__config_show__config_show_fish_outdated_wrapper.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_fish_without_completions.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_nushell_outdated_wrapper.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_unmatched_candidate_not_suppressed_by_wrapper.snap
  tests/snapshots/integration__integration_tests__config_show__explicit_config_path_not_found_shows_warning.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

skills(running-tend): add weekly LLM-model-name check (#2676)
  .claude/skills/running-tend/SKILL.md
Due: none

perf(bench): cheaper `cargo bench --bench list` (lazy fixtures + lighter real-repo sampling) (#2685)
  benches/list.rs
Due: no-dbg, no-manual-ansi

refactor(ci): move `CiPlatform` to the lib crate, cache on `RepoCache`, drop the "override" framing (#2692)
  dev/wt.example.toml
  docs/content/config.md
  skills/worktrunk/reference/config.md
  src/cli/config.rs
  src/cli/mod.rs
  src/commands/config/show.rs
  src/commands/list/ci_status/mod.rs
  src/commands/list/ci_status/platform.rs
  src/commands/worktree/switch.rs
  src/config/project.rs
  src/git/ci_platform.rs
  src/git/mod.rs
  src/git/repository/mod.rs
  src/git/repository/remotes.rs
  tests/integration_tests/ci_status.rs
  tests/integration_tests/list.rs
  tests/integration_tests/repository.rs
  tests/integration_tests/switch.rs
  tests/snapshots/integration__integration_tests__ci_status__list_full_with_configured_platform_github.snap
  tests/snapshots/integration__integration_tests__ci_status__list_full_with_gitea_forge_platform.snap
  tests/snapshots/integration__integration_tests__ci_status__list_full_with_invalid_configured_platform.snap
  tests/snapshots/integration__integration_tests__help__help_config_create.snap
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
  tests/snapshots/integration__integration_tests__help__help_config_state_ci_status.snap
  tests/snapshots/integration__integration_tests__switch__switch_pr_gitea_forge_platform.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(hooks): resolve project config from the worktree the hook acts on (#2690)
  src/commands/command_executor.rs
  src/commands/context.rs
  src/commands/hooks.rs
  src/commands/merge.rs
  src/commands/worktree/finish.rs
  src/commands/worktree/types.rs
  src/git/repository/config.rs
  src/main.rs
  src/output/handlers.rs
  tests/integration_tests/merge.rs
  tests/integration_tests/remove.rs
  tests/snapshots/integration__integration_tests__merge__step_commit_branch_flag.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(bench): trim real_repo sampling; restore sample_size(10) criterion floor (#2695)
  benches/list.rs
Due: no-dbg, no-manual-ansi

fix(bench): stop deleting packed-refs in invalidate_caches_auto (#2697)
  benches/CLAUDE.md
  tests/helpers/wt-perf/src/lib.rs
Due: no-dbg, no-std-canonicalize-in-tests

fix(ci-status): resolve Gitea owner/repo from the branch's own remote (#2707)
  src/commands/list/ci_status/gitea.rs
  src/commands/list/ci_status/platform.rs
  tests/integration_tests/ci_status.rs
  tests/snapshots/integration__integration_tests__ci_status__gitea_remote_branch_uses_branch_remote.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(test): gate switch_picker stability on matcher row count, not preview vscroll (#2729)
  tests/integration_tests/switch_picker.rs
Due: no-dbg, no-std-canonicalize-in-tests
