Repository shaneholloman/worktrunk: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '.*\.snap$'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  # pre-commit autoupdate reverts to mutable v1 tag; update manually
  - repo: https://github.com/crate-ci/typos
    rev: v1.41.0
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]
  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.22.0
    hooks:
      # Check links using .config/lychee.toml exclusions
      # Uses lychee-system (requires `cargo install lychee`) to avoid /bin/bash dependency on Windows
      - id: lychee-system
        types: [markdown]
        args:
          - --config=.config/lychee.toml
  - repo: local
    hooks:
      - id: cargo-lock
        name: cargo-lock
        description: Ensure Cargo.lock is in sync with Cargo.toml
        language: system
        entry: cargo check --locked
        pass_filenames: false
        files: (Cargo\.toml|Cargo\.lock)$
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
      - id: no-manual-ansi
        name: no-manual-ansi
        description: Use anstyle/osc8/strip-ansi-escapes instead of manual ANSI codes
        language: pygrep
        types: ["rust"]
        entry: '\\x1b\['
        # format.rs strips ANSI codes injected by wrap_ansi crate
        # select.rs tests verify ANSI dimming behavior
        exclude: '^(tests/|.*_test\.rs$|src/styling/(mod|format)\.rs$|src/commands/select/)'
      - id: no-std-canonicalize-in-tests
        name: no-std-canonicalize-in-tests
        description: Use dunce::canonicalize in tests to avoid Windows \\?\ prefix issues
        language: pygrep
        entry: '\.canonicalize\(\)'
        files: '^tests/'
      - id: no-direct-cmd-output
        name: no-direct-cmd-output
        description: Use shell_exec::Cmd instead of cmd.output() for consistent logging
        language: pygrep
        types: ["rust"]
        entry: '\.output\(\)'
        # shell_exec.rs: defines Cmd which legitimately calls .output()
        # select.rs: skim API's selected.output() is not Command::output()
        # tests/benches: test utilities run commands directly
        # src/config/{test,expansion,mod}.rs: TestRepo test fixtures use git init directly
        # src/config/user/tests.rs: TestRepo test fixtures use git init directly
        # src/styling/mod.rs: terminal width detection probes should be silent/quick
        exclude: '^(src/shell_exec\.rs|src/commands/select/|src/config/(test|expansion|mod)\.rs|src/config/user/tests\.rs|src/styling/mod\.rs|tests/|benches/)'

ci:
  # pre-commit.ci doesn't have Rust toolchain, so skip Rust-specific hooks.
  # Network access also isn't supported, so skip lychee-system.
  skip: [fmt, clippy, lychee-system, cargo-lock]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

perf(config): parallel UserConfig + ProjectConfig load (#2543)
  src/commands/alias.rs
  src/commands/config/alias.rs
  src/commands/config/show.rs
  src/commands/context.rs
  src/commands/hook_commands.rs
  src/commands/picker/mod.rs
  src/commands/step_commands.rs
  src/config/loaded.rs
  src/config/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

test(nextest): build helper bins via setup-script for filtered runs (#2544)
  .config/nextest.toml
Due: none

docs(bench): replace --skip with positional FILTER (#2547)
  benches/CLAUDE.md
  benches/alias.rs
Due: no-dbg, no-manual-ansi

docs(cache): list head_sha() in the not-cached set (#2545)
  CLAUDE.md
  src/git/repository/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

ci: fix cargo-affected invocations (drop --verbose, use `--` for nextest args) (#2546)
  .github/workflows/ci.yaml
Due: none

chore: bump README month to May 2026 (#2551)
  README.md
Due: none

chore: small drift cleanups from nightly survey (#2549)
  src/cli/hook.rs
  src/commands/mod.rs
  src/git/repository/working_tree.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

Release v0.47.0 (#2552)
  .claude/skills/release/SKILL.md
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/static/.well-known/agent-skills/index.json
  skills/worktrunk/SKILL.md
Due: cargo-lock

docs(homepage): replace "Scaling agents becomes trivial" intro line (#2553)
  README.md
  docs/content/worktrunk.md
  skills/worktrunk/reference/worktrunk.md
Due: none

refactor(trace): unify in-process trace-trigger surface (#2554)
  src/commands/command_executor.rs
  src/commands/list/collect/mod.rs
  src/commands/picker/mod.rs
  src/shell_exec.rs
  src/trace/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor(trace): dynamic span names + share WtTraceLog across Cmd modes (#2555)
  src/commands/alias.rs
  src/commands/command_executor.rs
  src/shell_exec.rs
  src/trace/emit.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

perf(alias): scope template-context build to vars the body references (#2556)
  src/commands/alias.rs
  src/commands/command_executor.rs
  src/commands/config/alias.rs
  src/commands/context.rs
  src/commands/eval.rs
  src/commands/for_each.rs
  src/commands/handle_switch.rs
  src/commands/hook_commands.rs
  src/commands/picker/mod.rs
  src/config/expansion.rs
  src/config/loaded.rs
  src/config/mod.rs
  src/config/user/mod.rs
  src/git/repository/config.rs
  src/shell_exec.rs
  tests/snapshots/integration__integration_tests__step_alias__alias_verbose_args_shell_escaped.snap
  tests/snapshots/integration__integration_tests__step_alias__alias_verbose_variable_table.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Add wt-perf timeline subcommand for trace capture & rendering (#2558)
  CLAUDE.md
  Cargo.lock
  benches/CLAUDE.md
  benches/list.rs
  src/trace/mod.rs
  tests/helpers/wt-perf/Cargo.toml
  tests/helpers/wt-perf/src/main.rs
Due: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Add wt step {commit,squash} --dry-run, hide --show-prompt (#2557)
  .claude/skills/writing-user-outputs/SKILL.md
  docs/content/step.md
  skills/worktrunk/reference/step.md
  src/cli/step.rs
  src/commands/commit.rs
  src/commands/mod.rs
  src/commands/step_commands.rs
  src/llm.rs
  src/main.rs
  tests/common/mod.rs
  tests/integration_tests/merge.rs
  tests/snapshots/integration__integration_tests__merge__step_commit_dry_run.snap
  tests/snapshots/integration__integration_tests__merge__step_squash_dry_run.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Document codecov compare API line encoding (#2563)
  CLAUDE.md
Due: none

feat: add --format=json to seven step + hook commands (#2560)
  docs/content/step.md
  skills/worktrunk/reference/step.md
  src/cli/hook.rs
  src/cli/step.rs
  src/commands/commit.rs
  src/commands/hook_commands.rs
  src/commands/merge.rs
  src/commands/relocate.rs
  src/commands/step_commands.rs
  src/commands/worktree/mod.rs
  src/commands/worktree/push.rs
  src/main.rs
  tests/integration_tests/hook_show.rs
  tests/integration_tests/merge.rs
  tests/integration_tests/step_copy_ignored.rs
  tests/integration_tests/step_relocate.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

test: cover error paths in step_commands and run_git_capture (#2566)
  src/commands/step_commands.rs
  src/llm.rs
  tests/integration_tests/merge.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(prune): wrap multi-line git errors with context to silence debug_assert (#2567)
  src/commands/step_commands.rs
  src/main.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(tests): normalize cargo-affected target dir in PTY snapshots (#2565)
  tests/common/mod.rs
Due: no-dbg, no-std-canonicalize-in-tests

refactor: route every short-SHA display through git's abbreviation logic (#2576)
  docs/content/hook.md
  docs/content/list.md
  skills/worktrunk/reference/hook.md
  skills/worktrunk/reference/list.md
  src/cli/mod.rs
  src/commands/command_executor.rs
  src/commands/commit.rs
  src/commands/list/collect/mod.rs
  src/commands/list/json_output.rs
  src/commands/list/layout.rs
  src/commands/list/model/stats.rs
  src/commands/step_commands.rs
  src/commands/template_vars.rs
  src/commands/worktree/finish.rs
  src/commands/worktree/hooks.rs
  src/commands/worktree/push.rs
  src/config/project.rs
  src/git/repository/diff.rs
  src/git/repository/mod.rs
  src/git/repository/tests.rs
  src/git/repository/working_tree.rs
  tests/snapshots/integration__integration_tests__help__help_list_long.snap
  tests/snapshots/integration__integration_tests__help__help_list_narrow_80.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(config): distinguish "not configured" from "not active" in shell status (#2572)
  src/commands/config/show.rs
  tests/snapshots/integration__integration_tests__config_show__config_show_claude_available_plugin_not_installed.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_displays_deprecation_details.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_displays_no_cd_deprecation.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_displays_no_ff_deprecation.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_displays_pre_hook_table_form_deprecation.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_displays_project_commit_generation_deprecations.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_displays_select_section_deprecation.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_empty_project_config.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_empty_system_config.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_from_linked_worktree_shows_main_worktree_hint.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_full_command_not_found.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_full_not_configured.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_full_update_available.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_full_version_check_unavailable.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_github_remote.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_gitlab_remote.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_invalid_project_toml.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_invalid_system_config.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_invalid_user_toml.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_no_project_config.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_no_user_config.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_opencode_available_plugin_not_installed.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_opencode_plugin_installed.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_opencode_plugin_outdated.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_outside_git_repo.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_plugin_installed.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_statusline_configured.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_suggests_project_config_for_ci.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_suggests_user_config_for_commit_generation.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_unmatched_candidate_warning.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_warns_unknown_project_keys.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_warns_unknown_user_keys.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_whitespace_only_project_config.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_with_project_config.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_with_system_config.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor: move pager-fallback into show_help_in_pager (#2575)
  src/commands/config/show.rs
  src/commands/config/state.rs
  src/commands/hook_commands.rs
  src/commands/step_commands.rs
  src/help.rs
  src/help_pager.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

perf(alias): parallelize prewarm git/config/user-config reads (#2573)
  src/commands/alias.rs
  src/commands/config/alias.rs
  src/commands/config/update.rs
  src/commands/context.rs
  src/commands/hook_commands.rs
  src/commands/picker/mod.rs
  src/commands/step_commands.rs
  src/config/loaded.rs
  src/config/mod.rs
  src/git/repository/config.rs
  src/git/repository/mod.rs
  src/main.rs
  tests/snapshots/integration__integration_tests__approvals__clear_approvals_legacy_config_storage.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_displays_deprecation_details.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_displays_no_cd_deprecation.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_displays_no_ff_deprecation.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_displays_project_commit_generation_deprecations.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_displays_select_section_deprecation.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_invalid_system_config.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_invalid_user_toml.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_suggests_project_config_for_ci.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_warns_unknown_user_keys.snap
  tests/snapshots/integration__integration_tests__config_show__config_update_applies_approved_commands_migration.snap
  tests/snapshots/integration__integration_tests__config_show__config_update_applies_commit_generation_migration.snap
  tests/snapshots/integration__integration_tests__config_show__config_update_applies_template_var_migration.snap
  tests/snapshots/integration__integration_tests__config_update_pty__config_update_prompt_accept.snap
  tests/snapshots/integration__integration_tests__config_update_pty__config_update_prompt_decline.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(list): hoist short_sha onto ListItem so every row has it (#2577)
  src/commands/list/collect/mod.rs
  src/commands/list/json_output.rs
  src/commands/list/layout.rs
  src/commands/list/model/item.rs
  src/commands/list/model/stats.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

test: unify WORKTRUNK_TEST_POWERSHELL_ENV into STATIC_TEST_ENV_VARS (#2578)
  src/testing/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

style(config): bold shell name on "Skipped" row in wt config show (#2579)
  src/commands/config/show.rs
  tests/integration_tests/config_show.rs
  tests/snapshots/integration__integration_tests__config_show__config_show_skipped_with_installed_binary.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

ci: pin cache-apt-pkgs-action to v1.6.0 (#2583)
  .github/actions/test-setup/action.yaml
  .github/workflows/ci.yaml
Due: none

refactor(config): drop project-config preload at picker / branchless entry (#2582)
  src/commands/context.rs
  src/commands/picker/mod.rs
  src/git/repository/config.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor(list): route ListItem::display_name through short_sha (#2584)
  src/commands/list/model/item.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(config): iterate PowerShell uniformly with other shells (#2581)
  src/commands/configure_shell.rs
  tests/integration_tests/configure_shell.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs: refresh STATIC_TEST_ENV_VARS comment for WORKTRUNK_TEST_POWERSHELL_ENV (#2585)
  src/testing/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

test: avoid same-size mtime race in step_commit_dry_run_stage_tracked (#2586)
  tests/integration_tests/merge.rs
Due: no-dbg, no-std-canonicalize-in-tests

refactor(error): introduce CommandError typed leaf for buffered git failures (#2580)
  src/commands/list/collect/mod.rs
  src/commands/list/collect/tasks.rs
  src/commands/step_commands.rs
  src/commands/worktree/push.rs
  src/git/error.rs
  src/git/mod.rs
  src/git/repository/mod.rs
  src/git/repository/tests.rs
  src/git/repository/working_tree.rs
  src/main.rs
  src/output/handlers.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

feat(config): add [remove] delete-branch config option (#2589)
  dev/config.example.toml
  docs/content/config.md
  skills/worktrunk/reference/config.md
  src/cli/mod.rs
  src/config/mod.rs
  src/config/user/accessors.rs
  src/config/user/mod.rs
  src/config/user/resolved.rs
  src/config/user/sections.rs
  src/config/user/tests.rs
  src/main.rs
  tests/integration_tests/remove.rs
  tests/snapshots/integration__integration_tests__help__help_config_create.snap
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
  tests/snapshots/integration__integration_tests__remove__remove_conflicting_branch_flags.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

feat(config): add parent and name path-traversal template filters (#2592)
  docs/content/hook.md
  skills/worktrunk/reference/hook.md
  src/cli/mod.rs
  src/config/expansion.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

skills(running-tend): catch all CI cargo-install pins in weekly bumps (#2593)
  .claude/skills/running-tend/SKILL.md
  .github/workflows/ci.yaml
Due: none

fix(config): suppress redundant deprecation hint during `wt config update` (#2590)
  src/commands/config/update.rs
  src/main.rs
  tests/integration_tests/config_show.rs
  tests/snapshots/integration__integration_tests__config_show__config_update_applies_approved_commands_migration.snap
  tests/snapshots/integration__integration_tests__config_show__config_update_applies_commit_generation_migration.snap
  tests/snapshots/integration__integration_tests__config_show__config_update_applies_template_var_migration.snap
  tests/snapshots/integration__integration_tests__config_update_pty__config_update_prompt_accept.snap
  tests/snapshots/integration__integration_tests__config_update_pty__config_update_prompt_decline.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(config): extract render_fish_legacy_migration helper (#2591)
  src/commands/config/show.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output
