Repository shaneholloman/worktrunk: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

cargo-lock:
  name: cargo-lock
  description: Ensure Cargo.lock is in sync with Cargo.toml
  language: system
  entry: cargo check --locked
  pass_filenames: false

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

no-manual-ansi:
  name: no-manual-ansi
  description: Use anstyle/osc8/strip-ansi-escapes instead of manual ANSI codes
  language: pygrep
  entry: \\x1b\[

no-std-canonicalize-in-tests:
  name: no-std-canonicalize-in-tests
  description: Use dunce::canonicalize in tests to avoid Windows \\?\ prefix issues
  language: pygrep
  entry: \.canonicalize\(\)

no-direct-cmd-output:
  name: no-direct-cmd-output
  description: Use shell_exec::Cmd instead of cmd.output() for consistent logging
  language: pygrep
  entry: \.output\(\)

refactor: consolidate TestRepo into single `src/testing` module (#1991)
  .pre-commit-config.yaml
  src/testing.rs
  src/testing/mock_commands.rs
  src/testing/mod.rs
  tests/common/mod.rs
  tests/integration_tests/list.rs
  tests/integration_tests/repository.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix: improve hook pipeline summary display (#1994)
  src/commands/hooks.rs
  tests/snapshots/integration__integration_tests__merge__merge_post_merge_command_named.snap
  tests/snapshots/integration__integration_tests__merge__merge_post_merge_pipeline_serial_ordering.snap
  tests/snapshots/integration__integration_tests__merge__readme_example_complex.snap
  tests/snapshots/integration__integration_tests__post_start_commands__both_create_and_start.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_mixed_user_pipeline_project_flat.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_multiple_background.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_pipeline_template_vars.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_project_pipeline.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_separate_logs.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_verbose_output.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__unix_tests__readme_example_hooks_pre_start.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__unix_tests__switch_with_hooks_zsh.snap
  tests/snapshots/integration__integration_tests__user_hooks__combined_post_remove_and_post_switch.snap
  tests/snapshots/integration__integration_tests__user_hooks__post_remove_runs_at_primary.snap
  tests/snapshots/integration__integration_tests__user_hooks__standalone_hook_name_filtered_lazy_template.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_and_project_post_start.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_commit_executes.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_commit_failure.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_merge_executes.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_remove_executes.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_remove_pipeline_ordering.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_start_executes.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_start_pipeline_concurrent_all.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_start_pipeline_concurrent_failure.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_start_pipeline_failure.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_start_pipeline_hook_name_per_step.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_start_pipeline_lazy_vars_bg.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_start_pipeline_ordering.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_switch_pipeline_via_create.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs: fix inaccurate logs documentation (#1986)
  CLAUDE.md
  docs/content/config.md
  docs/content/faq.md
  skills/worktrunk/reference/config.md
  skills/worktrunk/reference/faq.md
  src/cli/config.rs
  src/commands/config/state.rs
  tests/snapshots/integration__integration_tests__help__help_config_state.snap
  tests/snapshots/integration__integration_tests__help__help_config_state_get.snap
  tests/snapshots/integration__integration_tests__help__help_config_state_logs.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

chore: add padded bot logo for avatar use (#2006)
  dev/logo-padded-768.png
Due: none

refactor: add `TestRepo::bare()` and consolidate bare repo test creation (#2007)
  src/git/recover.rs
  src/testing/mod.rs
  tests/integration_tests/step_promote.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

chore: regenerate tend workflows from upstream main (#2009)
  .github/CLAUDE.md
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

feat: show branch name in hook announcements during batch removal (#2014)
  src/commands/handle_switch.rs
  src/commands/hooks.rs
  src/commands/merge.rs
  src/commands/step_commands.rs
  src/main.rs
  src/output/handlers.rs
  tests/integration_tests/step_prune.rs
  tests/snapshots/integration__integration_tests__step_prune__prune_hook_announcements_include_branch.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

test: add snapshot test for multi-remove hook branch context (#2016)
  tests/integration_tests/user_hooks.rs
  tests/snapshots/integration__integration_tests__user_hooks__multi_remove_hook_branch_context.snap
Due: no-dbg, no-std-canonicalize-in-tests

Release v0.35.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/static/.well-known/agent-skills/index.json
  skills/worktrunk/SKILL.md
Due: cargo-lock

perf: stream prune output as integration checks complete (#2015)
  src/commands/step_commands.rs
  tests/integration_tests/step_prune.rs
  tests/snapshots/integration__integration_tests__step_prune__prune_stale_plus_young.snap
  tests/snapshots/integration__integration_tests__step_prune__prune_stale_plus_young_non_dry_run.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

perf: thread worktree list through prepare_worktree_removal (#2025)
  src/commands/picker/mod.rs
  src/commands/repository_ext.rs
  src/commands/step_commands.rs
  src/main.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

chore: regenerate workflows with tend 0.0.9 (#2023)
  .github/workflows/tend-notifications.yaml
Due: none

Release v0.35.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/static/.well-known/agent-skills/index.json
  skills/worktrunk/SKILL.md
Due: cargo-lock

docs: link Copy build caches to wt-step-copy-ignored anchor (#2036)
  README.md
  docs/content/worktrunk.md
  skills/worktrunk/reference/worktrunk.md
Due: none

refactor(logs): nest hook output by branch/source/hook-type/name (#2041)
  CLAUDE.md
  docs/content/config.md
  docs/content/faq.md
  docs/content/remove.md
  skills/worktrunk/reference/config.md
  skills/worktrunk/reference/faq.md
  skills/worktrunk/reference/remove.md
  src/cli/config.rs
  src/cli/mod.rs
  src/commands/config/state.rs
  src/commands/process.rs
  src/testing/mod.rs
  tests/integration_tests/bare_repository.rs
  tests/integration_tests/config_state.rs
  tests/integration_tests/post_start_commands.rs
  tests/integration_tests/user_hooks.rs
  tests/snapshots/integration__integration_tests__config_state__logs_get_json_with_files.snap
  tests/snapshots/integration__integration_tests__config_state__state_get_comprehensive.snap
  tests/snapshots/integration__integration_tests__config_state__state_logs_get_hook_not_found.snap
  tests/snapshots/integration__integration_tests__help__help_config_state_logs.snap
  tests/snapshots/integration__integration_tests__help__help_remove_long.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

test(readme-sync): expand snapshot output in skill reference files (#2049)
  skills/worktrunk/reference/config.md
  skills/worktrunk/reference/list.md
  tests/integration_tests/readme_sync.rs
Due: no-dbg, no-std-canonicalize-in-tests

skills(running-tend): prefer CI rerun over exclude list for transient failures (#2050)
  .claude/skills/running-tend/SKILL.md
Due: none

fix: exit 0 when wt hook has no hooks configured (#2056)
  CHANGELOG.md
  src/commands/hook_commands.rs
  tests/integration_tests/user_hooks.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

config: parse typed env-var overrides and surface load failures (#2062)
  src/config/user/mod.rs
  src/git/repository/mod.rs
  tests/integration_tests/list_config.rs
  tests/snapshots/integration__integration_tests__list_config__list_config_env_override_preserves_file_fields.snap
  tests/snapshots/integration__integration_tests__list_config__list_config_malformed_config_warns_on_stderr.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Per-symbol atomic rendering for Status column (#2067)
  src/commands/list/collect/execution.rs
  src/commands/list/collect/mod.rs
  src/commands/list/collect/results.rs
  src/commands/list/collect/types.rs
  src/commands/list/json_output.rs
  src/commands/list/layout.rs
  src/commands/list/mod.rs
  src/commands/list/model/item.rs
  src/commands/list/model/state.rs
  src/commands/list/model/status_symbols.rs
  src/commands/list/render.rs
  src/commands/list/snapshots/wt__commands__list__layout__tests__snapshot_path_yields_to_summary.snap
  tests/snapshots/integration__integration_tests__list__list_empty_repo.snap
  tests/snapshots/integration__integration_tests__list__list_shows_warning_on_git_error.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs: use `git rev-parse --verify -q` in `up` alias example (#2082)
  docs/content/step.md
  skills/worktrunk/reference/step.md
  src/cli/mod.rs
  tests/snapshots/integration__integration_tests__help__help_step_long.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Persistent cache for merge-tree and integration probe results (#2085)
  docs/content/faq.md
  skills/worktrunk/reference/faq.md
  src/cli/config.rs
  src/commands/config/state.rs
  src/git/repository/integration.rs
  src/git/repository/mod.rs
  src/git/repository/probe_cache.rs
  tests/integration_tests/config_state.rs
  tests/snapshots/integration__integration_tests__help__help_config_state_clear.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Run merge-tree tasks for stale branches in picker (#2090)
  src/commands/list/collect/execution.rs
  tests/snapshots/integration__integration_tests__list__list_skips_expensive_for_stale_branches_only.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Unify hook and alias shell execution (#2089)
  src/commands/alias.rs
  src/commands/for_each.rs
  src/commands/hooks.rs
  src/output/handlers.rs
  src/output/mod.rs
  src/shell_exec.rs
  tests/integration_tests/for_each.rs
  tests/integration_tests/step_alias.rs
  tests/integration_tests/user_hooks.rs
  tests/snapshots/integration__integration_tests__for_each__for_each_command_fails_in_one.snap
  tests/snapshots/integration__integration_tests__for_each__for_each_detached_branch_variable.snap
  tests/snapshots/integration__integration_tests__for_each__for_each_multiple_worktrees.snap
  tests/snapshots/integration__integration_tests__for_each__for_each_single_worktree.snap
  tests/snapshots/integration__integration_tests__for_each__for_each_skips_prunable_worktrees.snap
  tests/snapshots/integration__integration_tests__for_each__for_each_spawn_fails.snap
  tests/snapshots/integration__integration_tests__for_each__for_each_with_detached_head.snap
  tests/snapshots/integration__integration_tests__for_each__for_each_with_template.snap
  tests/snapshots/integration__integration_tests__step_alias__alias_append_executes_both.snap
  tests/snapshots/integration__integration_tests__step_alias__alias_approval_already_approved.snap
  tests/snapshots/integration__integration_tests__step_alias__alias_approval_user_and_project_both_need_approval.snap
  tests/snapshots/integration__integration_tests__step_alias__alias_approval_user_config_skips.snap
  tests/snapshots/integration__integration_tests__step_alias__alias_approval_yes_first_run.snap
  tests/snapshots/integration__integration_tests__step_alias__step_alias_from_project_config.snap
  tests/snapshots/integration__integration_tests__step_alias__step_alias_from_user_config.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor: remove config crate, inline OverridableConfig (#2087)
  Cargo.lock
  Cargo.toml
  src/commands/hook_commands.rs
  src/completion.rs
  src/config/approvals.rs
  src/config/mod.rs
  src/config/project.rs
  src/config/user/accessors.rs
  src/config/user/mod.rs
  src/config/user/mutation.rs
  src/config/user/persistence.rs
  src/config/user/sections.rs
  src/config/user/tests.rs
  src/git/repository/mod.rs
  tests/integration_tests/list_config.rs
  tests/integration_tests/select_config.rs
  tests/snapshots/integration__integration_tests__list_config__list_config_env_override_bad_value_warns_on_stderr.snap
Due: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

feat(alias): canonicalize hyphens to underscores in variable names (#2096)
  docs/content/step.md
  skills/worktrunk/reference/step.md
  src/cli/mod.rs
  src/commands/alias.rs
  tests/snapshots/integration__integration_tests__help__help_step_long.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs(collect): document cache design across `.git/wt/cache/` (#2097)
  src/commands/list/collect/mod.rs
  src/git/repository/probe_cache.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

Show pipeline structure in alias announcements (#2092)
  src/commands/alias.rs
  src/commands/hooks.rs
  src/commands/mod.rs
  src/commands/run_pipeline.rs
  tests/integration_tests/post_start_commands.rs
  tests/integration_tests/step_alias.rs
  tests/snapshots/integration__integration_tests__step_alias__alias_pipeline_announcement.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(for-each): use canonical expand_shell_template helper (#2103)
  src/commands/for_each.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor(config): make ProjectConfig::aliases non-optional (#2106)
  src/commands/alias.rs
  src/completion.rs
  src/config/project.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

doc: note unnamed-in-concurrent is unreachable from config (#2107)
  src/commands/hooks.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(config): resolve env var types per-var instead of all-or-nothing (#2111)
  src/config/user/mod.rs
  tests/integration_tests/list_config.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor: rename probe_cache to sha_cache (#2109)
  src/commands/config/state.rs
  src/commands/list/collect/mod.rs
  src/git/repository/diff.rs
  src/git/repository/integration.rs
  src/git/repository/mod.rs
  src/git/repository/sha_cache.rs
  tests/integration_tests/config_state.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(config): replace manual save_to allowlist with diff-based merge (#2112)
  src/config/user/mutation.rs
  src/config/user/persistence.rs
  src/config/user/tests.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

docs(collect): reclassify AheadBehind in cache spec (#2116)
  src/commands/list/collect/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

feat(hook): --KEY=VALUE shorthand, custom vars, unreferenced-var warning (#2117)
  docs/content/hook.md
  skills/worktrunk/reference/hook.md
  src/cli/hook.rs
  src/cli/mod.rs
  src/commands/alias.rs
  src/commands/hook_commands.rs
  src/config/expansion.rs
  src/main.rs
  tests/integration_tests/user_hooks.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs: clarify that coverage includes shell-integration-tests (#2126)
  CLAUDE.md
Due: none

chore: add TODO for pre-canonicalized key in warning (#2127)
  src/commands/hook_commands.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

feat(priority): use taskpolicy -b on macOS for I/O throttling (#2133)
  src/commands/process.rs
  src/copy.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

Path conditions:
  cargo-lock: any of: (Cargo\.toml|Cargo\.lock)$
  no-dbg: any of: \.rs$
  no-manual-ansi: any of: \.rs$, but not: ^(tests/|.*_test\.rs$|src/styling/(mod|format)\.rs$|src/commands/select/)
  no-std-canonicalize-in-tests: any of: ^tests/
  no-direct-cmd-output: any of: \.rs$, but not: ^(src/shell_exec\.rs|src/commands/select/|src/config/(test|expansion|mod)\.rs|src/config/user/tests\.rs|src/styling/mod\.rs|tests/|benches/)
