Repository shaneholloman/worktrunk: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

cargo-lock:
  name: cargo-lock
  description: Ensure Cargo.lock is in sync with Cargo.toml
  language: system
  entry: cargo check --locked
  pass_filenames: false

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

no-manual-ansi:
  name: no-manual-ansi
  description: Use anstyle/osc8/strip-ansi-escapes instead of manual ANSI codes
  language: pygrep
  entry: \\x1b\[

no-std-canonicalize-in-tests:
  name: no-std-canonicalize-in-tests
  description: Use dunce::canonicalize in tests to avoid Windows \\?\ prefix issues
  language: pygrep
  entry: \.canonicalize\(\)

no-direct-cmd-output:
  name: no-direct-cmd-output
  description: Use shell_exec::run() instead of cmd.output() for consistent logging
  language: pygrep
  entry: \.output\(\)

docs: remove redundant horizontal rules before H1 headers (#909)
  .claude-plugin/skills/worktrunk/reference/config.md
  docs/content/config.md
  src/cli/mod.rs
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(hook): error consistently when no hooks configured (#916)
  src/commands/hook_commands.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

docs: update homepage date to February 2026 (#917)
  README.md
Due: none

fix: skip URL template expansion when UrlStatus is skipped (#923)
  src/commands/list/collect/execution.rs
  src/utils.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix: trigger claude-mention on issue creation and edits (#973)
  .github/workflows/claude-mention.yaml
Due: none

test: add switch nonexistent-branch test, reference #977 (#979)
  tests/integration_tests/switch.rs
  tests/snapshots/integration__integration_tests__switch__switch_nonexistent_branch.snap
Due: no-dbg, no-std-canonicalize-in-tests

fix(test): normalize trailing whitespace at PtyResult extraction layer (#983)
  tests/integration_tests/switch_picker.rs
  tests/snapshots/integration__integration_tests__switch_picker__switch_picker_abort_escape.snap
  tests/snapshots/integration__integration_tests__switch_picker__switch_picker_multiple_worktrees.snap
  tests/snapshots/integration__integration_tests__switch_picker__switch_picker_preview_log_list.snap
  tests/snapshots/integration__integration_tests__switch_picker__switch_picker_preview_log_preview.snap
  tests/snapshots/integration__integration_tests__switch_picker__switch_picker_preview_main_diff_list.snap
  tests/snapshots/integration__integration_tests__switch_picker__switch_picker_preview_main_diff_preview.snap
  tests/snapshots/integration__integration_tests__switch_picker__switch_picker_preview_uncommitted_list.snap
  tests/snapshots/integration__integration_tests__switch_picker__switch_picker_preview_uncommitted_preview.snap
  tests/snapshots/integration__integration_tests__switch_picker__switch_picker_with_branches.snap
Due: no-dbg, no-std-canonicalize-in-tests

fix: use symlink-preserved paths in display messages (#985)
  src/output/global.rs
  src/output/handlers.rs
  src/output/mod.rs
  tests/integration_tests/directives.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(ci): fix model selection and fork PR handling in Claude workflows (#991)
  .github/workflows/claude-ci-fix.yaml
  .github/workflows/claude-mention.yaml
  .github/workflows/claude-renovate.yaml
Due: none

fix(test): increase STABILIZE_TIMEOUT to 10s for slow macOS CI (#988)
  tests/integration_tests/switch_picker.rs
Due: no-dbg, no-std-canonicalize-in-tests

refactor: move plugin skills to standard `skills/` location (#997)
  .claude-plugin/CLAUDE.md
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .claude-plugin/skills/worktrunk/reference/README.md
  CLAUDE.md
  Cargo.toml
  skills/worktrunk/SKILL.md
  skills/worktrunk/reference/README.md
  skills/worktrunk/reference/claude-code.md
  skills/worktrunk/reference/config.md
  skills/worktrunk/reference/faq.md
  skills/worktrunk/reference/hook.md
  skills/worktrunk/reference/list.md
  skills/worktrunk/reference/llm-commits.md
  skills/worktrunk/reference/merge.md
  skills/worktrunk/reference/remove.md
  skills/worktrunk/reference/shell-integration.md
  skills/worktrunk/reference/step.md
  skills/worktrunk/reference/switch.md
  skills/worktrunk/reference/tips-patterns.md
  skills/worktrunk/reference/troubleshooting.md
  skills/worktrunk/reference/worktrunk.md
  tests/integration_tests/readme_sync.rs
Due: cargo-lock, no-dbg, no-std-canonicalize-in-tests

fix(ci): remove secrets from job-level if in claude-mention workflow (#1005)
  .github/workflows/claude-mention.yaml
Due: none

fix(plugin): remove duplicate skills declaration from marketplace.json (#1013) (#1014)
  .claude-plugin/marketplace.json
Due: none

fix(docs): consistent ordering of blockquote and heading in overview (#1015)
  README.md
  docs/content/worktrunk.md
  skills/worktrunk/reference/worktrunk.md
Due: none

fix(docs): unset CLAUDECODE in Claude Code commit command (#1020)
  docs/content/llm-commits.md
  skills/worktrunk/reference/llm-commits.md
Due: none

fix(styling): stop template placeholders leaking into displayed commands (#1022)
  src/styling/format.rs
  src/styling/snapshots/worktrunk__styling__tests__format_bash_multiline_command_consistent_styling.snap
  src/styling/snapshots/worktrunk__styling__tests__unhighlighted_text_has_consistent_dim_across_lines.snap
Due: no-dbg, no-direct-cmd-output

perf(switch): defer path computation for existing worktree switches (#1031)
  src/commands/handle_switch.rs
  src/commands/select/mod.rs
  src/commands/worktree/mod.rs
  src/commands/worktree/switch.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

chore(ci): update taiki-e/install-action v2.67.28 → v2.67.30 (#1033)
  .github/workflows/publish-docs.yaml
Due: none

fix(ci): stop Claude adding redundant footers to PR comments (#1034)
  .claude/skills/running-in-ci/SKILL.md
Due: none

fix(docs): correct misleading comment about nested rayon parallelism (#1035)
  src/commands/list/collect/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(shell): nushell detection checks multiple config paths (#1038)
  src/shell/paths.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(ci): allow Claude review on external contributor PRs (#1039)
  .github/workflows/claude-review.yaml
Due: none

Revert "Add VCS-agnostic workspace abstraction with jj support"
  src/commands/handle_merge_jj.rs
  src/workspace/jj.rs
  src/workspace/mod.rs
  tests/integration_tests/jj.rs
  tests/snapshots/integration__integration_tests__jj__jj_merge_implicit_target.snap
  tests/snapshots/integration__integration_tests__jj__jj_merge_no_remove.snap
  tests/snapshots/integration__integration_tests__jj__jj_merge_squash.snap
  tests/snapshots/integration__integration_tests__jj__jj_merge_squash_with_directive_file.snap
  tests/snapshots/integration__integration_tests__jj__jj_step_squash_already_integrated.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(shell): nushell uninstall cleans all candidate locations, dedup candidates (#1050)
  src/commands/configure_shell.rs
  src/shell/paths.rs
  tests/integration_tests/configure_shell.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(ci): cancel redundant CI runs on PR updates (#1055)
  .github/workflows/ci.yaml
Due: none

fix(config): resolve list timeout from per-project config (#1063)
  src/commands/list/collect/mod.rs
  src/commands/list/mod.rs
  src/commands/select/mod.rs
  src/git/repository/mod.rs
  src/main.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

feat(switch): enrich error hints with --execute context (#1064)
  src/commands/handle_switch.rs
  src/git/error.rs
  src/git/mod.rs
  src/styling/suggest.rs
  tests/integration_tests/snapshots/integration__integration_tests__git_error_display__branch_not_found.snap
  tests/integration_tests/snapshots/integration__integration_tests__git_error_display__uncommitted_changes_with_force_hint.snap
  tests/integration_tests/snapshots/integration__integration_tests__git_error_display__worktree_path_exists.snap
  tests/integration_tests/switch.rs
  tests/snapshots/integration__integration_tests__directives__switch_without_directive_file.snap
  tests/snapshots/integration__integration_tests__merge__merge_invalid_target.snap
  tests/snapshots/integration__integration_tests__remove__remove_branch_not_fully_merged.snap
  tests/snapshots/integration__integration_tests__remove__remove_branch_only_unmerged.snap
  tests/snapshots/integration__integration_tests__remove__remove_by_name_dirty_target.snap
  tests/snapshots/integration__integration_tests__remove__remove_by_name_from_main.snap
  tests/snapshots/integration__integration_tests__remove__remove_by_name_from_other_worktree.snap
  tests/snapshots/integration__integration_tests__remove__remove_detached_worktree_in_multi.snap
  tests/snapshots/integration__integration_tests__remove__remove_force_with_modified_files.snap
  tests/snapshots/integration__integration_tests__remove__remove_foreground_unmerged.snap
  tests/snapshots/integration__integration_tests__remove__remove_multiple_including_current.snap
  tests/snapshots/integration__integration_tests__remove__remove_multiple_worktrees.snap
  tests/snapshots/integration__integration_tests__security__error_message_with_directive_not_executed.snap
  tests/snapshots/integration__integration_tests__switch__switch_create_existing_with_execute.snap
  tests/snapshots/integration__integration_tests__switch__switch_nonexistent_branch.snap
  tests/snapshots/integration__integration_tests__switch__switch_nonexistent_with_execute.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(test): wait for item content in switch picker PTY tests (#1066)
  src/commands/handle_switch.rs
  src/git/error.rs
  tests/integration_tests/switch_picker.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

feat(switch): add AI summary preview tab (#1049)
  dev/config.example.toml
  docs/content/config.md
  docs/content/faq.md
  docs/content/llm-commits.md
  docs/content/switch.md
  skills/worktrunk/reference/config.md
  skills/worktrunk/reference/faq.md
  skills/worktrunk/reference/llm-commits.md
  skills/worktrunk/reference/switch.md
  src/cli/mod.rs
  src/commands/select/items.rs
  src/commands/select/mod.rs
  src/commands/select/preview.rs
  src/commands/select/summary.rs
  src/config/user/sections.rs
  src/config/user/tests.rs
  src/llm.rs
  tests/integration_tests/switch_picker.rs
  tests/snapshots/integration__integration_tests__help__help_config_create.snap
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
  tests/snapshots/integration__integration_tests__help__help_switch_long.snap
  tests/snapshots/integration__integration_tests__switch_picker__switch_picker_multiple_worktrees_preview.snap
  tests/snapshots/integration__integration_tests__switch_picker__switch_picker_preview_log_preview.snap
  tests/snapshots/integration__integration_tests__switch_picker__switch_picker_preview_main_diff_preview.snap
  tests/snapshots/integration__integration_tests__switch_picker__switch_picker_preview_summary_list.snap
  tests/snapshots/integration__integration_tests__switch_picker__switch_picker_preview_summary_preview.snap
  tests/snapshots/integration__integration_tests__switch_picker__switch_picker_preview_uncommitted_preview.snap
  tests/snapshots/integration__integration_tests__switch_picker__switch_picker_with_branches_preview.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Release v0.25.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock

fix: use info message for migration file write notification (#1078)
  src/config/deprecation.rs
  tests/snapshots/integration__integration_tests__config_show__config_show_always_regenerates_migration_file.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_displays_deprecation_details.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_displays_project_commit_generation_deprecations.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_suggests_user_config_for_commit_generation.snap
  tests/snapshots/integration__integration_tests__config_show__deprecated_commit_generation_project_level_shows_warning.snap
  tests/snapshots/integration__integration_tests__config_show__deprecated_commit_generation_section_shows_warning.snap
  tests/snapshots/integration__integration_tests__config_show__deprecated_template_variables_show_warning.snap
  tests/snapshots/integration__integration_tests__config_show__deprecated_template_variables_verbose_shows_content.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(ci): allow issue triage for external contributors (#1086)
  .github/workflows/claude-issue-triage.yaml
Due: none

feat: add `pre-switch` hook (#1094)
  docs/content/hook.md
  skills/worktrunk/reference/hook.md
  src/cli/hook.rs
  src/cli/mod.rs
  src/commands/handle_switch.rs
  src/commands/hook_commands.rs
  src/commands/select/mod.rs
  src/config/hooks.rs
  src/git/mod.rs
  src/main.rs
  tests/integration_tests/completion.rs
  tests/integration_tests/user_hooks.rs
  tests/snapshots/integration__integration_tests__user_hooks__user_pre_switch_executes.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_pre_switch_failure.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_pre_switch_manual.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_pre_switch_no_verify.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

feat: add always-on command log for hooks and LLM commands (#1088)
  docs/content/faq.md
  skills/worktrunk/reference/faq.md
  src/command_log.rs
  src/commands/config/state.rs
  src/commands/hooks.rs
  src/lib.rs
  src/llm.rs
  src/main.rs
  src/output/handlers.rs
  src/shell_exec.rs
  tests/integration_tests/config_state.rs
  tests/snapshots/integration__integration_tests__config_state__state_get_comprehensive.snap
  tests/snapshots/integration__integration_tests__config_state__state_get_with_ci_entries.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix: omnibus demo — session manager, LSP dialog (#1101)
  docs/demos/shared/lib.py
  docs/demos/shared/validation.py
  docs/demos/tapes/wt-zellij-omnibus.tape
Due: none

Release v0.26.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock

fix: stabilize flaky test_switch_picker_respects_list_config (#1108)
  tests/integration_tests/switch_picker.rs
Due: no-dbg, no-std-canonicalize-in-tests

Path conditions:
  cargo-lock: any of: (Cargo\.toml|Cargo\.lock)$
  no-dbg: any of: \.rs$
  no-manual-ansi: any of: \.rs$, but not: ^(tests/|.*_test\.rs$|src/styling/(line|mod|format)\.rs$|src/output/global\.rs$|src/cli\.rs$)
  no-std-canonicalize-in-tests: any of: ^tests/
  no-direct-cmd-output: any of: \.rs$, but not: ^(src/shell_exec\.rs|src/commands/select\.rs|tests/|benches/)
