Repository shaneholloman/worktrunk: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '.*\.snap$'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  # pre-commit autoupdate reverts to mutable v1 tag; update manually
  - repo: https://github.com/crate-ci/typos
    rev: v1.41.0
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]
  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.22.0
    hooks:
      # Check links using .config/lychee.toml exclusions
      # Uses lychee-system (requires `cargo install lychee`) to avoid /bin/bash dependency on Windows
      - id: lychee-system
        types: [markdown]
        args:
          - --config=.config/lychee.toml
  - repo: local
    hooks:
      - id: cargo-lock
        name: cargo-lock
        description: Ensure Cargo.lock is in sync with Cargo.toml
        language: system
        entry: cargo check --locked
        pass_filenames: false
        files: (Cargo\.toml|Cargo\.lock)$
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
      - id: no-manual-ansi
        name: no-manual-ansi
        description: Use anstyle/osc8/strip-ansi-escapes instead of manual ANSI codes
        language: pygrep
        types: ["rust"]
        entry: '\\x1b\['
        # format.rs strips ANSI codes injected by wrap_ansi crate
        # select.rs tests verify ANSI dimming behavior
        exclude: '^(tests/|.*_test\.rs$|src/styling/(mod|format)\.rs$|src/commands/select/)'
      - id: no-std-canonicalize-in-tests
        name: no-std-canonicalize-in-tests
        description: Use dunce::canonicalize in tests to avoid Windows \\?\ prefix issues
        language: pygrep
        entry: '\.canonicalize\(\)'
        files: '^tests/'
      - id: no-direct-cmd-output
        name: no-direct-cmd-output
        description: Use shell_exec::Cmd instead of cmd.output() for consistent logging
        language: pygrep
        types: ["rust"]
        entry: '\.output\(\)'
        # shell_exec.rs: defines Cmd which legitimately calls .output()
        # select.rs: skim API's selected.output() is not Command::output()
        # tests/benches: test utilities run commands directly
        # src/config/{test,expansion,mod}.rs: TestRepo test fixtures use git init directly
        # src/config/user/tests.rs: TestRepo test fixtures use git init directly
        # src/styling/mod.rs: terminal width detection probes should be silent/quick
        exclude: '^(src/shell_exec\.rs|src/commands/select/|src/config/(test|expansion|mod)\.rs|src/config/user/tests\.rs|src/styling/mod\.rs|tests/|benches/)'

ci:
  # pre-commit.ci doesn't have Rust toolchain, so skip Rust-specific hooks.
  # Network access also isn't supported, so skip lychee-system.
  skip: [fmt, clippy, lychee-system, cargo-lock]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

Remove dead [hooks] branches from post-create deprecation (#2138)
  src/config/deprecation.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

test(merge): fix race in post-merge marker assertion (#2139)
  tests/integration_tests/merge.rs
Due: no-dbg, no-std-canonicalize-in-tests

Add May 2026 TODO to deprecate legacy WORKTRUNK_DIRECTIVE_FILE (#2142)
  src/output/global.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor(priority): unify low-priority spawning in `priority` module (#2140)
  src/commands/process.rs
  src/commands/step_commands.rs
  src/copy.rs
  src/lib.rs
  src/priority.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor: prefer raw strings over escaped literals (#2150)
  src/commands/process.rs
  src/config/deprecation.rs
  src/config/expansion.rs
  src/config/mod.rs
  src/config/test.rs
  src/config/user/tests.rs
  src/output/global.rs
  src/styling/suggest.rs
  tests/integration_tests/config_show.rs
  tests/integration_tests/doc_templates.rs
  tests/integration_tests/readme_sync.rs
  tests/integration_tests/security.rs
  tests/integration_tests/shell_wrapper.rs
  tests/integration_tests/statusline.rs
  tests/integration_tests/step_alias.rs
  tests/integration_tests/user_hooks.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(config): drop redundant "To configure" hint for outdated shell wrappers (#2152)
  src/commands/config/show.rs
  tests/snapshots/integration__integration_tests__config_show__config_show_fish_outdated_wrapper.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_nushell_outdated_wrapper.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Unify the last two deprecation warnings to the standard pattern (#2153)
  src/config/deprecation.rs
  tests/snapshots/integration__integration_tests__config_show__config_show_always_regenerates_migration_file.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_displays_deprecation_details.snap
  tests/snapshots/integration__integration_tests__config_show__config_show_from_linked_worktree_shows_main_worktree_hint.snap
  tests/snapshots/integration__integration_tests__config_show__config_update_applies_approved_commands_migration.snap
  tests/snapshots/integration__integration_tests__config_show__config_update_applies_template_var_migration.snap
  tests/snapshots/integration__integration_tests__config_update_pty__config_update_prompt_accept.snap
  tests/snapshots/integration__integration_tests__config_update_pty__config_update_prompt_decline.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(config-state): structured JSON for logs; drop --hook/--branch filters (#2161)
  docs/content/config.md
  docs/content/extending.md
  skills/worktrunk/reference/config.md
  skills/worktrunk/reference/extending.md
  src/cli/config.rs
  src/commands/config/mod.rs
  src/commands/config/state.rs
  src/commands/mod.rs
  src/commands/process.rs
  src/main.rs
  tests/integration_tests/config_state.rs
  tests/snapshots/integration__integration_tests__config_state__logs_get_json_with_files.snap
  tests/snapshots/integration__integration_tests__config_state__state_logs_get_hook_not_found.snap
  tests/snapshots/integration__integration_tests__help__help_config_state_logs.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs(extending): simplify hook-log alias body; drop brittle hash match (#2169)
  docs/content/extending.md
  skills/worktrunk/reference/extending.md
Due: none

fix(help): silence user-config side effects on `wt step --help` (#2179)
  src/commands/alias.rs
  src/config/deprecation.rs
  tests/integration_tests/step_alias.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(config): preserve nested unknown keys on save (#2180)
  src/config/user/persistence.rs
  src/config/user/tests.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

list: collapse working-tree gate placeholder to one dot (#2181)
  src/commands/list/model/status_symbols.rs
  src/commands/list/snapshots/wt__commands__list__layout__tests__snapshot_path_yields_to_summary.snap
  tests/snapshots/integration__integration_tests__list__list_shows_warning_on_git_error.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs(extending): lift hook-format descriptions out of code comments (#2191)
  docs/content/extending.md
  skills/worktrunk/reference/extending.md
Due: none

refactor(config): drop unreachable Err branches in migration helpers (#2197)
  src/config/deprecation.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

Plumb ChildProcessExited through the background pipeline runner (#2198)
  src/commands/run_pipeline.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

Report pending count in `wt list` stall footer (#2207)
  src/commands/list/collect/mod.rs
  src/commands/list/collect/results.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

Add weekly statusline cache-check task to running-tend skill (#2211)
  .claude/skills/running-tend/SKILL.md
Due: none

fix(test): drive test_drain_results_survives_mid_stall_result causally (#2204)
  src/commands/list/collect/results.rs
  tests/CLAUDE.md
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs(changelog): consolidate concurrent-table-form notes (#2218)
  CHANGELOG.md
Due: none

docs(cargo): note why skim is pinned to 0.20.x (#2228)
  Cargo.toml
Due: cargo-lock

docs(release): integrate cargo-semver-checks into release workflow (#2235)
  .claude/skills/release/SKILL.md
Due: none

fix(picker): vendor skim-tuikit with saturating_sub in Term::on_resize (#2233)
  Cargo.toml
  vendor/skim-tuikit/src/term.rs
Due: cargo-lock, no-dbg, no-manual-ansi, no-direct-cmd-output

test(picker): remove dead disable_picker_timeout helper (#2240)
  tests/integration_tests/switch_picker.rs
Due: no-dbg, no-std-canonicalize-in-tests

docs(hook): use concurrent form in multi-key hook examples (#2248)
  docs/content/hook.md
  docs/content/merge.md
  docs/content/tips-patterns.md
  skills/worktrunk/reference/hook.md
  skills/worktrunk/reference/merge.md
  skills/worktrunk/reference/tips-patterns.md
  src/cli/mod.rs
  tests/snapshots/integration__integration_tests__help__help_md_merge.snap
  tests/snapshots/integration__integration_tests__help__help_merge_long.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

feat(hooks): enable concurrent execution in pre-* pipeline blocks (#2249)
  docs/content/hook.md
  skills/worktrunk/reference/hook.md
  src/cli/mod.rs
  src/commands/alias.rs
  src/commands/command_executor.rs
  src/commands/hooks.rs
  src/config/commands.rs
  tests/integration_tests/user_hooks.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

style(perf): rename total_extra_calls to extra_calls in cache-check JSON (#2254)
  tests/helpers/wt-perf/src/main.rs
Due: no-dbg, no-std-canonicalize-in-tests

perf(list): batch upstream lookups and prime ref/SHA caches (#2255)
  src/commands/list/collect/mod.rs
  src/git/repository/branch.rs
  src/git/repository/branches.rs
  src/git/repository/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

docs(perf): drop redundant grep wt-trace from wt-perf pipelines (#2257)
  .claude/skills/running-tend/SKILL.md
  benches/CLAUDE.md
  src/trace/chrome.rs
  src/trace/mod.rs
  tests/helpers/wt-perf/src/lib.rs
  tests/helpers/wt-perf/src/main.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs(perf): require --progressive in wt-perf trace pipeline and trim duplication (#2258)
  benches/CLAUDE.md
  src/trace/chrome.rs
  src/trace/mod.rs
  tests/helpers/wt-perf/src/lib.rs
  tests/helpers/wt-perf/src/main.rs
  tests/integration_tests/analyze_trace.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

feat(alias): dispatch aliases from top-level `wt <name>` (#2266)
  README.md
  dev/config.example.toml
  dev/wt.example.toml
  docs/content/config.md
  docs/content/extending.md
  docs/content/step.md
  docs/content/tips-patterns.md
  docs/content/worktrunk.md
  skills/worktrunk/reference/config.md
  skills/worktrunk/reference/extending.md
  skills/worktrunk/reference/step.md
  skills/worktrunk/reference/tips-patterns.md
  skills/worktrunk/reference/worktrunk.md
  src/cli/mod.rs
  src/commands/alias.rs
  src/commands/external.rs
  src/commands/mod.rs
  src/completion.rs
  src/config/project.rs
  src/config/user/mod.rs
  src/help.rs
  src/main.rs
  tests/integration_tests/shell_wrapper.rs
  tests/integration_tests/step_alias.rs
  tests/snapshots/integration__integration_tests__help__help_config_create.snap
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
  tests/snapshots/integration__integration_tests__help__help_step_long.snap
  tests/snapshots/integration__integration_tests__step_alias__top_level_alias_did_you_mean.snap
  tests/snapshots/integration__integration_tests__step_alias__top_level_alias_dispatch.snap
  tests/snapshots/integration__integration_tests__step_alias__top_level_alias_with_step_builtin_name.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(suggestions): extract shared `did_you_mean` helper (#2268)
  src/commands/alias.rs
  src/commands/external.rs
  src/commands/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

feat(switch): accept pr:N/mr:N in --base (#2263)
  docs/content/switch.md
  skills/worktrunk/reference/switch.md
  src/cli/mod.rs
  src/commands/worktree/switch.rs
  tests/integration_tests/switch.rs
  tests/snapshots/integration__integration_tests__help__help_switch_long.snap
  tests/snapshots/integration__integration_tests__switch__switch_base_mr_same_repo.snap
  tests/snapshots/integration__integration_tests__switch__switch_base_pr_fork.snap
  tests/snapshots/integration__integration_tests__switch__switch_base_pr_same_repo.snap
  tests/snapshots/integration__integration_tests__switch__switch_base_pr_without_create.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs: trim filler sentences from prose docs (#2271)
  docs/content/extending.md
  docs/content/faq.md
  docs/content/tips-patterns.md
  skills/worktrunk/reference/extending.md
  skills/worktrunk/reference/faq.md
  skills/worktrunk/reference/tips-patterns.md
Due: none

docs(styling): fix stale phase number comment (#2274)
  src/styling/format.rs
Due: no-dbg, no-direct-cmd-output

docs(cli): trim filler in list and step help text (#2277)
  docs/content/list.md
  docs/content/step.md
  skills/worktrunk/reference/list.md
  skills/worktrunk/reference/step.md
  src/cli/mod.rs
  tests/snapshots/integration__integration_tests__help__help_list_long.snap
  tests/snapshots/integration__integration_tests__help__help_list_narrow_80.snap
  tests/snapshots/integration__integration_tests__help__help_step_long.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

feat(alias): forward positional args to templates via {{ args }} (#2280)
  docs/content/extending.md
  skills/worktrunk/reference/extending.md
  src/commands/alias.rs
  src/config/expansion.rs
  src/config/mod.rs
  tests/integration_tests/step_alias.rs
  tests/snapshots/integration__integration_tests__step_alias__step_alias_args_sequence_access.snap
  tests/snapshots/integration__integration_tests__step_alias__step_alias_empty_args_renders_empty.snap
  tests/snapshots/integration__integration_tests__step_alias__step_alias_forwards_positional_args.snap
  tests/snapshots/integration__integration_tests__step_alias__top_level_alias_positional_expands_in_dry_run.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

release: land v0.39.0 commit on main (#2281)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/static/.well-known/agent-skills/index.json
  skills/worktrunk/SKILL.md
Due: cargo-lock

feat(config): scope-aware template variable validation (#2288)
  src/commands/handle_switch.rs
  src/config/expansion.rs
  src/config/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor(cli): drop post-alias --yes from hand-rolled parser (#2290)
  src/commands/alias.rs
  tests/integration_tests/approval_ui.rs
  tests/integration_tests/bare_repository.rs
  tests/integration_tests/step_alias.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(error): surface anyhow chain in spawn and ref-update error messages (#2251)
  src/commands/hooks.rs
  src/commands/worktree/push.rs
  src/summary.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output
