Repository shaneholloman/worktrunk: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee, no-dbg, no-manual-ansi

lychee:
  name: lychee (PR mode)
  language: rust
  entry: lychee --no-progress --config=.config/lychee.toml --include=^https://(github\.com/max-sixty/worktrunk|worktrunk\.dev)
  require_serial: true
  additional_dependencies:
  - cli:lychee:0.18.0

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

no-manual-ansi:
  name: no-manual-ansi
  description: Use anstyle/osc8/strip-ansi-escapes instead of manual ANSI codes
  language: pygrep
  entry: \\x1b\[

Add minimal top margin to demo figures for visual separation
  docs/sass/custom.scss
Due: none

docs: document CI caching behavior and cache management
  docs/content/list.md
  src/cli.rs
  tests/snapshots/integration__integration_tests__help__help_list_long.snap
Due: lychee, no-dbg

Improve Python example for hook JSON context
  docs/content/hook.md
  src/cli.rs
Due: lychee, no-dbg

Refactor directory formatting to use PathBuf for correctness
  src/commands/statusline.rs
Due: no-dbg, no-manual-ansi

Fail early if nothing is staged before generating commit message
  src/commands/commit.rs
  tests/snapshots/integration__integration_tests__merge__step_commit_nothing_to_commit.snap
Due: no-dbg, no-manual-ansi

Clarify log preview dimming of commits on main branch
  docs/content/select.md
  src/cli.rs
  src/commands/select.rs
Due: lychee, no-dbg, no-manual-ansi

Simplify CI to use pre-commit action and pre-merge hook (#135)
  .config/wt.toml
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  src/commands/command_executor.rs
  src/commands/context.rs
  src/commands/for_each.rs
  src/commands/hooks.rs
  src/commands/merge.rs
  src/commands/standalone.rs
  src/commands/worktree.rs
  src/main.rs
  src/output/handlers.rs
  tests/integration_tests/remove.rs
Due: no-dbg, no-manual-ansi

Fix unused import warning on Windows (#140)
  tests/integration_tests/user_hooks.rs
Due: no-dbg

Clarify CLI output formatting rules for pronouns and imperatives
  .claude/rules/cli-output-formatting.md
Due: lychee

Setup mock gh/glab commands in TestRepo::new()
  tests/common/mod.rs
  tests/integration_tests/list.rs
  tests/integration_tests/switch.rs
  tests/snapshots/integration__integration_tests__list__maximum_status_symbols.snap
  tests/snapshots/integration__integration_tests__list__maximum_status_with_git_operation.snap
  tests/snapshots/integration__integration_tests__list__readme_example_list_branches.snap
  tests/snapshots/integration__integration_tests__list__readme_example_list_full.snap
  tests/snapshots/integration__integration_tests__list__task_dag_full_with_diffs.snap
  tests/snapshots/integration__integration_tests__list__task_dag_with_upstream.snap
Due: no-dbg

Re-enable Windows config_show tests (#149)
  src/commands/list/ci_status.rs
  tests/common/mod.rs
  tests/integration_tests/config_show.rs
Due: no-dbg, no-manual-ansi

Add Codecov integration for code coverage reporting (#159)
  .github/.codecov.yaml
  .github/workflows/ci.yaml
Due: none

Wrap hook errors with --no-verify hint for applicable commands
  src/commands/commit.rs
  src/commands/merge.rs
  src/commands/standalone.rs
  src/git/error.rs
  src/git/mod.rs
  src/main.rs
  tests/integration_tests/git_error_display.rs
  tests/integration_tests/snapshots/integration__integration_tests__git_error_display__hook_command_failed_with_skip_hint.snap
  tests/integration_tests/snapshots/integration__integration_tests__git_error_display__hook_command_failed_without_name.snap
  tests/snapshots/integration__integration_tests__merge__merge_post_merge_command_failure.snap
Due: no-dbg, no-manual-ansi

Use filled circle indicator for both PR and branch CI
  docs/content/list.md
  src/cli.rs
  tests/snapshots/integration__integration_tests__help__help_list_long.snap
Due: lychee, no-dbg

Test: fix user_pre_remove test to be cross-platform (#171)
  tests/integration_tests/user_hooks.rs
  tests/snapshots/integration__integration_tests__user_hooks__user_pre_remove_executes.snap
Due: no-dbg

Add NEXTEST_NO_INPUT_HANDLER=1 env var for PTY tests
  .config/wt.toml
  CLAUDE.md
  Cargo.toml
  src/output/handlers.rs
  tests/common/mod.rs
  tests/common/progressive_output.rs
  tests/integration_tests/approval_pty.rs
  tests/integration_tests/list_progressive.rs
  tests/integration_tests/select.rs
  tests/integration_tests/shell_wrapper.rs
  tests/integration_tests/user_hooks.rs
Due: lychee, no-dbg, no-manual-ansi

Add git-wt binary for Windows (#177)
  Cargo.toml
  docs/content/faq.md
  src/cli.rs
  src/commands/config.rs
  src/commands/configure_shell.rs
  src/commands/init.rs
  src/main.rs
  src/shell.rs
  templates/bash.sh
  templates/fish.fish
  templates/posix_directives.sh
  templates/powershell.ps1
  templates/zsh.zsh
  tests/common/mod.rs
  tests/integration_tests/hook_show.rs
  tests/integration_tests/init.rs
  tests/snapshots/integration__integration_tests__hook_show__hook_show_outside_git_repo.snap
  tests/snapshots/integration__integration_tests__init__init_bash.snap
  tests/snapshots/integration__integration_tests__init__init_fish.snap
  tests/snapshots/integration__integration_tests__init__init_zsh.snap
Due: lychee, no-dbg, no-manual-ansi

Update package description for AI agent workflows
  Cargo.toml
Due: none

Refactor primary_remote to use rev-parse for upstream
  src/git/repository/mod.rs
Due: no-dbg, no-manual-ansi

Refactor output system: remove trait abstraction (#193)
  .pre-commit-config.yaml
  src/output/directive.rs
  src/output/global.rs
  src/output/handlers.rs
  src/output/interactive.rs
  src/output/mod.rs
  src/output/traits.rs
Due: no-dbg, no-manual-ansi

Clarify switch command behavior and documentation
  docs/content/faq.md
  docs/content/remove.md
  docs/content/switch.md
  src/cli.rs
  tests/snapshots/integration__integration_tests__help__help_remove_long.snap
  tests/snapshots/integration__integration_tests__help__help_switch_long.snap
Due: lychee, no-dbg

Canonicalize integration checking with trait-based design
  src/commands/list/model.rs
  src/git/mod.rs
  src/output/handlers.rs
Due: no-dbg, no-manual-ansi

Add unit tests to improve code coverage (#211)
  src/commands/list/json_output.rs
  src/commands/list/model.rs
  src/config/commands.rs
  src/config/expansion.rs
  src/config/project.rs
  src/config/user.rs
  src/git/diff.rs
  src/git/error.rs
  src/git/mod.rs
  src/git/parse.rs
  src/git/test.rs
  src/md_help.rs
  src/shell.rs
  src/styling/constants.rs
  src/styling/format.rs
  src/styling/highlighting.rs
  src/styling/line.rs
Due: no-dbg, no-manual-ansi

Fix voice in switch argument resolution help text (#215)
  docs/content/switch.md
  src/cli.rs
  tests/integration_tests/list.rs
  tests/snapshots/integration__integration_tests__help__help_switch_long.snap
Due: lychee, no-dbg

Unify command execution through shell_exec::run() (#232)
  .pre-commit-config.yaml
  CLAUDE.md
  src/commands/list/ci_status.rs
  src/commands/list/mod.rs
  src/commands/select.rs
  src/git/repository/mod.rs
  src/help_pager.rs
  src/path.rs
  src/shell_exec.rs
Due: lychee, no-dbg, no-manual-ansi

Refine plugin description and add examples for marketplace
  .claude-plugin/README.md
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
Due: lychee

Refactor shell integration detection to be command-aware
  src/commands/config.rs
  src/commands/configure_shell.rs
  src/main.rs
  src/output/handlers.rs
  src/shell.rs
Due: no-dbg, no-manual-ansi

Add CI fetch error indicator to help documentation
  docs/content/list.md
  src/cli.rs
  src/main.rs
  src/md_help.rs
  tests/snapshots/integration__integration_tests__help__help_list_long.snap
Due: lychee, no-dbg, no-manual-ansi

Refactor task spawning and JSON parsing
  src/commands/list/collect.rs
  src/commands/list/collect_progressive_impl.rs
  src/commands/statusline.rs
  src/git/repository/mod.rs
Due: no-dbg, no-manual-ansi

Update documentation examples with new symbols
  .claude/rules/cli-output-formatting.md
Due: lychee

Add {{ branch | sanitize }} filter for explicit branch sanitization (#265)
  .claude-plugin/skills/worktrunk/reference/hook-types-reference.md
  .claude-plugin/skills/worktrunk/reference/project-config.md
  .claude-plugin/skills/worktrunk/reference/user-config.md
  dev/config.example.toml
  dev/wt.example.toml
  docs/content/config.md
  docs/content/step.md
  src/cli.rs
  src/commands/command_executor.rs
  src/commands/config.rs
  src/config/expansion.rs
  src/config/mod.rs
  src/config/snapshots/worktrunk__config__test__snapshot_complex_templates.snap
  src/config/snapshots/worktrunk__config__test__snapshot_shell_escaping_special_chars.snap
  src/config/test.rs
  src/config/user.rs
  tests/integration_tests/approval_save.rs
  tests/integration_tests/post_start_commands.rs
  tests/snapshots/integration__integration_tests__help__help_config_create.snap
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_create_template_expansion.snap
Due: lychee, no-dbg, no-manual-ansi

Fix syntax highlighting being stripped by 1Password extension (#291)
  docs/sass/custom.scss
  docs/templates/base.html
Due: none

Refactor populate_items to handle single item
  src/commands/list/collect.rs
  src/commands/list/mod.rs
  src/commands/statusline.rs
Due: no-dbg, no-manual-ansi

Refactor hook methods to remove verify parameter
  src/commands/worktree.rs
  src/main.rs
Due: no-dbg, no-manual-ansi

Inline shell helper function to fix Claude Code compatibility (#292)
  src/shell.rs
  templates/bash.sh
  templates/fish.fish
  templates/posix_directives.sh
  templates/zsh.zsh
  tests/integration_tests/shell_wrapper.rs
  tests/snapshots/integration__integration_tests__init__init_bash.snap
  tests/snapshots/integration__integration_tests__init__init_fish.snap
  tests/snapshots/integration__integration_tests__init__init_zsh.snap
Due: no-dbg, no-manual-ansi

Update remove command help text for worktrees argument
  docs/content/remove.md
  src/cli.rs
  tests/snapshots/integration__integration_tests__help__help_remove_long.snap
  tests/snapshots/integration__integration_tests__help__help_remove_short.snap
Due: lychee, no-dbg

Path conditions:
  lychee: any of: \.(md|markdown|mdown)$
  no-dbg: any of: \.rs$
  no-manual-ansi: any of: \.rs$, but not: ^(tests/|.*_test\.rs$|src/styling/(line|mod|format)\.rs$|src/output/directive\.rs$|src/cli\.rs$)
