Repository shaneholloman/worktrunk: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

cargo-lock:
  name: cargo-lock
  description: Ensure Cargo.lock is in sync with Cargo.toml
  language: system
  entry: cargo check --locked
  pass_filenames: false

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

no-manual-ansi:
  name: no-manual-ansi
  description: Use anstyle/osc8/strip-ansi-escapes instead of manual ANSI codes
  language: pygrep
  entry: \\x1b\[

no-std-canonicalize-in-tests:
  name: no-std-canonicalize-in-tests
  description: Use dunce::canonicalize in tests to avoid Windows \\?\ prefix issues
  language: pygrep
  entry: \.canonicalize\(\)

no-direct-cmd-output:
  name: no-direct-cmd-output
  description: Use shell_exec::Cmd instead of cmd.output() for consistent logging
  language: pygrep
  entry: \.output\(\)

refactor(hooks): make HookAnnouncer the single entry point (#2484)
  src/commands/commit.rs
  src/commands/hook_commands.rs
  src/commands/hooks.rs
  src/commands/merge.rs
  src/commands/picker/mod.rs
  src/commands/step_commands.rs
  src/main.rs
  src/output/global.rs
  src/output/handlers.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

ci: generalise composite action and use it from test matrix (#2486)
  .github/actions/test-setup/action.yaml
  .github/workflows/ci.yaml
Due: none

refactor(merge): extract post-merge finish sequence into worktree::finish_after_merge (#2491)
  src/commands/merge.rs
  src/commands/worktree/finish.rs
  src/commands/worktree/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor(list): thread placeholder explicitly instead of via Cell (#2492)
  src/commands/list/collect/mod.rs
  src/commands/list/layout.rs
  src/commands/list/render.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(docs): use __WT_QUOT__ placeholder in tips-patterns terminal blocks (#2496)
  docs/content/tips-patterns.md
  skills/worktrunk/reference/tips-patterns.md
  tests/integration_tests/readme_sync.rs
Due: no-dbg, no-std-canonicalize-in-tests

fix(switch): set upstream when --base pr:N pairs with --create (#2498)
  src/commands/worktree/switch.rs
  src/commands/worktree/types.rs
  tests/integration_tests/switch.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Release v0.46.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/static/.well-known/agent-skills/index.json
  skills/worktrunk/SKILL.md
Due: cargo-lock

docs(release): merge step uses /gpk to land via PR (#2500)
  .claude/skills/release/SKILL.md
Due: none

refactor(for-each): exec argv directly, drop implicit shell (#2465)
  docs/content/extending.md
  docs/content/step.md
  skills/worktrunk/reference/extending.md
  skills/worktrunk/reference/step.md
  src/cli/step.rs
  src/commands/for_each.rs
  src/output/concurrent.rs
  src/output/handlers.rs
  tests/integration_tests/for_each.rs
  tests/snapshots/integration__integration_tests__for_each__for_each_spawn_fails.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs(release): tag merge commit explicitly after /gpk squash-merges (#2503)
  .claude/skills/release/SKILL.md
Due: none

refactor(hooks): one canonical hook-announce grammar (#2504)
  src/commands/alias.rs
  src/commands/hooks.rs
  tests/snapshots/integration__integration_tests__merge__merge_post_merge_command_named.snap
  tests/snapshots/integration__integration_tests__merge__readme_example_complex.snap
  tests/snapshots/integration__integration_tests__post_start_commands__both_create_and_start.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_mixed_user_pipeline_project_flat.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_multiple_background.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_pipeline_template_vars.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_project_pipeline.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_separate_logs.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_verbose_output.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__unix_tests__readme_example_hooks_pre_start.snap
  tests/snapshots/integration__integration_tests__shell_wrapper__unix_tests__switch_with_hooks_zsh.snap
  tests/snapshots/integration__integration_tests__step_alias__alias_pipeline_announcement.snap
  tests/snapshots/integration__integration_tests__step_prune__prune_hook_announcements_include_branch.snap
  tests/snapshots/integration__integration_tests__user_hooks__background_hook_env_var_visible.snap
  tests/snapshots/integration__integration_tests__user_hooks__combined_post_remove_and_post_switch.snap
  tests/snapshots/integration__integration_tests__user_hooks__combined_user_and_project_post_merge.snap
  tests/snapshots/integration__integration_tests__user_hooks__hook_verbose_background_dedup.snap
  tests/snapshots/integration__integration_tests__user_hooks__merge_auto_commit_combines_post_commit_post_remove_post_switch_post_merge.snap
  tests/snapshots/integration__integration_tests__user_hooks__merge_combines_post_remove_post_switch_post_merge.snap
  tests/snapshots/integration__integration_tests__user_hooks__merge_squash_combines_post_commit_post_remove_post_switch_post_merge.snap
  tests/snapshots/integration__integration_tests__user_hooks__multi_remove_hook_branch_context.snap
  tests/snapshots/integration__integration_tests__user_hooks__post_remove_runs_at_primary.snap
  tests/snapshots/integration__integration_tests__user_hooks__standalone_hook_name_filtered_lazy_template.snap
  tests/snapshots/integration__integration_tests__user_hooks__standalone_hook_post_merge_combined_sources.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_and_project_post_start.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_and_project_unnamed_post_start.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_commit_executes.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_commit_failure.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_merge_executes.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_remove_executes.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_start_executes.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_start_pipeline_concurrent_all.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_start_pipeline_concurrent_failure.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_start_pipeline_failure.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_start_pipeline_hook_name_per_step.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_start_pipeline_lazy_vars_bg.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_start_pipeline_ordering.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_post_switch_pipeline_via_create.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs(release): point step 12 at release.yaml directly (#2505)
  .claude/skills/release/SKILL.md
Due: none

fix(integration): OR over local + upstream for integration detection (#2507)
  src/git/repository/integration.rs
  tests/integration_tests/merge.rs
  tests/integration_tests/remove.rs
  tests/snapshots/integration__integration_tests__user_hooks__merge_auto_commit_combines_post_commit_post_remove_post_switch_post_merge.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Fix copy-ignored symlink destination boundary (#2501)
  benches/cow_copy.rs
  src/commands/step_commands.rs
  src/copy.rs
  tests/integration_tests/step_copy_ignored.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(list): OR over local + upstream in integration column (#2513)
  src/commands/list/collect/execution.rs
  src/commands/list/collect/mod.rs
  src/commands/list/collect/tasks.rs
  src/git/mod.rs
  src/git/repository/integration.rs
  src/git/repository/mod.rs
  tests/integration_tests/list.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(prune): OR over local + upstream in step prune integration check (#2515)
  src/commands/list/collect/mod.rs
  src/commands/step_commands.rs
  src/git/repository/integration.rs
  src/git/repository/mod.rs
  tests/integration_tests/remove.rs
  tests/integration_tests/step_prune.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(alias)!: source-tag steps and decide EXEC per-step (#2474)
  src/commands/alias.rs
  src/commands/command_executor.rs
  src/commands/config/alias.rs
  src/commands/hooks.rs
  src/commands/mod.rs
  src/completion.rs
  src/output/concurrent.rs
  src/output/global.rs
  src/output/handlers.rs
  src/shell_exec.rs
  tests/integration_tests/step_alias.rs
  tests/snapshots/integration__integration_tests__directives__switch_exec_scrubbed_warns.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

ci(affected): cache only coverage.db, not full target/affected (#2517)
  .github/workflows/ci.yaml
Due: none

feat(switch): suggest pr:N or mr:N for numeric branch names (#2516)
  src/commands/config/state.rs
  src/commands/repository_ext.rs
  src/commands/worktree/switch.rs
  src/git/error.rs
  src/git/repository/config.rs
  src/git/repository/remotes.rs
  tests/integration_tests/git_error_display.rs
  tests/integration_tests/repository.rs
  tests/integration_tests/snapshots/integration__integration_tests__git_error_display__branch_not_found_numeric_github.snap
  tests/integration_tests/snapshots/integration__integration_tests__git_error_display__branch_not_found_numeric_gitlab.snap
  tests/integration_tests/snapshots/integration__integration_tests__git_error_display__branch_not_found_numeric_unknown_platform.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

skills(running-tend): don't self-dismiss approval over unrelated test flakes (#2523)
  .claude/skills/running-tend/SKILL.md
Due: none

refactor(hooks/alias): lift hook metadata to PipelineKind, unify source enum (#2521)
  src/commands/alias.rs
  src/commands/command_executor.rs
  src/commands/config/alias.rs
  src/commands/hook_commands.rs
  src/commands/hook_filter.rs
  src/commands/hooks.rs
  tests/integration_tests/user_hooks.rs
  tests/snapshots/integration__integration_tests__user_hooks__combined_post_remove_and_post_switch_verbose.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

ci(affected): update cache-strategy comment to match post-#9 behavior (#2520)
  .github/workflows/ci.yaml
Due: none

test(merge): actually stage the file in test_step_commit_show_prompt (#2525)
  tests/integration_tests/merge.rs
  tests/snapshots/integration__integration_tests__merge__step_commit_show_prompt.snap
Due: no-dbg, no-std-canonicalize-in-tests

fix(step/copy-ignored): drop .pi/ from built-in excludes (#2527)
  dev/config.example.toml
  dev/wt.example.toml
  docs/content/config.md
  docs/content/step.md
  skills/worktrunk/reference/config.md
  skills/worktrunk/reference/step.md
  src/cli/mod.rs
  src/cli/step.rs
  src/commands/step_commands.rs
  tests/integration_tests/step_copy_ignored.rs
  tests/snapshots/integration__integration_tests__help__help_config_create.snap
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(git): RefSnapshot — close ambient ref-keyed cache staleness class (#2528)
  docs/dev/cache-staleness.md
  src/commands/list/collect/execution.rs
  src/commands/list/collect/mod.rs
  src/commands/list/collect/tasks.rs
  src/commands/picker/mod.rs
  src/commands/repository_ext.rs
  src/commands/step_commands.rs
  src/commands/worktree/finish.rs
  src/git/mod.rs
  src/git/remove.rs
  src/git/repository/branches.rs
  src/git/repository/diff.rs
  src/git/repository/integration.rs
  src/git/repository/mod.rs
  src/git/repository/ref_snapshot.rs
  src/output/handlers.rs
  tests/snapshots/integration__integration_tests__list__list_branches_with_nonexistent_default_branch.snap
  tests/snapshots/integration__integration_tests__list__list_full_with_nonexistent_default_branch.snap
  tests/snapshots/integration__integration_tests__list__list_warns_when_commit_details_batch_fails.snap
  tests/snapshots/integration__integration_tests__list__list_with_nonexistent_default_branch.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs(extending): add stdin row to hooks-vs-aliases comparison (#2529)
  docs/content/extending.md
  skills/worktrunk/reference/extending.md
Due: none

refactor(git): close remaining cache-staleness vectors after RefSnapshot cutover (#2530)
  src/commands/command_executor.rs
  src/commands/picker/mod.rs
  src/commands/repository_ext.rs
  src/commands/step_commands.rs
  src/git/repository/config.rs
  src/git/repository/mod.rs
  src/git/repository/working_tree.rs
  src/main.rs
  tests/integration_tests/eval.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

ci(bench): append nightly results to worktrunk-bot gist (#2531)
  .github/scripts/criterion-to-jsonl.py
  .github/workflows/nightly-benchmark.yaml
Due: none

ci(bench): skip gist append on forks (#2532)
  .github/workflows/nightly-benchmark.yaml
Due: none

refactor(bench): rename alias bench's NOOP_CONFIG → STUB_CONFIG (#2533)
  benches/alias.rs
Due: no-dbg, no-manual-ansi

docs(network): codify local-first network access policy (#2536)
  CLAUDE.md
  benches/CLAUDE.md
  src/git/repository/config.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

perf(bench): add with_vars alias variant to dispatch group (#2534)
  benches/alias.rs
Due: no-dbg, no-manual-ansi

ci(codecov): enable tokenless coverage uploads on fork PRs (#2535)
  .github/workflows/ci.yaml
Due: none

perf(shell-exec): replace 10ms poll with signal listener thread (#2537)
  src/shell_exec.rs
Due: no-dbg, no-manual-ansi

perf(concurrent): drop 25ms poll, block on Signals::forever() (#2538)
  src/output/concurrent.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

feat(trace): Span RAII guard for in-process attribution (#2539)
  src/commands/alias.rs
  src/commands/command_executor.rs
  src/git/repository/mod.rs
  src/main.rs
  src/trace/chrome.rs
  src/trace/emit.rs
  src/trace/mod.rs
  src/trace/parse.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor(testing): unify GIT_PATH_VARS and cover env-scrub branch (#2542)
  src/shell_exec.rs
  src/testing/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

perf(prewarm): fold cold-path rev-parses into one fork (#2541)
  src/git/repository/mod.rs
  src/git/repository/working_tree.rs
  src/main.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

Path conditions:
  cargo-lock: any of: (Cargo\.toml|Cargo\.lock)$
  no-dbg: any of: \.rs$
  no-manual-ansi: any of: \.rs$, but not: ^(tests/|.*_test\.rs$|src/styling/(mod|format)\.rs$|src/commands/select/)
  no-std-canonicalize-in-tests: any of: ^tests/
  no-direct-cmd-output: any of: \.rs$, but not: ^(src/shell_exec\.rs|src/commands/select/|src/config/(test|expansion|mod)\.rs|src/config/user/tests\.rs|src/styling/mod\.rs|tests/|benches/)
