Repository shaneholloman/worktrunk: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '.*\.snap$'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  # pre-commit autoupdate reverts to mutable v1 tag; update manually
  - repo: https://github.com/crate-ci/typos
    rev: v1.41.0
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]
  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.22.0
    hooks:
      # Check links using .config/lychee.toml exclusions
      # Uses lychee-system (requires `cargo install lychee`) to avoid /bin/bash dependency on Windows
      - id: lychee-system
        types: [markdown]
        args:
          - --config=.config/lychee.toml
  - repo: local
    hooks:
      - id: cargo-lock
        name: cargo-lock
        description: Ensure Cargo.lock is in sync with Cargo.toml
        language: system
        entry: cargo check --locked
        pass_filenames: false
        files: (Cargo\.toml|Cargo\.lock)$
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
      - id: no-manual-ansi
        name: no-manual-ansi
        description: Use anstyle/osc8/strip-ansi-escapes instead of manual ANSI codes
        language: pygrep
        types: ["rust"]
        entry: '\\x1b\['
        # format.rs strips ANSI codes injected by wrap_ansi crate
        # select.rs tests verify ANSI dimming behavior
        exclude: '^(tests/|.*_test\.rs$|src/styling/(mod|format)\.rs$|src/commands/select/)'
      - id: no-std-canonicalize-in-tests
        name: no-std-canonicalize-in-tests
        description: Use dunce::canonicalize in tests to avoid Windows \\?\ prefix issues
        language: pygrep
        entry: '\.canonicalize\(\)'
        files: '^tests/'
      - id: no-direct-cmd-output
        name: no-direct-cmd-output
        description: Use shell_exec::Cmd instead of cmd.output() for consistent logging
        language: pygrep
        types: ["rust"]
        entry: '\.output\(\)'
        # shell_exec.rs: defines Cmd which legitimately calls .output()
        # select.rs: skim API's selected.output() is not Command::output()
        # tests/benches: test utilities run commands directly
        # src/config/{test,expansion,mod}.rs: TestRepo test fixtures use git init directly
        # src/config/user/tests.rs: TestRepo test fixtures use git init directly
        # src/styling/mod.rs: terminal width detection probes should be silent/quick
        exclude: '^(src/shell_exec\.rs|src/commands/select/|src/config/(test|expansion|mod)\.rs|src/config/user/tests\.rs|src/styling/mod\.rs|tests/|benches/)'

ci:
  # pre-commit.ci doesn't have Rust toolchain, so skip Rust-specific hooks.
  # Network access also isn't supported, so skip lychee-system.
  skip: [fmt, clippy, lychee-system, cargo-lock]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

docs: fix stale test name in .gitattributes (#2434)
  .gitattributes
Due: none

test(picker/summary): sleep between writes to avoid mtime tick collision (#2433)
  src/commands/picker/summary.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

skills(running-tend): add CI-specific Codecov investigation path (#2396)
  .claude/skills/running-tend/SKILL.md
Due: none

fix(progress): gate crossterm spinner internals behind `cli` feature (#2441)
  src/progress.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

ci: add nightly feature-powerset check (#2442)
  .github/nightly-failure.md
  .github/workflows/nightly.yaml
  tests/helpers/wt-perf/Cargo.toml
Due: cargo-lock, no-std-canonicalize-in-tests

Release v0.45.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/static/.well-known/agent-skills/index.json
  skills/worktrunk/SKILL.md
Due: cargo-lock

ci: pin nushell version to 0.112.2 (#2440)
  .github/workflows/ci.yaml
Due: none

docs(release-skill): sync index.json digest after cargo-release (#2445)
  .claude/skills/release/SKILL.md
Due: none

fix(alias): align alias --help guidance with output guidelines (#2447)
  src/commands/alias.rs
  tests/snapshots/integration__integration_tests__step_alias__alias_help_flag_prints_hint.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

skills(running-tend): add weekly nushell pin bump (#2443)
  .claude/skills/running-tend/SKILL.md
Due: none

fix(alias): share parent pgroup so interactive TUIs don't freeze (#2444)
  src/output/handlers.rs
  src/shell_exec.rs
  tests/integration_tests/step_alias.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

skills(running-tend): poll rerun jobs, not the parent run (#2449)
  .claude/skills/running-tend/SKILL.md
Due: none

Release v0.45.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/static/.well-known/agent-skills/index.json
  skills/worktrunk/SKILL.md
Due: cargo-lock

docs(shell-exec): note PID forwarding in forward_signals doc (#2452)
  src/shell_exec.rs
Due: no-dbg, no-manual-ansi

skills(running-tend): drop dated baseline reference (#2451)
  .claude/skills/running-tend/SKILL.md
Due: none

feat(config): add `hash` template filter (#2453)
  docs/content/hook.md
  skills/worktrunk/reference/hook.md
  src/cli/mod.rs
  src/config/expansion.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

docs(claude): note that `list_worktrees()` is cached (#2455)
  CLAUDE.md
Due: none

fix(nushell): switch wrapper to @complete attribute on untyped rest (#2458)
  src/shell/snapshots/worktrunk__shell__tests__init_nu.snap
  templates/nushell.nu
Due: none

refactor(push): replace verb-string sniffing with PushKind enum (#2468)
  src/commands/merge.rs
  src/commands/step_commands.rs
  src/commands/worktree/mod.rs
  src/commands/worktree/push.rs
  src/main.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

hooks: combine background hook announces per command (#2457)
  src/commands/hooks.rs
  src/commands/merge.rs
  src/commands/step_commands.rs
  src/main.rs
  src/output/handlers.rs
  tests/integration_tests/user_hooks.rs
  tests/snapshots/integration__integration_tests__user_hooks__merge_combines_post_remove_post_switch_post_merge.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(list): collapse rendering modes into a single `RenderTarget` (#2469)
  src/commands/list/collect/mod.rs
  src/commands/list/mod.rs
  src/commands/list/progressive.rs
  src/commands/list/progressive_table.rs
  src/commands/picker/mod.rs
  src/commands/picker/progressive_handler.rs
  src/main.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor(commands): unify hook template-variable assembly into `TemplateVars` (#2470)
  src/commands/handle_switch.rs
  src/commands/merge.rs
  src/commands/mod.rs
  src/commands/picker/mod.rs
  src/commands/template_vars.rs
  src/commands/worktree/switch.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(merge): use branch name as-is in safety backup ref (#2463)
  src/git/repository/working_tree.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor(alias): dedup help-intercept between try_alias and step_alias (#2471)
  src/commands/alias.rs
  src/completion.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor(list): skip per-result render in JSON mode and drop dead `is_tty` (#2473)
  src/commands/list/collect/mod.rs
  src/commands/list/progressive_table.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(switch): resolve symlinked paths to existing worktrees (#2466)
  src/commands/relocate.rs
  src/commands/worktree/mod.rs
  src/commands/worktree/resolve.rs
  src/git/repository/tests.rs
  src/git/repository/worktrees.rs
  src/path.rs
  tests/integration_tests/switch.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

feat(config)!: cap `sanitize_db` output at 48 chars (#2467)
  docs/content/hook.md
  skills/worktrunk/reference/hook.md
  src/cli/mod.rs
  src/config/expansion.rs
  tests/integration_tests/doc_templates.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(hooks): unify dispatch and replace CommandOrigin with closures (#2472)
  src/commands/alias.rs
  src/commands/command_approval.rs
  src/commands/command_executor.rs
  src/commands/commit.rs
  src/commands/handle_switch.rs
  src/commands/hook_commands.rs
  src/commands/hooks.rs
  src/commands/merge.rs
  src/commands/picker/mod.rs
  src/commands/step_commands.rs
  src/commands/worktree/hooks.rs
  src/git/mod.rs
  src/main.rs
  src/output/global.rs
  src/output/handlers.rs
  tests/integration_tests/user_hooks.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(recover): handle symlinked subdirectories of removed worktrees (#2464)
  src/git/recover.rs
  src/path.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor(hooks): dedup background-hook entry points around HookAnnouncer (#2477)
  src/commands/hooks.rs
  src/output/handlers.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor(command_executor): extract `resolve_command_str` helper (#2476)
  src/commands/command_executor.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(alias): pass alias stdout through so 'wt <alias> | ...' works (#2479)
  src/commands/alias.rs
  src/commands/command_executor.rs
  src/commands/for_each.rs
  src/commands/hooks.rs
  src/output/handlers.rs
  tests/integration_tests/step_alias.rs
  tests/snapshots/integration__integration_tests__step_alias__alias_append_executes_both.snap
  tests/snapshots/integration__integration_tests__step_alias__alias_approval_already_approved.snap
  tests/snapshots/integration__integration_tests__step_alias__alias_approval_user_and_project_both_need_approval.snap
  tests/snapshots/integration__integration_tests__step_alias__alias_approval_user_config_skips.snap
  tests/snapshots/integration__integration_tests__step_alias__alias_approval_yes_first_run.snap
  tests/snapshots/integration__integration_tests__step_alias__alias_pipeline_announcement.snap
  tests/snapshots/integration__integration_tests__step_alias__alias_verbose_args_shell_escaped.snap
  tests/snapshots/integration__integration_tests__step_alias__alias_verbose_variable_table.snap
  tests/snapshots/integration__integration_tests__step_alias__step_alias_args_sequence_access.snap
  tests/snapshots/integration__integration_tests__step_alias__step_alias_double_dash_escape.snap
  tests/snapshots/integration__integration_tests__step_alias__step_alias_empty_args_renders_empty.snap
  tests/snapshots/integration__integration_tests__step_alias__step_alias_forwards_positional_args.snap
  tests/snapshots/integration__integration_tests__step_alias__step_alias_from_project_config.snap
  tests/snapshots/integration__integration_tests__step_alias__step_alias_from_user_config.snap
  tests/snapshots/integration__integration_tests__step_alias__step_alias_multi_step_binds_across_pipeline.snap
  tests/snapshots/integration__integration_tests__step_alias__step_alias_unreferenced_key_forwards_to_args.snap
  tests/snapshots/integration__integration_tests__step_alias__step_alias_user_var_overshadows_builtin.snap
  tests/snapshots/integration__integration_tests__step_alias__top_level_alias_dispatch.snap
  tests/snapshots/integration__integration_tests__step_alias__top_level_alias_with_step_builtin_name.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor(merge): collapse Option<bool> tri-state into one resolution path (#2480)
  src/commands/merge.rs
  src/commands/mod.rs
  src/main.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

Release v0.46.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/static/.well-known/agent-skills/index.json
  skills/worktrunk/SKILL.md
Due: cargo-lock

refactor(hooks): adopt TemplateVars in remaining call sites (#2481)
  src/commands/commit.rs
  src/commands/hook_commands.rs
  src/commands/picker/mod.rs
  src/commands/step_commands.rs
  src/commands/template_vars.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

ci: add cargo-affected jobs (advisory) (#2475)
  .github/workflows/ci.yaml
Due: none

refactor(hooks): route post-commit and post-switch through HookAnnouncer (#2482)
  src/commands/commit.rs
  src/commands/handle_switch.rs
  src/commands/hooks.rs
  src/commands/merge.rs
  src/commands/picker/mod.rs
  src/commands/step_commands.rs
  src/main.rs
  src/output/global.rs
  tests/integration_tests/user_hooks.rs
  tests/snapshots/integration__integration_tests__user_hooks__merge_auto_commit_combines_post_commit_post_remove_post_switch_post_merge.snap
  tests/snapshots/integration__integration_tests__user_hooks__merge_squash_combines_post_commit_post_remove_post_switch_post_merge.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

ci(affected): extract shared setup into composite action (#2483)
  .github/actions/affected-setup/action.yaml
  .github/workflows/ci.yaml
Due: none

fix(commit): suppress spurious "(--no-hooks)" line after declined approval (#2485)
  src/commands/commit.rs
  src/commands/merge.rs
  src/commands/step_commands.rs
  src/main.rs
  tests/integration_tests/approval_pty.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs: note that CI `benchmarks` is OK to skip when merging (#2487)
  CLAUDE.md
Due: none
