Repository shaneholloman/worktrunk: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

cargo-lock:
  name: cargo-lock
  description: Ensure Cargo.lock is in sync with Cargo.toml
  language: system
  entry: cargo check --locked
  pass_filenames: false

no-dbg:
  name: no-dbg
  description: We shouldn't merge code with `dbg!` in
  language: pygrep
  entry: dbg!

no-manual-ansi:
  name: no-manual-ansi
  description: Use anstyle/osc8/strip-ansi-escapes instead of manual ANSI codes
  language: pygrep
  entry: \\x1b\[

no-std-canonicalize-in-tests:
  name: no-std-canonicalize-in-tests
  description: Use dunce::canonicalize in tests to avoid Windows \\?\ prefix issues
  language: pygrep
  entry: \.canonicalize\(\)

no-direct-cmd-output:
  name: no-direct-cmd-output
  description: Use shell_exec::Cmd instead of cmd.output() for consistent logging
  language: pygrep
  entry: \.output\(\)

refactor: remove experimental() shortcode, use badge span directly (#1746)
  docs/content/faq.md
  docs/templates/shortcodes/experimental.html
  src/help.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

docs: add colored approval prompt to online docs (#1766)
  docs/content/faq.md
  docs/content/hook.md
  docs/content/llm-commits.md
  docs/sass/custom.scss
  skills/worktrunk/reference/faq.md
  skills/worktrunk/reference/hook.md
  skills/worktrunk/reference/llm-commits.md
  src/cli/mod.rs
  src/help.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix: bypass alias detection false positive on substring match in path (#1773)
  src/shell/detection.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

Fall back to effective URL for forge detection with url.insteadOf (#1771)
  src/commands/list/ci_status/github.rs
  src/commands/list/ci_status/platform.rs
  src/git/remote_ref/github.rs
  src/git/repository/branch.rs
  src/git/repository/mod.rs
  src/git/repository/remotes.rs
  tests/integration_tests/default_branch.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Syntect highlighting for template expression blocks (#1792)
  docs/CLAUDE.md
  docs/content/config.md
  docs/content/hook.md
  docs/content/list.md
  docs/content/step.md
  docs/templates/shortcodes/terminal.html
  skills/worktrunk/reference/claude-code.md
  skills/worktrunk/reference/config.md
  skills/worktrunk/reference/faq.md
  skills/worktrunk/reference/hook.md
  skills/worktrunk/reference/list.md
  skills/worktrunk/reference/llm-commits.md
  skills/worktrunk/reference/remove.md
  skills/worktrunk/reference/step.md
  skills/worktrunk/reference/switch.md
  skills/worktrunk/reference/tips-patterns.md
  skills/worktrunk/reference/worktrunk.md
  src/docs.rs
  tests/integration_tests/readme_sync.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Regenerate tend workflows (#1796)
  .config/tend.toml
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-renovate.yaml
  .github/workflows/tend-triage.yaml
Due: none

chore: clippy sort_by_key and stabilize thread ID in snapshot (#1808)
  src/git/repository/branches.rs
  tests/integration_tests/hook_show.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Remove dead `parse_remote_owner` function (#1814)
  src/git/mod.rs
  src/git/url.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

Simplify code by extracting helpers and normalizing config (#1813)
  src/commands/list/collect/mod.rs
  src/config/user/accessors.rs
  src/config/user/mod.rs
  src/config/user/mutation.rs
  src/config/user/persistence.rs
  src/config/user/resolved.rs
  src/config/user/tests.rs
  src/git/remote_ref/github.rs
  src/git/remote_ref/gitlab.rs
  src/git/remote_ref/mod.rs
  src/main.rs
  src/output/handlers.rs
  src/shell_exec.rs
  tests/common/mod.rs
  tests/integration_tests/shell_wrapper.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs: add config example file guidance to Documentation section (#1829)
  CLAUDE.md
Due: none

feat: add `wt config plugins claude install/uninstall` (#1830)
  docs/content/config.md
  skills/worktrunk/reference/config.md
  src/cli/config.rs
  src/cli/mod.rs
  src/commands/config/mod.rs
  src/commands/config/plugins.rs
  src/commands/config/show.rs
  src/commands/mod.rs
  src/main.rs
  tests/common/mod.rs
  tests/integration_tests/config_show.rs
  tests/snapshots/integration__integration_tests__config_show__plugins_claude_install.snap
  tests/snapshots/integration__integration_tests__config_show__plugins_claude_install_already_installed.snap
  tests/snapshots/integration__integration_tests__config_show__plugins_claude_install_claude_not_found.snap
  tests/snapshots/integration__integration_tests__config_show__plugins_claude_install_command_fails.snap
  tests/snapshots/integration__integration_tests__config_show__plugins_claude_install_second_step_fails.snap
  tests/snapshots/integration__integration_tests__config_show__plugins_claude_uninstall.snap
  tests/snapshots/integration__integration_tests__config_show__plugins_claude_uninstall_command_fails.snap
  tests/snapshots/integration__integration_tests__config_show__plugins_claude_uninstall_not_installed.snap
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
  tests/snapshots/integration__integration_tests__help__help_config_short.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Show defaults uncommented in config example (#1832)
  dev/config.example.toml
  docs/content/config.md
  skills/worktrunk/reference/config.md
  src/cli/mod.rs
  src/output/commit_generation.rs
  tests/integration_tests/readme_sync.rs
  tests/snapshots/integration__integration_tests__help__help_config_create.snap
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix: handle branch names with dots in vars parsing (#1837)
  src/git/repository/config.rs
  tests/integration_tests/config_state.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Add coverage test for project config documentation (#1844)
  tests/integration_tests/readme_sync.rs
Due: no-dbg, no-std-canonicalize-in-tests

Document hooks in user config (#1845)
  dev/config.example.toml
  dev/wt.example.toml
  docs/content/config.md
  skills/worktrunk/reference/config.md
  src/cli/mod.rs
  tests/snapshots/integration__integration_tests__help__help_config_create.snap
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

test: add PTY test for prompt preview (?) path (#1849)
  tests/integration_tests/config_show.rs
Due: no-dbg, no-std-canonicalize-in-tests

fix: separate misplaced doc comments for template_references_var and validate_template (#1862)
  src/config/expansion.rs
Due: no-dbg, no-manual-ansi

refactor: rename bench `complete` group to `full` (#1870)
  benches/list.rs
Due: no-dbg, no-manual-ansi

chore: remove run_git_ok helper from remove benchmark (#1871)
  benches/remove.rs
Due: no-dbg, no-manual-ansi

refactor: share TOML parse between detection and migration (#1880)
  src/config/deprecation.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor: use static LazyLock pool for copy operations (#1894)
  src/commands/step_commands.rs
  src/copy.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor: extract classify_unknown_key to deduplicate warn logic (#1902)
  src/commands/config/show.rs
  src/config/deprecation.rs
  src/config/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix: run copy-ignored outer loop on dedicated copy pool (#1913)
  src/commands/step_commands.rs
  src/copy.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix: allow dev directory in flake.nix (#1924)
  flake.nix
Due: none

fix: redact PWD in snapshot env blocks (#1928)
  tests/common/mod.rs
  tests/snapshots/integration__integration_tests__merge__merge_cwd_removed_hint_fallback_to_list.snap
  tests/snapshots/integration__integration_tests__merge__merge_cwd_removed_hint_no_recovery.snap
  tests/snapshots/integration__integration_tests__merge__merge_post_merge_command_failure.snap
Due: no-dbg, no-std-canonicalize-in-tests

chore: remove lychee exclusion for opencode plugin path (#1929)
  .config/lychee.toml
Due: none

fix(opencode): fix broken unicode escaping depending on Bun version (#1935)
  dev/opencode-plugin.ts
Due: none

refactor: simplify copy_leaf and add file count test (#1951)
  src/commands/step_commands.rs
  src/copy.rs
  tests/integration_tests/step_copy_ignored.rs
  tests/snapshots/integration__integration_tests__step_copy_ignored__copy_ignored_counts_files_not_entries.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

refactor: extract StepCommand::Commit and Squash into Args structs (#1954)
  src/cli/step.rs
  src/main.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

perf: cache git_dir() to eliminate redundant rev-parse calls (#1957)
  src/git/repository/diff.rs
  src/git/repository/mod.rs
  src/git/repository/working_tree.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

perf: stream prune integration checks, parallel removals (#1950)
  src/commands/step_commands.rs
  tests/integration_tests/step_prune.rs
  tests/snapshots/integration__integration_tests__step_prune__prune_stale_plus_young_non_dry_run.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

feat: add --format=json to wt switch and CC worktree hooks (#1959)
  .claude-plugin/hooks/hooks.json
  docs/content/claude-code.md
  docs/content/switch.md
  skills/worktrunk/reference/claude-code.md
  skills/worktrunk/reference/switch.md
  src/cli/mod.rs
  src/commands/handle_switch.rs
  src/main.rs
  tests/integration_tests/output_system_guard.rs
  tests/integration_tests/switch.rs
  tests/snapshots/integration__integration_tests__help__help_switch_long.snap
  tests/snapshots/integration__integration_tests__help__help_switch_short.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs: document infallible vs fallible DashMap cache patterns (#1962)
  src/git/repository/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

refactor: share TestRepo across lib and bin unit tests (#1963)
  src/commands/list/collect/execution.rs
  src/commands/list/json_output.rs
  src/commands/picker/summary.rs
  src/config/expansion.rs
  src/config/mod.rs
  src/config/test.rs
  src/config/user/tests.rs
  src/git/recover.rs
  src/lib.rs
  src/testing.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix: use correct CC WorktreeCreate input field (#1964)
  .claude-plugin/hooks/hooks.json
Due: none

perf: cache integration target and reason in RepoCache (#1966)
  src/git/repository/integration.rs
  src/git/repository/mod.rs
  tests/integration_tests/step_prune.rs
  tests/snapshots/integration__integration_tests__step_prune__prune_removes_integrated_detached.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

feat: per-command log files for background hooks (#1934)
  src/commands/handle_switch.rs
  src/commands/hook_filter.rs
  src/commands/hooks.rs
  src/commands/pipeline_spec.rs
  src/commands/run_pipeline.rs
  src/git/mod.rs
  tests/integration_tests/post_start_commands.rs
  tests/integration_tests/user_hooks.rs
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_mixed_user_pipeline_project_flat.snap
  tests/snapshots/integration__integration_tests__switch__switch_combined_hooks.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_and_project_post_start.snap
  tests/snapshots/integration__integration_tests__user_hooks__user_and_project_unnamed_post_start.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix: strip `$ ` prompt from terminal help for copy-paste (#1992)
  src/md_help.rs
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
  tests/snapshots/integration__integration_tests__help__help_config_show.snap
  tests/snapshots/integration__integration_tests__help__help_config_state.snap
  tests/snapshots/integration__integration_tests__help__help_config_state_default_branch.snap
  tests/snapshots/integration__integration_tests__help__help_config_state_logs.snap
  tests/snapshots/integration__integration_tests__help__help_config_state_marker.snap
  tests/snapshots/integration__integration_tests__help__help_hook_approvals.snap
  tests/snapshots/integration__integration_tests__help__help_list_long.snap
  tests/snapshots/integration__integration_tests__help__help_list_narrow_80.snap
  tests/snapshots/integration__integration_tests__help__help_merge_long.snap
  tests/snapshots/integration__integration_tests__help__help_remove_long.snap
  tests/snapshots/integration__integration_tests__help__help_step_long.snap
  tests/snapshots/integration__integration_tests__help__help_step_promote.snap
  tests/snapshots/integration__integration_tests__help__help_switch_long.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix: use effective integration target in RemovedWorktree display (#1993)
  src/commands/repository_ext.rs
  tests/integration_tests/remove.rs
  tests/snapshots/integration__integration_tests__remove__remove_worktree_squash_merged_on_remote.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

Path conditions:
  cargo-lock: any of: (Cargo\.toml|Cargo\.lock)$
  no-dbg: any of: \.rs$
  no-manual-ansi: any of: \.rs$, but not: ^(tests/|.*_test\.rs$|src/styling/(mod|format)\.rs$|src/commands/select/)
  no-std-canonicalize-in-tests: any of: ^tests/
  no-direct-cmd-output: any of: \.rs$, but not: ^(src/shell_exec\.rs|src/commands/select/|src/config/(test|expansion|mod)\.rs|src/config/user/tests\.rs|src/styling/mod\.rs|tests/|benches/)
