Repository shaneholloman/worktrunk: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-lock, no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '.*\.snap$'
      - id: check-yaml
      - id: mixed-line-ending
      - id: trailing-whitespace
        # rustfmt handles rust files, and in snapshots we expect trailing spaces.
        exclude: '.*\.(rs|snap)$'
  # pre-commit autoupdate reverts to mutable v1 tag; update manually
  - repo: https://github.com/crate-ci/typos
    rev: v1.41.0
    hooks:
      - id: typos
        # https://github.com/crate-ci/typos/issues/347
        pass_filenames: false
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: fmt
  - repo: https://github.com/r0x0d/pre-commit-rust
    rev: v1.0.1
    hooks:
      - id: clippy
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]
  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.22.0
    hooks:
      # Check links using .config/lychee.toml exclusions
      # Uses lychee-system (requires `cargo install lychee`) to avoid /bin/bash dependency on Windows
      - id: lychee-system
        types: [markdown]
        args:
          - --config=.config/lychee.toml
  - repo: local
    hooks:
      - id: cargo-lock
        name: cargo-lock
        description: Ensure Cargo.lock is in sync with Cargo.toml
        language: system
        entry: cargo check --locked
        pass_filenames: false
        files: (Cargo\.toml|Cargo\.lock)$
      - id: no-dbg
        name: no-dbg
        description: We shouldn't merge code with `dbg!` in
        language: pygrep
        types: ["rust"]
        entry: "dbg!"
      - id: no-manual-ansi
        name: no-manual-ansi
        description: Use anstyle/osc8/strip-ansi-escapes instead of manual ANSI codes
        language: pygrep
        types: ["rust"]
        entry: '\\x1b\['
        # format.rs strips ANSI codes injected by wrap_ansi crate
        # select.rs tests verify ANSI dimming behavior
        exclude: '^(tests/|.*_test\.rs$|src/styling/(mod|format)\.rs$|src/commands/select/)'
      - id: no-std-canonicalize-in-tests
        name: no-std-canonicalize-in-tests
        description: Use dunce::canonicalize in tests to avoid Windows \\?\ prefix issues
        language: pygrep
        entry: '\.canonicalize\(\)'
        files: '^tests/'
      - id: no-direct-cmd-output
        name: no-direct-cmd-output
        description: Use shell_exec::Cmd instead of cmd.output() for consistent logging
        language: pygrep
        types: ["rust"]
        entry: '\.output\(\)'
        # shell_exec.rs: defines Cmd which legitimately calls .output()
        # select.rs: skim API's selected.output() is not Command::output()
        # tests/benches: test utilities run commands directly
        # src/config/{test,expansion,mod}.rs: TestRepo test fixtures use git init directly
        # src/config/user/tests.rs: TestRepo test fixtures use git init directly
        # src/styling/mod.rs: terminal width detection probes should be silent/quick
        exclude: '^(src/shell_exec\.rs|src/commands/select/|src/config/(test|expansion|mod)\.rs|src/config/user/tests\.rs|src/styling/mod\.rs|tests/|benches/)'

ci:
  # pre-commit.ci doesn't have Rust toolchain, so skip Rust-specific hooks.
  # Network access also isn't supported, so skip lychee-system.
  skip: [fmt, clippy, lychee-system, cargo-lock]
  autoupdate_commit_msg: "chore: pre-commit autoupdate"

perf(list): plan background tasks from the columns being rendered (#3274)
  dev/config.example.toml
  docs/content/config.md
  skills/worktrunk/reference/config.md
  src/cli/mod.rs
  src/commands/list/collect/execution.rs
  src/commands/list/collect/mod.rs
  src/commands/list/collect/types.rs
  src/commands/list/columns.rs
  src/commands/list/layout.rs
  src/commands/picker/mod.rs
  src/commands/statusline.rs
  tests/integration_tests/list_config.rs
  tests/snapshots/integration__integration_tests__help__help_config_create.snap
  tests/snapshots/integration__integration_tests__help__help_config_long.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(picker): show the resolved config path in disabled-summary hints (#3290)
  src/commands/picker/mod.rs
  tests/integration_tests/switch_picker.rs
  tests/snapshots/integration__integration_tests__switch_picker__switch_picker_preview_summary_disabled_preview.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

perf(switch): prime the picker comments tab from the worktree CI fetch (#3299)
  src/commands/list/ci_status/github.rs
  src/commands/list/ci_status/mod.rs
  src/commands/picker/preview_cache.rs
  src/commands/picker/prs.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

perf(statusline): size from COLUMNS, drop the parent-TTY walk (#3286)
  CHANGELOG.md
  src/commands/statusline.rs
  src/styling/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix: fence user-controlled refs against git flag injection (#3317)
  src/commands/mod.rs
  src/commands/picker/items.rs
  src/commands/worktree/push.rs
  src/git/remove.rs
  src/output/handlers.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

test(switch_picker): fix Windows prompt-echo-lag flake; forbid retries (#3331)
  tests/CLAUDE.md
  tests/integration_tests/switch_picker.rs
Due: no-dbg, no-std-canonicalize-in-tests

bench(list): consolidate synthetic `wt list` benches into one `full` group (#3335)
  benches/CLAUDE.md
  benches/list.rs
  tests/helpers/wt-perf/src/lib.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests

perf(diff): use merge_base_by_sha on the all-SHA branch-diff path (#3340)
  src/git/repository/diff.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

chore: update tend workflows (0.1.7 → 0.1.9) (#3339)
  .github/workflows/tend-ci-fix.yaml
  .github/workflows/tend-mention.yaml
  .github/workflows/tend-nightly.yaml
  .github/workflows/tend-notifications.yaml
  .github/workflows/tend-review-runs.yaml
  .github/workflows/tend-review.yaml
  .github/workflows/tend-triage.yaml
  .github/workflows/tend-weekly.yaml
Due: none

docs(readme): bump intro blockquote month to July 2026 (#3347)
  README.md
Due: none

feat(picker): flash alt-x removal-failure reasons in the header (#3350)
  src/commands/picker/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

docs(skills): make /wt-switch-create worktree creation unconditional (#3356)
  skills/wt-switch-create/SKILL.md
  skills/wt-switch-create/rationale.md
Due: none

feat(approvals): add `wt config approvals list` and `clear --stale` (#3380)
  .claude/skills/writing-user-outputs/SKILL.md
  docs/content/config.md
  skills/worktrunk/reference/config.md
  src/cli/config.rs
  src/commands/command_approval.rs
  src/commands/config/approvals.rs
  src/commands/config/mod.rs
  src/commands/mod.rs
  src/commands/project_config.rs
  src/config/approvals.rs
  src/main.rs
  tests/integration_tests/approvals.rs
  tests/snapshots/integration__integration_tests__approvals__clear_approvals_stale.snap
  tests/snapshots/integration__integration_tests__approvals__clear_approvals_stale_global_conflict.snap
  tests/snapshots/integration__integration_tests__approvals__clear_approvals_stale_no_config.snap
  tests/snapshots/integration__integration_tests__approvals__clear_approvals_stale_none.snap
  tests/snapshots/integration__integration_tests__approvals__list_approvals_after_clear_stale.snap
  tests/snapshots/integration__integration_tests__approvals__list_approvals_all_approved.snap
  tests/snapshots/integration__integration_tests__approvals__list_approvals_mixed.snap
  tests/snapshots/integration__integration_tests__approvals__list_approvals_no_config.snap
  tests/snapshots/integration__integration_tests__approvals__list_approvals_stale_only.snap
  tests/snapshots/integration__integration_tests__help__help_config_approvals.snap
  tests/snapshots/integration__integration_tests__help__help_config_approvals_clear.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs(remote_ref): include Gitea in provider trait docstrings (#3360)
  src/git/remote_ref/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

Release v0.66.0 (#3385)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock

feat(remove): add experimental --reap to kill worktree processes (#3396)
  docs/content/remove.md
  skills/worktrunk/reference/remove.md
  src/cli/mod.rs
  src/commands/remove.rs
  src/commands/worktree/types.rs
  src/git/mod.rs
  src/git/reap.rs
  tests/integration_tests/remove.rs
  tests/snapshots/integration__integration_tests__help__help_remove_long.snap
  tests/snapshots/integration__integration_tests__help__help_remove_short.snap
  tests/snapshots/integration__integration_tests__remove__remove_reap_no_processes.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(nix): provide lsof to the flake's test sandbox (#3410)
  .github/workflows/nightly.yaml
  flake.nix
  tests/integration_tests/remove.rs
Due: no-dbg, no-std-canonicalize-in-tests

fix(test): tolerate the prune race in picker alt-x branch assertions (#3412)
  src/commands/picker/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

Release v0.67.0 (#3416)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cargo-lock

skills(running-tend): weigh root-cause fix over lossy config workaround (#3414)
  .claude/skills/running-tend/SKILL.md
Due: none

fix(shell): stop PowerShell wrapper leaking a stray exit-code line to stdout (#3425)
  src/shell/snapshots/worktrunk__shell__tests__init_powershell.snap
  templates/powershell.ps1
  tests/integration_tests/shell_powershell.rs
Due: no-dbg, no-std-canonicalize-in-tests

docs(plugins): record the deliberate absence of a manifest version field (#3434)
  plugins/worktrunk/CLAUDE.md
Due: none

refactor(config): source config-file labels from ConfigFileKind::label() (#3432)
  src/commands/config/create.rs
  src/config/project.rs
  src/config/user/mod.rs
  src/config/user/tests.rs
  src/diagnostic.rs
  src/git/repository/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

feat(list): demote branch-worktree mismatch from red flag to dim info (#3419)
  .claude/skills/writing-user-outputs/SKILL.md
  docs/content/list.md
  skills/worktrunk/reference/list.md
  src/cli/mod.rs
  src/commands/list/model/item.rs
  src/commands/list/model/state.rs
  src/commands/list/model/status_symbols.rs
  src/commands/picker/mod.rs
  src/commands/remove.rs
  src/commands/repository_ext.rs
  src/commands/step/prune.rs
  src/commands/template_vars.rs
  src/commands/worktree/finish.rs
  src/commands/worktree/mod.rs
  src/commands/worktree/resolve.rs
  src/commands/worktree/switch.rs
  src/commands/worktree/types.rs
  src/md_help.rs
  src/output/handlers.rs
  tests/integration_tests/remove.rs
  tests/integration_tests/switch.rs
  tests/snapshots/integration__integration_tests__help__help_list_long.snap
  tests/snapshots/integration__integration_tests__help__help_list_narrow_80.snap
  tests/snapshots/integration__integration_tests__list__list_branches_with_nonexistent_default_branch.snap
  tests/snapshots/integration__integration_tests__list__list_detached_head.snap
  tests/snapshots/integration__integration_tests__list__list_detached_head_in_worktree.snap
  tests/snapshots/integration__integration_tests__list__list_full_with_nonexistent_default_branch.snap
  tests/snapshots/integration__integration_tests__list__list_nested_worktree_current_indicator.snap
  tests/snapshots/integration__integration_tests__list__list_primary_on_different_branch.snap
  tests/snapshots/integration__integration_tests__list__list_task_dag_detached_head.snap
  tests/snapshots/integration__integration_tests__list__list_warns_when_default_branch_missing_worktree.snap
  tests/snapshots/integration__integration_tests__list__list_with_nonexistent_default_branch.snap
  tests/snapshots/integration__integration_tests__remove__remove_path_mismatch.snap
  tests/snapshots/integration__integration_tests__remove__remove_path_mismatch_foreground.snap
  tests/snapshots/integration__integration_tests__step_promote__promote_shows_mismatch_in_list.snap
  tests/snapshots/integration__integration_tests__switch__switch_already_at_branch_worktree_mismatch.snap
  tests/snapshots/integration__integration_tests__switch__switch_branch_worktree_mismatch.snap
  tests/snapshots/integration__integration_tests__switch__switch_branch_worktree_mismatch_no_shell.snap
  tests/snapshots/integration__integration_tests__user_hooks__combined_post_remove_and_post_switch_verbose.snap
  tests/snapshots/integration__integration_tests__user_hooks__hook_verbose_variable_table.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(plugin): ship skills to Codex installs via a generated real-file mirror (#3440)
  CLAUDE.md
  plugins/worktrunk/.codex-plugin/plugin.json
  plugins/worktrunk/CLAUDE.md
  plugins/worktrunk/skills
  plugins/worktrunk/skills/worktrunk/SKILL.md
  plugins/worktrunk/skills/worktrunk/reference/README.md
  plugins/worktrunk/skills/worktrunk/reference/claude-code.md
  plugins/worktrunk/skills/worktrunk/reference/code-signing.md
  plugins/worktrunk/skills/worktrunk/reference/config.md
  plugins/worktrunk/skills/worktrunk/reference/extending.md
  plugins/worktrunk/skills/worktrunk/reference/faq.md
  plugins/worktrunk/skills/worktrunk/reference/hook.md
  plugins/worktrunk/skills/worktrunk/reference/list.md
  plugins/worktrunk/skills/worktrunk/reference/llm-commits.md
  plugins/worktrunk/skills/worktrunk/reference/merge.md
  plugins/worktrunk/skills/worktrunk/reference/remove.md
  plugins/worktrunk/skills/worktrunk/reference/shell-integration.md
  plugins/worktrunk/skills/worktrunk/reference/step.md
  plugins/worktrunk/skills/worktrunk/reference/switch.md
  plugins/worktrunk/skills/worktrunk/reference/tips-patterns.md
  plugins/worktrunk/skills/worktrunk/reference/troubleshooting.md
  plugins/worktrunk/skills/worktrunk/reference/worktrunk.md
  plugins/worktrunk/skills/wt-switch-create/SKILL.md
  plugins/worktrunk/skills/wt-switch-create/rationale.md
  tests/integration_tests/config_show.rs
  tests/integration_tests/readme_sync.rs
Due: no-dbg, no-std-canonicalize-in-tests

fix(list): show full git error text in task-failure warnings (#3442)
  src/commands/list/collect/mod.rs
  src/styling/format.rs
  src/styling/mod.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix(shell): detect the current shell from the process tree, not $SHELL (#3455)
  plugins/worktrunk/skills/worktrunk/reference/shell-integration.md
  skills/worktrunk/reference/shell-integration.md
  src/commands/config/show.rs
  src/commands/configure_shell.rs
  src/output/shell_integration.rs
  src/shell/detection.rs
  src/shell/mod.rs
  src/shell/utils.rs
  src/testing/mod.rs
  tests/integration_tests/config_show.rs
  tests/integration_tests/configure_shell.rs
  tests/integration_tests/shell_integration_prompt.rs
  tests/snapshots/integration__integration_tests__config_show__config_show_detected_shell_via_process_tree.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix: resolve project config from bare root when primary worktree is off default branch (#3462)
  src/config/project.rs
  src/git/repository/config.rs
  tests/integration_tests/bare_repository.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

fix(errors): normalize carriage returns in captured stdout like stderr (#3459)
  src/git/error.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

fix: resolve default-branch project config by name, not cwd HEAD (#3466)
  src/git/repository/config.rs
  tests/integration_tests/bare_repository.rs
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

docs(claude): scope the generated-mirror rule to the files that are mirrors (#3468)
  CLAUDE.md
Due: none

feat(config): flag stale default-branch cache in wt config state (#3471) (#3478)
  docs/content/config.md
  plugins/worktrunk/skills/worktrunk/reference/config.md
  skills/worktrunk/reference/config.md
  src/cli/config.rs
  src/commands/config/state.rs
  src/git/repository/config.rs
  tests/integration_tests/config_state.rs
  tests/snapshots/integration__integration_tests__config_state__state_show_default_branch_drift_warns.snap
  tests/snapshots/integration__integration_tests__help__help_config_state_default_branch.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output

skills(running-tend): scope data-loss review hold to the diff, not the file (#3457)
  .claude/skills/running-tend/references/review-pr.md
Due: none

fix(tests): restore hidden-subcommand completion coverage (#3492)
  tests/integration_tests/completion_validation.rs
Due: no-dbg, no-std-canonicalize-in-tests

docs: correct stale references found in nightly survey (#3490)
  benches/CLAUDE.md
  src/commands/list/ci_status/github.rs
  src/commands/list/ci_status/gitlab.rs
Due: no-dbg, no-manual-ansi, no-direct-cmd-output

Name the template owner in the -v variables block (#3495)
  docs/content/step.md
  plugins/worktrunk/skills/worktrunk/reference/step.md
  skills/worktrunk/reference/step.md
  src/cli/step.rs
  src/commands/alias.rs
  src/commands/command_executor.rs
  src/commands/eval.rs
  src/commands/hooks.rs
  tests/snapshots/integration__integration_tests__eval__eval_format_json_verbose.snap
  tests/snapshots/integration__integration_tests__eval__eval_verbose.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_verbose_output.snap
  tests/snapshots/integration__integration_tests__post_start_commands__post_start_verbose_template_expansion.snap
  tests/snapshots/integration__integration_tests__step_alias__alias_verbose_args_shell_escaped.snap
  tests/snapshots/integration__integration_tests__step_alias__alias_verbose_variable_table.snap
  tests/snapshots/integration__integration_tests__user_hooks__combined_post_remove_and_post_switch_verbose.snap
  tests/snapshots/integration__integration_tests__user_hooks__hook_verbose_background_dedup.snap
  tests/snapshots/integration__integration_tests__user_hooks__hook_verbose_variable_table.snap
Due: no-dbg, no-manual-ansi, no-std-canonicalize-in-tests, no-direct-cmd-output
